<!DOCTYPE html>
<html>
<body>

  <h1><%= @player_1.name.capitalize %> vs <%= @player_2.name.capitalize %></h1>

  <form method='post'>
    <input type="submit" value="Rock" formaction="/stand_off?player_1_weapon=R">
    <input type="submit" value="Paper" formaction="/stand_off?player_1_weapon=P">
    <input type="submit" value="Scissor" formaction="/stand_off?player_1_weapon=S">
  </form>

  <% if @result %>
    <p><%= @result %></p>
    <p><%= @player_2.name.capitalize  %> used <%= @player_2.weapon %></p>
  <% end %>

</body>
</html>
