<link rel="stylesheet" type="text/css" href="/styles.css">
<h1 class='flashing'><%= @my_data[:name] %></h1>
<%= "<h1 class='flashing'>Vs #{@their_name}</h1>" if @their_name %>
<% if waiting? %>
<p>Waiting for other player</p><br>
<% scores = print_scores if @my_score %>
<%= scores %>
<form action='/multi' method='post' name='Check again'>
<p><button id='check' name='Check again' value='Check again'>Check again</button></p>
</form>
<% else %>
  <% if @my_move && @their_move  %>
    <% if @result == :win %>
      <h1>You Win!</h1>
      <p><%= @their_name%> took move `<%= @their_move %>`, and you played `<%= @my_move %>`.</p>
    <% elsif @result == :lose %>
      <h1>You Lose!</h1>
      <p><%= @their_name%> took move `<%= @their_move %>`, and you played `<%= @my_move %>`.</p>
    <% else %>
      <h1>Draw!</h1>
      <p>You both played `<%= @my_move %>`.</p>
    <% end %>
    <%= print_scores %>
    <p>Play again:</p>
  <% end  %>
<form action='/multi' method='post' align='center'>
  <button type='submit' name='move' value='rock'>Rock</button>
  <button type='submit' name='move' value='paper'>Paper</button>
  <button type='submit' name='move' value='scissors'>Scissors</button><br>
  <button type='submit' name='move' value='lizard'>Lizard</button>
  <button type='submit' name='move' value='spock'>Spock</button>
</form>
<% end %>
<script>
setInterval(function () {document.getElementById("check").click();}, 300);</script>