Welcome to Rock Paper Scissors <%= @player_1_name %> <br>
<!-- <%= @player_1_name %> vs.<%= @player_2_name %> <br>
<%= @player_1_name %> has <%= @player_1_points %> hit points <br>
<%= @player_2_name %> has <%= @player_2_points %> hit points <br> -->

<!-- <%= @current_player %> attacked <%= @opponent %> -->

<!-- <form action="/attack" method="post">
  <input type="submit" value="Attack">
</form> -->
