<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rock, Paper, Scissors, Lizard, Spock!</title>
  <meta name="author" content="Rob Brentnall">
  <meta name="description" content="Play Rock, Paper, Scissors, Lizard, Spock now and let off a little steam! Created with love for the Makers Academy Marketing Array ( MAMA ).">
  <meta name="keywords" content="rocks, paper, scissors, game">
  <link href="//fonts.googleapis.com/css?family=Assistant&subset=latin" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="play.css" />
  <script src="https://use.fontawesome.com/c6d6077668.js"></script>
  </head>
  <body>
    <header><h1>Rock, Paper, Scissors, Lizard, Spock!</h1></header>
    <main class="main">
      <h2 class="play-h2"><%= @game.players[:player_1][:name] %> vs. <%= @game.players[:player_2][:name] %></h2>
      <div class="left">
        <%= @game.players[:player_1][:name] %> chooses <%= @game.players[:player_1][:choice] %>!
        <div class="icon-holder">
          <i class="fa fa-hand-<%= @game.players[:player_1][:choice].downcase %>-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="right">
        <%= @game.players[:player_2][:name] %> chooses <%= @game.players[:player_2][:choice] %>!
        <div class="icon-holder">
          <i class="fa fa-hand-<%= @game.players[:player_2][:choice].downcase %>-o" aria-hidden="true"></i>
        </div>
      </div>
        <form action="/result">
          <button class="play-confirm" type="submit" value="Game on!">Game on!</button>
        </form>
    </main>
  </body>
</html>
