<% if @choice.nil? %>
<h1><%= @name %> vs Computer</h1>
<h2>Choose: </h2>
<form action="/rock" method="POST">
<input type="submit" value="Rock">
</form>
<form action="/paper" method="POST">
<input type="submit" value="Paper">
</form>
<form action="/scissors" method="POST">
<input type="submit" value="Scissors">
</form>
<h2>The computer will choose randomly</h2>
<% else %>
<br>
<h1><%= @name %> chose <%= @choice %></h1>
<h1>The computer chose <%= @computer %></h1>
 <br>
<% beatmap = { 'Scissors' => 'Paper', 'Paper' => 'Rock', 'Rock' => 'Scissors' }%>
  <% if @choice == @computer %>
   <h1>It's a Draw!</h1>
  <% elsif beatmap[@choice] == @computer %>
    <h1><%= @name %> won!</h1>
  <% else %>
    <h1>The computer won!</h1>
  <% end %>
<% end %>
