You chose <%= @choice %>.<br>
The computer makes its selection...<br>
And you <%= @result %>!<br>
<br>
<%= @game.name %>: <%= @game.wins %><br>
Computer: <%= @game.losses %><br>
Draws: <%= @game.draws %><br>
<br>
<a href='/game'>Play Again</a>