<!DOCTYPE html>
<html>
<body bgcolor="#C0DCFF">
  <div align="center">
    <br>
    <br>
    <h1><%= @game.p1.name %> picked <%= @game.p1.choice %>!</h1>
    <h1><%= @game.p2.name %> picked <%= @game.p2.choice %>!</h1>
    <h1><%= @game.result %></h1>

  </div>
</body>
</html>
