<h1> The result: </h1>
<h2> <p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;"><%=@game2.result%></p></h2>
<h3> Each player selected: </h3>
<div> <%=@Player1_name%> : <%=@Player1_selection%> </div>
<div> <%=@Player2_name%> : <%=@Player2_selection%> </div>
<h4>Congratulations to the winner! Here is an invisible bottle of Champagne...</h4>
