<%= @player1.name %> against <%= @player2.name %> <br>
<%= @player1.name%>: score <%=@player1.score%> <br>
<%= @player2 %>: score<%=@player2.score%> 0<br>

<form action='/playing'>
<input type='submit' value= 'Play'>
</form>