<%= @player1.name %> against <%= @player2.name %> <br>
<%= @player1.name %>: score <%=@player1.score%> <br>
<%= @player2.name %>: score <%=@player2.score%> <br>

<form action='/playing'>
<input type='submit' value= 'Play'>
</form>