<%= @game.player1 %> against <%= @game.player2e %> <br>
<%= @game.player1.name %>: score <%=@game.player1.score%> <br>
<%= @game.player2.name %>: score <%=@game.player2.score%> <br>

<form action='/playing'>
<input type='submit' value= 'Play'>
</form>