<head>
  <link rel="stylesheet" type="text/css" href="action.css" />
</head>

<body>
  <center>
    <label id=banner>
      <%= @game.player.name %> choose <%=@game.player_move%>
    </label>
    <br>
    <label id=banner>
      Computer choose <%= @game.computer_move %>
    </label>
    <br>

    <label id=banner>
      You <%=@game.result%> this round
    </label>

    <% unless @game.over? %>
      <form action="/play" method="get" >
        <input type="submit" value="Next round">
      </form>
    <% end %>

    <% if @game.over? %>
      <h1>GAME OVER<h1>
      <h2>The winner is <%= @game.outcome %>!!!<h2>
    <% end %>

  </center>
</body>
