<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rock, Paper, Scissors</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>

<body>
  <h1>Rock, Paper, Scissors</h1>

  <div id="player1">
    <p><%=session[:player].name%> has chosen <%=session[:move]%></p>
  </div>

  <div id="player2">
    <p><%=session[:player2].name%> has chosen <%=session[:player2].choice%></p>
  </div>

  <div id="result">
    <%if @game.winner == :draw %>
      <p>It's a draw</p>
    <%else%>
      <p>The winner is <%=@game.winner.name%>  </p>
    <%end%>
  </div>

  <p><a href='/' id="new_game">New Game</a></p>
</body>
</html>
