<center>
<h2><%=@player_1%> played <%=@attack%>.</h2>
<h2><%=@player_2%> played <%=@return_attack%>.</h2>
<h2><%=@player_1%> <%=@outcome.to_s%>s this round!</h2>
<form action='/' method='get'>
  <input type='submit' value='Home'>
</form>
