<head>
<link rel="stylesheet" type="text/css" href="main_style.css">
</head>

<div><%= @player_one_name %> attacks with: <%= @player_one_atk %> </div>
<div><%= @player_two_name %> attacks with: <%= @player_two_atk %> </div>

<% if @winner_name != :draw%>
<div><%= @winner_name%> wins the round!</div>
<% else %>
<div>This round ends in a draw!</div>
<% end %>

<form action='/game'>
  <button type='submit' id='continue_button'>Continue to next round</button>
</form>
