<head>
<link rel="stylesheet" type="text/css" href="/style.css"
</head>
<body>
<h3> <%= @game.player1.name %> attacked <%= @game.player2.name %> with: <%= @game.player1.move %> </h3>


<h3> <%= @game.player2.name %> attacked <%= @game.player1.name %> with: <%= @game.player2.move %></h3>

<p> <%= @something %> is the winner! </p>


<form action="/turn_over" method="post">
<button class="button" input type="submit" value="OK">
</form>
</body>
