<h1>R.P.S Game</h1>
<h2><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h2>

<%= @game.player_1.name %> chose <%= @game.player_1.choice %>
  /  <%= @game.player_2.name %> chose <%= @game.player_2.choice %> <br><br>


The winner is ... <%= @game.winner %>!
