<h1>So now it is time for the results!!<h1>

<h2><%= @game.player.name %> you have chosen <%= @P1answer %></h2>
<h2><%= @game.opponent.name %> you have chosen <%= @P2answer %></h2>

<h1><%= @game.winner %>
