<%= @player_1_name %> chose <%= @weapon %>
</br>


<!-- # <%= @player_2_name %> chose <%= @computer_choice %>
# </br> -->
<!-- # <%= @player_1_name %> WON! -->

<form action="/play" method= "get">
  <input type="Submit" value="OK">
</form>
