
<% if @game.player2.is_a?(ComputerPlayer) && @game.current == @game.player1 %>
  <%= @game.name1 %> chose the <%= @game.choice1 %>!
  <form action='/outcome' method='get'><input type="submit" value="Outcome"/></form>

<% elsif @game.player2.is_a?(Player) && @game.current == @game.player1 %>
  <%= @game.name1 %> chose the <%= @game.choice1 %>!
  <form action='/play' method='get'><input type="submit" value="<%= @game.name2%>'s go"/></form>
  <% @game.switch %>
<% else %>
  <%=@game.name2 %> chose the <%= @game.choice2 %>!
  <form action='/outcome' method='get'><input type="submit" value="Outcome"/></form>
  <% @game.switch %>
<% end %>
