<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<!--
<div class="row">
  <div class="column" > -->

<p><%= @game.player_1.name %> chose <%= @game.player_1.choice %></p>

<% case @game.player_1.choice %>
<% when "rock" %>
  <img src="rock.jpg" class="img2">
<% when "paper" %>
  <img src="paper.jpg" class="img2">
<% when "scissors" %>
  <img src="scissors.jpg" class="img2">
<% end %>

  <!-- </div>

  <div class="column"> -->

<p><%= @game.player_2.name %> chose <%= @game.player_2.choice %> </p>

<% case @game.player_2.choice %>
<% when "rock" %>
  <img src="rock.jpg" class="img2">
<% when "paper" %>
  <img src="paper.jpg" class="img2">
<% when "scissors" %>
  <img src="scissors.jpg" class="img2">
<% end %>
<!-- 
  </div>
</div> -->

<p><% if @game.winner == 'draw' %>
  It's a draw!
  <% else %>
  <%= @game.winner.name %> wins!
  <% end %>
</p>
