<%= @player_1_name %> chose <%= @choice_1 %>
</br>
<!-- # <%= @player_2_name %> chose <%= @computer_choice %>
# </br>
# <%= @player_1_name %> WON! -->

<form action="/play" method= "get">
  <input type="Submit" value="OK">
</form>
