
<h1><%= @player_1_name %> sends <%= @player_1_weapon %> in to fight <%= @computer_opponent_name %>'s <%= @computer_opponent_weapon %> <h1>




<h2><%= @winner %></h2>

<h3><%= @player_1_name %> has <%= @player_1_score %></h3>

<h3><%= @computer_opponent_name %> has <%= @computer_opponent_score %></h3>

<h4><a href="/play">Shall we fight again?</a></h4>
