<div style='width: 400px; height: 600px; border: 3px solid red; text-align:center; margin:0 auto; '>
  <p><font size="8"><strong>ROCK PAPER SCISSORS</strong></font></p>
  <% session[:choice] = @choice %>
  <% session[:computer] = @computer %>  
  <p><font size="5"><%=session[:player1]%> presented <%=session[:choice]%></font></p>
  <div style='width: 400px' >
    <div style="float: left; width: 200px;">
    <% if session[:choice] == "rock" %>
    <p><img src='http://4.bp.blogspot.com/-QKw7nAW6ywk/VcUrWGBVjLI/AAAAAAAAQvA/OIdn2Xb0JpY/s320/rps%2Brock%2B2.jpg' width="190" align="left" ></p>
    <% elsif session[:choice] == "paper" %>
    <p><img src='http://2.bp.blogspot.com/-ouu82H4h-fY/VcUrW4GGJ2I/AAAAAAAAQvM/erhSlPpB-cI/s320/rps%2Bpaper%2B2' width="190" align="left"></p>    
    <% else %>
    <p><img src='http://2.bp.blogspot.com/-O0BS21v3AlA/VcUrW_g-85I/AAAAAAAAQvQ/B0twTnkeyPY/s320/rps%2Bscissors%2B2.jpg' width="190" align="left" ></p>    
    <% end %>
    </div>
    <div style="float: left; width: 200px;">
      <% if session[:computer] == 0 %>
    <p><img src='http://1.bp.blogspot.com/-g5vqDC63upk/VcUrWCwL1YI/AAAAAAAAQu8/hfGPzVBaV6Y/s320/rps%2Bpaper.jpg' width="190" align="right" ></p>
      <% elsif session[:computer] == 1 %>
    <p><img src='http://1.bp.blogspot.com/-_4g-uc5kcZo/VcUrWrzDYYI/AAAAAAAAQvI/q8AcOzXlmNA/s320/rps%2Brock.jpg' width="190" align="right"></p>    
    <% else %>
    <p><img src='http://1.bp.blogspot.com/-ScUkHgSi9vY/VcUrXEOaL_I/AAAAAAAAQvU/6utl4YopsFc/s320/rps%2Bscissors.jpg' width="190" align="right" ></p>    
    <% end %>     
    </div>
  </div>
      <% if session[:computer] == 0 %>
  <p><font size="5">The computer presented paper</font></p>
      <% elsif session[:computer] == 1 %>
  <p><font size="5">The computer presented rock</font></p>
    <% else %>
  <p><font size="5">The computer presented scissors</font></p>   
    <% end %> 
  <p><font size="5"><% if session[:choice] == "paper" %>
        <% if session[:computer] == 0 %>
          It's a tie!
        <% elsif session[:computer] == 1 %>
          Paper covers rock - <%=session[:player1]%> wins!
        <% else %>
          Scissors cuts paper - Computer wins!
        <% end %>
    <% elsif session[:choice] == "rock" %>
        <% if session[:computer] == 0 %>
          Paper covers rock - Computer wins
        <% elsif session[:computer] == 1 %>
          It's a tie!
        <% else %>
          Rock blunts scissors - <%=session[:player1]%> wins!
        <% end %>    
    <% else %>
        <% if session[:computer] == 0 %>
          Scissors cuts paper - <%=session[:player1]%> wins!
        <% elsif session[:computer] == 1 %>
          Rock blunts scissors - Computer wins!
        <% else %>
          It's a tie!
        <% end %>        
  <% end %>
<p><hr /><p>
    <font size="4"><p>Rematch?</p>
 <form action="/play_computer" method="post"> 
  <select name="choice">
      <option value = "rock">Rock</option>
      <option value = "paper">Paper</option>
  <option value = "scissors">Scissors</option>
  </select></p>
    <p><input type="submit" value ="Present Choice"> or <a href='/'><button type="button">Quit</button></a></p>   
<div>