<h1>Welcome to the RPS Dashboard</h1> <br>
<h2>Current match: <u> <%= @game.user_1.name %> </u> vs. <u> <%= @game.user_2.name %> </u> </h2>
<% if @game.over? %>
  <%= @game.winner.name %> wins with <%= @game.winner.move %>, beating <%= @game.loser.name %>'s <%= @game.loser.move %>
  <form action="/">
    <input type='submit' value='Restart'>
  </form>
<% else %>
    <% if @game.tie? %>
    <p>The game is a tie, both users played <%= @game.current_user.move %></p>
    <% end %>
  <br>
  <h3><b><%= @game.current_user.name %></b>'s turn.</h3>
  <br> Please select an option below. <br>
  <p>
    <form action="/rock">
      <input type='submit' value='Rock'>
    </form>

    <form action="/scissors">
      <input type='submit' value='Scissors'>
    </form>

    <form action="/paper">
        <input type='submit' value='Paper'>
    </form>
  <p>
<% end %>