<body>
				<center>
								<div>
												<div><%= Game.current_game.p1.name %>
																VS.
																<%= Game.current_game.p2.name %></div>
												<div><%= Game.current_game.p1.name %>
																chose
																<%= Game.current_game.p1_weapon %></div>
												<div><%= Game.current_game.p2.name %>
																chose
																<%= Game.current_game.p2_weapon %></div>
												<div>It's a draw!</div>
												<form action="/" method="get">
																<button id='play'>Play again</button>
												</form>
								</div>
				</center>
</body>
