<h3>You chose <%= $game.player1_weapon %>...<%=$game.player2.name%> chose <%=$game.player2_weapon%></h3>
<h3><%= $game.player1_weapon %> and <%= $game.player2_weapon %>?</h3>
<h1>It's a draw!</h1>
<form action="/" method="get">
    <input type="submit" value="...only victory will do?">
</form>
