<h1> <%= @game.player.name %> picked <%= @game.player.selection %> </h1>
<% if @game.opponent.name == nil %>
  <h1> Computer picked <%= @game.computer_choice %> </h1>
<% else %>
  <h1> <%= @game.opponent.name %> picked <%= @game.opponent.selection %> </h1>
<% end %>
<h2> Draw! </h2>
<img src="https://acegif.com/wp-content/gifs/handshake-2.gif"/>

<h2> Play again? </h2>
<form action = '/' method = 'get'>
  <input type = 'submit' value = 'Yesssssss' name = play>
</form>