<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <%= @game.player1.name %> chose <%= @game.player1.current_move %>.
  <br>
  <%= @game.player2.name %> chose <%= @game.player2.current_move %>.
  <br>

  <%= @game.win %>

  </body>
</html>
