<%= @game.player.name %> chose <%= @game.player.move.downcase %><br>
<%= @game.computer.name %> chose <%= @game.computer.move %><br>

<%= @game.declare_winner %> 
<br> The score is...
<%= @game.player.name %> <%= @game.player.score %> - <%= @game.computer.name %> <%= @game.computer.score %>
<br>
<form action='/new-game' method='post'>
  <input type="submit" value="New game">
</form>
