<h1>Result</h1>

<% if @game.winner.nil? %>
  <p>It's a tie!</p>
<% else %>
  <p><%= @game.winner.name %> wins! <%= @game.loser.name %> loses!</p>
<% end %>

<%= @game.winner.name %>: <%= @game.winner.choice %>
<br>
<%= @game.loser.name %>: <%= @game.loser.choice %>

 <a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a>
