<h1>And the results are in!!!</h1>

<div><%= Game.instance.name %> chose <%= Game.instance.player_one_selection %><div>
<div><%= Game.instance.name_two %> chose <%= Game.instance.player_two_selection %></div>
<h2><%= Game.instance.winner %> WINS!!!</h2>
