<div style='width: 400px; height: 600px; border: 3px solid #b10d19; text-align:center; margin:0 auto; '>
  <img src='http://4.bp.blogspot.com/-lYz_ZrnPp4Q/VcWhhY_wIqI/AAAAAAAAQv4/Cq2pe41m-64/s1600/rps%2B1.jpg' width="400">
  <% session[:choice2] = @choice2 %>
  <p><font size="5"><%=session[:player1]%> presented <%=session[:choice1]%></font></p>
  <div style='width: 400px' >
    <div style="float: left; width: 200px; height: 115px">
    <% if session[:choice1] == "rock" %>
    <p><img src='http://4.bp.blogspot.com/-QKw7nAW6ywk/VcUrWGBVjLI/AAAAAAAAQvA/OIdn2Xb0JpY/s320/rps%2Brock%2B2.jpg' width="190" align="left" ></p>
    <% elsif session[:choice1] == "paper" %>
    <p><img src='http://2.bp.blogspot.com/-ouu82H4h-fY/VcUrW4GGJ2I/AAAAAAAAQvM/erhSlPpB-cI/s320/rps%2Bpaper%2B2' width="190" align="left"></p>
    <% else %>
    <p><img src='http://2.bp.blogspot.com/-O0BS21v3AlA/VcUrW_g-85I/AAAAAAAAQvQ/B0twTnkeyPY/s320/rps%2Bscissors%2B2.jpg' width="190" align="left" ></p>
    <% end %>
    </div>
    <div style="float: left; width: 200px; height: 115px">
      <% if session[:choice2] == "paper" %>
    <p><img src='http://1.bp.blogspot.com/-g5vqDC63upk/VcUrWCwL1YI/AAAAAAAAQu8/hfGPzVBaV6Y/s320/rps%2Bpaper.jpg' width="190" align="right" ></p>
      <% elsif session[:choice2] == "rock" %>
    <p><img src='http://1.bp.blogspot.com/-_4g-uc5kcZo/VcUrWrzDYYI/AAAAAAAAQvI/q8AcOzXlmNA/s320/rps%2Brock.jpg' width="190" align="right"></p>
    <% else %>
    <p><img src='http://1.bp.blogspot.com/-ScUkHgSi9vY/VcUrXEOaL_I/AAAAAAAAQvU/6utl4YopsFc/s320/rps%2Bscissors.jpg' width="190" align="right" ></p>
    <% end %>
    </div>
  </div>
  <p><font size="5"><%=session[:player2]%> presented <%=session[:choice2]%></font></p>
  <p><font size="5"><% if session[:choice1] == "paper" %>
    <% if session[:choice2] == "paper" %>
          It's a tie!
    <% elsif session[:choice2] == "rock" %>
          Paper wraps rock - <%=session[:player1]%> wins!
        <% else %>
          Scissors cuts paper - <%=session[:player2]%> wins!
        <% end %>
    <% elsif session[:choice1] == "rock" %>
    <% if session[:choice2] == "paper" %>
          Paper wraps rock - <%=session[:player2]%> wins
    <% elsif session[:choice2] == "rock" %>
          It's a tie!
        <% else %>
          Rock blunts scissors - <%=session[:player1]%> wins!
        <% end %>
    <% else %>
    <% if session[:choice2] == "paper" %>
          Scissors cuts paper - <%=session[:player1]%> wins!
    <% elsif session[:cchoice2] == "rock" %>
          Rock blunts scissors - <%=session[:player2]%> wins!
        <% else %>
          It's a tie!
        <% end %>
  <% end %>
<p><hr /><p>
    <font size="4"><p>Rematch?</p>
  <p><font size="3"><strong>(<%= session[:player2] %>, no peeking!)</font></p>
  <p><font size="5"><strong><%= session[:player1] %> make your choice</strong></font></p>
 <div style="float: left; width: 130px; ">
 <form action="/play_friend" method="post">
  <select name="choice1">
      <option value = "rock">Rock</option>
      <option value = "paper">Paper</option>
  <option value = "scissors">Scissors</option>
  </select>
      </div>
      <div style="float: left; width: 130px; ">
    <input type="submit" value ="Present Choice">
      </div>
      <div style="float: left; width: 40px; ">
        or
   </div>
      <div style="float: left; width: 100px; ">
       <a href='/'><button type="button">Quit</button></a>
      </div>
</div>