<h2> <%= session[:player_1_name] %>  chose <%= session[:player1_choice] %></h2>
<h2> <%= session[:player2].name %> chose <%= session[:player2_choice] %> </h2>
<h1> The winner is... <%= @result %> </h1>
