<!DOCTYPE html>
<html>
  <body>
    <h3><%=@game.player1.name %> chose <%=@game.player1.shape.name%> </h3>
    <h3><%=@game.player2.name %> chose <%=@game.player2.shape.name%> </h3>
    <h1>GAME OVER! <%=@game.winner%></h1>
    <form action='/'>
      <button type='submit'>Play again</button>
    </form>
  </body>
</html>
