<p><%= @game.player_name %> chose <%= @game.player.move.capitalize %></p>

<h2><%= @game.result %></h2>

<p><%= @game.ai.name %> chose <%= @game.ai.move.capitalize %></p>

<form action="play">
  <input type="submit" value="Play Again">
</form>
