<head>
<link rel="stylesheet" type="text/css" href="main_style.css">
</head>

<h1><%= @player_one_name %> against <%= @player_two_name %></h1>

<h3><%= @player_one_name %> wins: <%= @player_one_wins %> </h3>
<h3><%= @player_two_name %> wins: <%= @player_two_wins %> </h3>

<form action='/choose_attack' method='post' value='Please choose your next attack'>
  <button type='submit' class='button' name='attack_type' id='paper_button' value='paper'>
    Paper
  </button>
  <button type='submit' class='button' name='attack_type' id='rock_button' value='rock'>
    Rock
  </button>
  <button type='submit' class='button' name='attack_type' id='scissors_button' value='scissors'>
    Scissors
  </button>
  <button type='submit' class='button' name='attack_type' id='lizard_button' value='lizard'>
    Lizard
  </button>
  <button type='submit' class='button' name='attack_type' id='spock_button' value='spock'>
    Spock
  </button>
</form>
