<div>
<form action="/game" method="post">
  <input type="text" name="element">
  <input type="submit" value="submit">
</form>
</div>

<% if @win %>
 <p>The opponent has chosen <%= @cpu_selection %></p>
  <h3><%= @win %></h3>
<% elsif @lose %>
 <p>The opponent has chosen <%= @cpu_selection %></p>
  <h3><%= @lose %></h3>
<% elsif %>
  <p>The opponent has chosen <%= @cpu_selection %></p>
   <h3><%= @tie %></h3>
<% else %>
  <p>Please type the element in the blank space</p>
<% end %>

