<style>
.style1{
  text-align: center;
  font-size:30px;
  border: 1px solid;
  padding: 50px;
  box-shadow: 5px 10px #888888;
  margin: 120px
}
.style2{
  font-size:20px;
}
</style>

<div class="style1">
  <p class="style2"><%= @player1%>: <%= @p1_pick %> The Machine: <%= @machine_pick %></p>
  <% if @p1_pick == @machine_pick %>
    <p><b>You tie!</p>
  <% elsif @p1_pick == "Rock" && @machine_pick == "Scissors"  %>
    <p><b><%= @player1%> you win!</p>
  <% elsif @p1_pick == "Paper" && @machine_pick == "Rock"  %>
    <p><b><%= @player1%> you win!</p>
  <% elsif @p1_pick == "Scissors" && @machine_pick == "Paper"  %>
    <p><b><%= @player1%> you win!</p>
  <% else %>
    <p><b>The Machine Wins!</p>
  <% end %>
  <form action="/names" method="post">
    <input type="hidden" name="player_1" value="<%= @player1%>">
    <input type="submit" value="Play Again">
  </form>
  <form action="/" method="get">
    <input type="submit" value="Quit">
  </form>
</div>
