<html>
  <body>
    <p><%= (@game.players[0]).name %> chose <%= (@game.players[0]).choice.capitalize %></p>
    <p><%= (@game.players[1]).name %> chose <%= (@game.players[1]).choice.capitalize %></p>
    <p><%= @game.outcome %></p>
    <form action='/play-again' method='get'>
      <input type='submit' value='Play again'>
    </form>
  </body>
</html>
