<% if @game.tie_game? %>
<h3> The battle is tied! Click to replay </h3>
<%else%>
<h1> GAME OVER! </h1>
<h3> <%= @game.player1.name %> used <%= @game.player1.move %>! </h3>
<h3> <%= @game.player2.name%> used <%= @game.player2.move %>! </h3>

<h2> <%= @game.winner %> has won the game!
<% end %>
<form action='/play'>
<button type='submit' >Rematch >
</form>
