<div style="font-family: arial">
<p>
<h1><%= @winner %></h1>
</p>
Your move:
<p>
<img alt="<%= @player_move %>" src="<%= @player_move %>.png" width="100" height="100" style="padding-left: 15px; padding-right: 15px;">
</p>
<p>
The computer's move:
</p>
<p>
<img alt="<%= @computer_move %>" src="<%= @computer_move %>.png" width="100" height="100" style="padding-left: 15px; padding-right: 15px;">
</p>
<p>
Choose your next move:
</p>
<p>
<%= erb :_choices %>
</p>
</div>
