<h1> VICTORY </h1>

<%=@game.winner.name%> is the champion!

Final score
<%=@game.name1 %>: <%= @game.score1 %>
<%=@game.name2 %>: <%= @game.score2 %>

<form action='/' method='get'><input type="submit" value="Play a new game"/></form>
