<%= @game.player_name %> has chosen <%= @game.player_weapon %>
<br><br>
Computer has chosen <%= @game.computer_weapon %>
<br><br>
<%= @game.outcome %>
<br><br>
Game Over
<br><br>
<%= @game.player_name %>: <%= @game.player_score %>
<br>
Computer: <%= @game.computer_score %>
<br><br>
<% if @game.outcome == 'YOU WIN' %>
  Despite your many failings, your human cunning has defeated me. What is this thing you call love?
<% else %>
  <%= @game.player_name %>, you are defeated.  You are weak.  Kiss my silicon fist, pathetic human.
<% end %>
<br><br>
<form action="/" method="get">
  <button name="play_again" type="submit">Play again?</button>
</form>
