<html>
<head>
  <title>Your RPS Game</title>
  <link href="<%= url('/stylesheets/rps_game.css') %>" type='text/css' rel='stylesheet' />
</head>
<body>
<h1 class='c_center'>Welcome to your RPS Game!</h1><br>
<h2 class='player1 l_margin'>Player 1: <%= @game.player1.name %></h2>
<h2 class='player2 l_margin'>Player 2: <%= @game.player2.name %></h2>
<% GameLogic.new.options.each do |selection| %>
  <form class='options' action='/result' method='post'>
    <input type='hidden' id=<%= selection %>'_value' name='choice' value=<%= selection %>>
    <input type='submit' id=<%= selection %> value=<%= selection.capitalize %>><br>
  </form>
<% end %>
</body>
</html>
