<p class="player"><%= @game.player.name %> chose <%= @game.player.move.capitalize %></p>
<p class="winner"><%= @game.result %></p>
<p class="computer"><%= @game.computer.name %> chose <%= @game.computer.move.capitalize %></p>

<form action="play">
  <input class="play-again" type="submit" value="Play Again">
</form>

<img class="player-move" src="images/<%= @game.player.move%>.png">
<img class="computer-move" src="images/<%= @game.computer.move%>.png">
