Game over
<div>
  <%= @game.player_1.name %> chose <%= @game.player_1.choice %> and <%= @game.player_2.name %> chose <%= @game.player_2.choice %>
</div> 
<div>
<% if Game.outcome == 'WINNER' %>
  <%= @game.player_1.name %> is the winner!
<% elsif Game.outcome == 'DRAW' %>
  It's a draw!
<% elsif Game.outcome == 'LOSE' %>
  <%= @game.player_2.name %> is the winner!
<% end %>
</div>
<div>
  <form action="/first_play">
  <input type="submit" value="Play again">
</div>
