<h1 style="text-align:center;">Rock, Paper, Scissors!</h1>
<h2><%= @game.player_1.name %> picked: <%= @game.player_1.move %></h2>
<h2><%= @game.player_2.name %> picked: <%= @game.player_2.player_2_move %></h2>
<h2><%= @game.winner? %> Wins!</h2>
