<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="<%= url('/style.css') %>" type="text/css" />
    <link rel="preconnect" href="<%= url('https://fonts.googleapis.com') %>">
    <link rel="preconnect" href="<%= url('https://fonts.gstatic.com') %>" crossorigin>
    <link href="<%= url('https://fonts.googleapis.com/css2?family=Play&display=swap') %>" rel="stylesheet">
  </head>
  <body>
    <div class="hero-image">
      <%= yield %>
    </div>
  </body>
</html>