<h3>You chose <%= $game.player1_weapon %>...<%=$game.player2.name%> chose <%=$game.player2_weapon%></h3>
<h3><%=$game.player2_weapon%> beats <%=$game.player1_weapon%></h3>
<h1>You lose!</h1>
<form action="/" method="get">
    <input type="submit" value="...refuse to accept defeat?">
</form>
