<h1><%=@game.player_1.name%> chose <%=@game.player_1.move%>.</h1>
<h1><%=@game.player_2.name%> chose <%=@game.player_2.move%>.</h1>
<% if @game.player_2.name == "Computer" %>
  <h1>You Lose :(</h1>
<% else %>
  <h1> <%= @game.player_2.name %> Wins! :D
<% end %>
<form action="/play">
  <input type="submit" value="Play again?">
</form>
