<center><h3><%= @game.player_1.name %> choice: <%= @game.player_1.item.name %></h3><br>
<h3><%= @game.player_2.name %> choice: <%= @game.player_2.item.name %></h3><br>
<h2><%= @game.player_2.name %> wins!</h2></center>
