<head>
  <link rel="stylesheet" href="reset.css" type="text/css" />
  <link rel="stylesheet" href="css_styles/styles.css" />
</head>

<style>
body{
  background-image: url("http://66.media.tumblr.com/tumblr_len5kjmntk1qaa4h7o1_1280.gif");
}
</style>

<body>
<h1> <%=@game.player1.name%> chose <%=@game.player1_choice%>! </h1><br>
<h1> <%=@game.player2.name%> chose <%=@game.player2_choice%>! </h1><br>
<h1> <%=@game.player2_choice.capitalize%> beats <%=@game.player1_choice.capitalize%>! </h1><br>
<h1> <%=@game.player2.name%> wins! </h1><br>
<form action="/play_vs" method="get">
<input type="submit" value="Play Again!">
</form>
</body>
