<!DOCTYPE html>
<html>
<head>
  <title> Rock, Scissors and Paper </title>
  <h1> <%= @user.name %> chose <%= @user_move %> and
  <%= @computer.name %> chose <%= @computer_move %> </h1>
  <style type="text/css">
    body
    {
      padding : 0;
      margin: 0;
      background: #ffd200;
      font-size: 1.5em;
      text-align: center;
      font-family: 'arial';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  </style>
</head>
<body>

  <% if @user_move == 'rock' and @computer_move == 'scissors' %>
    <% @computer.decrease_life %>
  <% elsif @user_move == 'scissors' and @computer_move == 'paper' %>
    <% @computer.decrease_life %>
  <% elsif @user_move == 'paper' and @computer_move == 'rock' %>
    <% @computer.decrease_life %>
  <% elsif @user_move == @computer_move %>
    <h2> Nobody loose any points in this instance. </h2>
  <% else %>
    <% @user.decrease_life %>
  <% end %>

  <h2> <%= @user.name %> has <%= @user.life %> lifes left. </h2>
  <h2> <%= @computer.name %> has <%= @computer.life %> lifes left. </h2>

  <form action="/play" method="get">
    <p> Hit this button to play the next round! <input type="submit" value="Next round"> </p>
  </form>

  <% if @user.life < 1 %>
    <h1> <%= @user.name %> lost the match! Congratulation to Computer for winning the match!</h1>
  <% elsif @computer.life < 1 %>
    <h1> Computer lost the match! Congratulation to <%= @user.name %> for winning the match!</h1>
  <% end %>

</body>
</html>
