<h2>Welcome <%= @game.player.name %> to Rock, Paper and Scissors!</h2>

<form action="/rock" method="post">
  <input type="submit" value="Rock">
</form> 
<form action="/paper" method="post"> 
  <input type="submit" value="Paper">
</form> 
<form action="/scissors" method="post">  
  <input type="submit" value="Scissors">
</form>

<h2><%= @game.player.name %> you have chosen <%= @game.player.move %></h2>
<h2><%= @game.opponent.name %> you have chosen <%= @game.opponent.move %></h2>
<h2><%= @game.result %></h2>
