 <%="Player chose:"%> <%=@moves.scissors.move_type%> <%=@moves.rock.move_type%> <%=@moves.paper.move_type %> <%="  Computer chose #{@moves.computer_value}"%>
<form action="/name" method="post">
  <input type="submit" value="ok">
</form>
