<center>
<h2>Your opponent chose <%=@game.computer.move %>!</h2>

<p>
<%if @game.who_won == :player %>
<%=@game.player.move.to_s.capitalize%> beats <%=@game.computer.move %>, congratulations on your victory, <%=@game.player.name%>!
<%elsif @game.who_won == :computer %>
<%=@game.computer.move.to_s.capitalize%> beats <%=@game.player.move%>, you lose, <%=@game.player.name%>!
<%elsif @game.who_won == :draw %>
You both chose <%=@game.player.move%>, this means draw!
<%end%>
</p>

<form action='/play' method='get'>
  <input type='submit' value='Back to the game'>
</form>
</center>
