<h1> <font color="blue"> <%= @game.player1.name %> </font> vs <font color="red"> <%= @game.player2.name %> </font> </h1>

<b1> <%= @game.player1.name %> chose: <%= @game.player1.final_move %> </b1>
<br>
<b1> <%= @game.player2.name %> chose: <%= @game.player2.final_move %> </b1?

<br>

<h2> <%= @game.winner %> </h2>

<%= @game.player1.name %>: <%= @game.player1_score %>

<br>

<%= @game.player2.name %>: <%= @game.player2_score %>

<br>
<br>


<form action="/play">
  <input type="submit" value="Retry">
</form>
