<p>
<%= @game.player_1.name %> selected <%= @game.player_1.move %>
</p>

<p>
<%= @game.player_2.name %> selected <%= @game.player_2.move %>
</p>

<p>
<% if @game.winner.is_a?(String) %>
  <%= @game.winner %>
<% else %>
  <%= @game.winner.name %> wins this round!
<% end %>
</p>

<h2>
  <form action='/'>
  <input type="submit" value="Play Again">
</h2>