<h2 align= "center"><%=@current_game.P1.name%> chose <%=@current_game.P1.choice.weapon%>, <%=@current_game.P2.name%> chose <%=@current_game.P2.choice.weapon%></h2>
<br />
<h2 align= "center" style="color:red;"><%=  %></h2>
<br />

<h3 align= "center">Fight again?</h3>
<form align="center" action='/'>
  <div align="center">
    <input type= 'submit' value= 'Main Menu'>
  </div>
</form>
