
<h2><%=@game.player1.name%> vs <%=@game.player2.name%>
<%if session[:player1_choice].nil? %>
<h3><%=@game.player2.name%> look away<h3>
  <h1>It's time to make a choice <%=@game.player1.name%></h2>
  <table border="0" align='center'>
    <tr>
      <td><form action="/player_choice" method="post">
        <input type="hidden" name="choice" value="rock">
        <input type="submit" value="Rock">
      </form></td>

      <td><form action="/player_choice" method="post">
        <input type="hidden" name="choice" value="paper">
        <input type="submit" value="Paper">
      </form></td>

      <td><form action="/player_choice" method="post">
        <input type="hidden" name="choice" value="scissors">
        <input type="submit" value="Scissors">
      </form></td>
    </tr>
  <table>
<%else%>

<h3><%=@game.player1.name%> look away<h3>
  <h1>It's time to make a choice <%=@game.player2.name%></h2>
<table border="0" align='center'>
  <tr>
    <td><form action="/multiplayer_results">
      <input type="hidden" name="choice" value="rock">
      <input type="submit" value="Rock">
    </form></td>

    <td><form action="/multiplayer_results">
      <input type="hidden" name="choice" value="paper">
      <input type="submit" value="Paper">
    </form></td>

    <td><form action="/multiplayer_results">
      <input type="hidden" name="choice" value="scissors">
      <input type="submit" value="Scissors">
    </form></td>
  </tr>
<table>
<%end%>

<form action="/2player">
  <input type="submit" value="Play Again">
</form>
