<h2>Ready to challenge Master Control Program</h2>
<div style="background-color:beige; border:6px outset #F7730E; width: 600px;"><center>
<table style="width: 600px;"><tr><th><b>Player 1</b></h3></th><th><b>Player 2</b></th></tr>
<tr>
<td style="width: 200px;"><center><h3><font color = "blue"><%= @player_1 %></font></h3></center></td>
<td style="width: 200px;"><center><h3><font color = "blue">Master Control Program</font></h3></center></td>
</tr>
</table></center>
</div>
<br>
<style>
  table, th, td {
    border: 1px solid orange;
  }
  th, td {
    padding: 10px;
  }
</style>


<h2><%= @player_1 %>: choose Rock, Paper or Scissors</h2>
<div style="background-color:beige; border:6px outset #F7730E; width: 600px;"><center>
<table style="width: 600px;"><tr><th><b>Rock</b></h3></th><th><b>Paper</b></h3></th><th><b>Scissors</b></th></tr>
<tr>
<td style="width: 200px;"><center><a href = "/played?player_1=<%= @player_1 %>&player_1_choice=Rock"><img src = <%= @rps_hash["Rock"] %> ></a></center></td>
<td style="width: 200px;"><center><a href = "/played?player_1=<%= @player_1 %>&player_1_choice=Paper"><img src = <%= @rps_hash["Paper"] %> ></a></center></td>
<td style="width: 200px;"><center><a href = "/played?player_1=<%= @player_1 %>&player_1_choice=Scissors"><img src = <%= @rps_hash["Scissors"] %> ></a></center></td>
</tr>
</table></center>
</div>
