<link rel="icon" href="http://oi58.tinypic.com/10nuftd.jpg" type="image/jpg" />

<style>

h1 {
  font-family: Arial;
  font-size: 15px;
  margin-left: 50px;
}

.main_selector {
  display: inline-block;
  margin-left: 250px;
  margin-top: 130px;
}

.result_page {
  margin-left: 50px;
  margin-top: 50px;
  font-family: Arial;
  font-size: 20px;
}

.scoreboard {
  width: 110px;
  margin-left: 50px;
  margin-top: 50px;
  font-family: Arial;
  font-size: 20px;
  border-bottom-style: solid;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.scoreboard:hover {
  width: 170px;
}

.spock_lizard:visited {
  style: :inherit;
}

</style>

<% if $result == nil %>
<!-- Main Game Page -->

<!-- Scoreboard -->

  <div class="scoreboard">
    Player 1:   <% $name %> <%= $game.p1_score %> <br>Player 2:   <%= $game.p2_score %>
  </div>
  <h1> First to five point wins! </h1> <br>

<!-- Rock, Paper, Scissors links -->

  <div class="main_selector">
    <a href="/rock?selection=rock">
      <img src="http://oi58.tinypic.com/28hel93.jpg" alt="Rock" style="width:304px;height:230px;"> </a>
    <a href="/paper?selection=paper">
      <img src="http://oi61.tinypic.com/2w3x3za.jpg" alt="Paper" style="width:304px;height:230px;"> </a>
    <a href="/scissors?selection=scissors">
      <img src="http://oi57.tinypic.com/34xnz9v.jpg" alt="Scissors" style="width:304px;height:230px;"> </a>
  </div>

<!-- Result pages -->


<% elsif $result == :p1_wins! %>
<!-- If player 1 wins -->
  <div class="result_page">
    Player 2 chose <%= $cpu.last_move %>, you win!!
    <br> <%= $cpu_move_image_helper %>
    <% if $game.p1_score > 4 %>
        <!-- !!Spock lizard link -->
        <a href="/">
        <h1 class="spock_lizard"> New Game </h1>
        </a>
        <% $game.reset %>
      <% else %>        
        <br><a href="/new_session"> Win some more </a>
      <% end %>
  </div>
<% elsif $result == :p2_wins! %>
<!-- If player 2 wins -->
  <div class="result_page">
    Player 2 chose <%= $cpu.last_move %>, you lose!!
    <br> <%= $cpu_move_image_helper %>
    <% if $game.p2_score > 4 %>
      <br> <a href="/"> New Game </a>
      <% $game.reset %>
    <% else %>
    <br> <a href="/new_session"> Try again </a>
    <% end %>
  </div>
<% elsif $result == :draw %>
<!-- If it's a draw -->
  <div class="result_page">
    Player 2 chose <%= $cpu.last_move %>, it's a draw...
    <br> <%= $cpu_move_image_helper %>
    <br> <a href="/new_session"> Try again </a>
  </div>

<% end %>

