<!-- (harry dix) TO DO: -->
<!-- DRY out external css refs -->
<!-- export logic to main model or logic helper -->

<!-- Main Game Page -->
<% if $result == nil %>
<link rel="stylesheet" href="bootstrap.min.css" />

<!-- Scoreboard -->

  <div class="scoreboard">
    Player 1:   <% $name %> <%= $game.p1_score %> <br>Player 2:   <%= $game.p2_score %>
  </div>
  <h1> First to five point wins! </h1> <br>

<!-- Rock, Paper, Scissors links -->

  <div class="main_selector">
    <a href="/choose?selection=rock">
      <img src="http://oi58.tinypic.com/28hel93.jpg" alt="Rock" style="width:304px;height:230px;"> </a>
    <a href="/choose?selection=paper">
      <img src="http://oi61.tinypic.com/2w3x3za.jpg" alt="Paper" style="width:304px;height:230px;"> </a>
    <a href="/choose?selection=scissors">
      <img src="http://oi57.tinypic.com/34xnz9v.jpg" alt="Scissors" style="width:304px;height:230px;"> </a>
  </div>

<!-- Result Page -->

<% elsif $result == :p1_wins! %>
<link rel="stylesheet" href="bootstrap.min.css" />
<!-- If player 1 wins -->
  <div class="result_page">
    Player 2 chose <%= $cpu.last_move %>, you win!!
    <br> <%= $cpu_move_image_helper %>
    <% if $game.p1_score > 4 %>
        <!-- TO DO: Spock lizard link -->
        <a href="/">
        <h1 class="result_page"> New Game </h1>
        </a>
        <% $game.reset %>
      <% else %>        
        <br><a href="/new_session"> Win some more </a>
      <% end %>
  </div>
<% elsif $result == :p2_wins! %>
<link rel="stylesheet" href="bootstrap.min.css" />
<!-- If player 2 wins -->
  <div class="result_page">
    Player 2 chose <%= $cpu.last_move %>, you lose!!
    <br> <%= $cpu_move_image_helper %>
    <% if $game.p2_score > 4 %>
      <br> <a href="/"> New Game </a>
      <% $game.reset %>
    <% else %>
    <br> <a href="/new_session"> Try again </a>
    <% end %>
  </div>
<% elsif $result == :draw %>
<link rel="stylesheet" href="bootstrap.min.css" />
<!-- If it's a draw -->
  <div class="result_page">
    Player 2 chose <%= $cpu.last_move %>, it's a draw...
    <br> <%= $cpu_move_image_helper %>
    <br> <a href="/new_session"> Try again </a>
  </div>
<% end %>

