<h2>One Player Game</h2>
<% if @game %>
	<% if @game.determine_winner(PLAYER) == :draw %> 
		<h2>Wooah, that one was a draw <%= PLAYER.name %></h2>
	<% elsif @game.determine_winner(PLAYER)==PLAYER %>
		<h2>Congratulations <%= PLAYER.name %>, you won!</h2>
	<% else %>
		<h2>Unlucky, <%= PLAYER.name %>, you lost</h2>	
	<% end %>
	<% if PLAYER.selection!=nil %>	
		<p>You chose <%= PLAYER.selection.upcase %>, and the computer chose <%= @game.selection.upcase %></p>
	<% end %>			
<% end %>	
<h2><%= PLAYER.name %>, please select your move!</h2>	

<form action='/one_player_game' method="post">
    Go Rock!<input id="rock" type="radio" name="selection" value="rock">
    Go Paper!<input id="paper" type="radio" name="selection" value="paper">
    Go Scissors!<input id="scissors" type="radio" name="selection" value="scissors">
	<input type="submit" name="go" value="Go!">
</form>

<form action='/' method='get'>
	<input type="submit" name="quit" value="Quit current game">	
</form>