# <% if $player_2.random_attack == "Rock" %>
# <!-- placeholder for Rock vs Rock -->
#   <%= @player_1 %> shows Rock!. Stoney shows Rock!
#   Nothing happened...
#   <!-- placeholder for play again -->
#   <form method='get' action='/play'>
#     <input type='submit' value='Play again'></input>
#   </form>
# <% elsif $player_2.random_attack == "Paper" %>
# <!-- placeholder for Rock vs Paper -->
# <%= @player_1 %> shows Rock!. Stoney shows Paper!
# Paper suffocated Rock, uh oh! <%= @player_1 %> lost!
# <!-- placeholder for play again -->
# <form method='get' action='/play'>
#   <input type='submit' value='Play again'></input>
# </form>
# <% elsif $player_2.random_attack == "Scissors" %>
# <!-- placeholder for Rock vs Scissors -->
# <%= @player_1 %> shows Rock!. Stoney shows Scissors!
# Rock crushed Scissors, BOOM! <%= @player_1 %> wins!
# <form method='get' action='/play'>
#   <input type='submit' value='Play again'></input>
# </form>

# <% end %>


