<p class="text-info"><%= @game.player_1.name %> chose <%= @game.player_1.choice %></p>
<br>
<p class="text-info"><%= @game.player_2.name %> chose <%= @game.player_2.choice %></p>
<br>
<p class="text-info">Winner: <%= @winner %></p>


<a href="/" class="btn btn-success">Play Again...</a>
