<% if @game.outcome == :win %>
<h1><%= @game.player_1.move %> beats <%= @game.player_2.move %></h1>
<h1>You win!</h1>
<% end %>
<% if @game.outcome == :draw %>
<h1><%= @game.player_1.move %> ties with <%= @game.player_1.move %></h1>
<h1>Draw!</h1>
<% end %>
<% if @game.outcome == :lose %>
<h1><%= @game.player_1.move %> is beaten by <%= @game.player_2.move %></h1>
<h1>You lose!</h1>
<% end %>
<form action="/">
  <input type="submit" value="Play again?">
</form>
