
<center>
<h1>Player: <%= @name.capitalize %></h1>
<h1>Choice: <%= @user_input %></h1>
<h1>VS.</h1>
<h1>Player: Computer</h1>
<h1>Choice: <%= @computer_choice.capitalize %></h1>
<h1>--------------------------------</h1>
<h1><%= @user_input %> vs. <%= @computer_choice.capitalize %></h1>
<h1><%= @game.who_won(@user_input,@computer_choice)  %></h1>
</center>
