<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF=8">
  <title>Ruby, Paper, Scissors!</title>
  <link href="css/rps-stylesheet.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
  <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>-->
  <script type="text/javascript" src="js/mousetrap.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
</head>

<body id="outcome">

<div id="result_box">
  <p id="result"><%= @round_winner %> wins this round!</p><br>
  <a id="continue" href="/play">Continue...</a>
</div>

<div id="player_1_throw">
  <img src="images/right/<%= @player_1_weapon %>.png" id="player_1_weapon"><br>
  <%= @player_1_name %> throws <%= @player_1_weapon %>!
</div>

<br><br><br>

<div id="player_2_throw">
  <img src="images/left/<%= @player_2_weapon %>.png" id="player_2_weapon"><br>
  <%= @player_2_name %> throws <%= @player_2_weapon %>!
</div>

<div class="popup" id="scores_popup">
  <p class="popup_contents" id="scores_contents">Scores!</p>
</div>

<div class="popup" id="rules_popup">
  <p class="popup_contents" id="rules_contents">Rules!</p>
</div>

<div class="popup" id="easter_egg_popup">
  <p class="popup_contents" id="easter_egg_contents">Easter egg!</p>
</div>

</body>

<!--<script type="text/javascript">-->
//    Mousetrap.bind('r', function(){
//        $("#rules_popup").css("visibility", "visible");
//        $("#rules_popup, #rules_contents").click(function() {
//            $("#rules_popup").css("visibility", "hidden");
//        })
//    });
//
//    Mousetrap.bind('s', function(){
//        $("#scores_popup").css("visibility", "visible");
//        $("#scores_popup, #scores_contents").click(function() {
//            $("#scores_popup").css("visibility", "hidden");
//        })
//    });
//
//    Mousetrap.bind('q u a c k', function(){
//        $("#easter_egg_popup").css("visibility", "visible");
//        $("#easter_egg_popup, #easter_egg_contents").click(function() {
//            $("#easter_egg_popup").css("visibility", "hidden");
//        })
//    });
<!--</script>-->

</html>