<h2><%= @game.player_1.name %> chose <%= @game.player_1.choice %>!</h2>
<h3><%= @game.player_2.name %> chose <%= @game.player_2.choice %>!</h3>

<% if @game.result == :tie %>
  It's a tie!
<% elsif @game.result == @game.player_1 %>
  <%= @game.player_1.name %> wins!
<% elsif @game.result == @game.player_2 %>
  <%= @game.player_2.name %> wins!
<% end %>

<br>
<br>

<form action=/play method="get">
  <input type="submit" value="Rematch">
</form>
