
<h3><%= @player_1_name %> chose <%= @weapon %>!</h3>
</br>


<h3><%= @player_2_name %> chose <%= @computer_choice %>!</h3>
</br>


<h3> Result: You <%= @game_result %> </h3>

<form action="/play" method= "get">
  <input type="Submit" value="OK">
</form>
