<% if @game.player2.is_a?(ComputerPlayer) %>
  <% @game.rps %>
<% end %>

<% @game.outcome %>

<%=@game.name1 %> chose <%= @game.choice1 %>!
<%=@game.name2 %> chose <%= @game.choice2 %>!

<% if @game.winner == :draw %>
  This round was a draw!
<% else %>
  <%= @game.winner.name %> won this round!
<%end%>

<% if @game.game_over?%>
  <form action='/game_over' method='get'><input type="submit" value="Play again"/></form>
<% else %>
  <form action='/play' method='get'><input type="submit" value="Play again"/></form>
<%end%>
