<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
  </head>

  <body>

    <h1> <%= @player_1 %> has chosen: <%= @player_1_move %> </h1>

    <h1> <%= @player_2 %> has chosen: <%= @player_2_move %> </h1>

    <h1> The winner is: </h1>
    <h1> <%= @winner %>! </h1>
    <br><br>

    <form action='/player_1'>
      <button class="button" type='submit'>Play again!</button>
    </form>

    <form action='/'>
      <button class="button" type='submit'>New game!</button>
    </form>

  </body>
</html>
