<% if @game.player2.is_a?(ComputerPlayer) %>
  <% @game.rps %>
<% end %>

<% @game.outcome %>

<p><%=@game.name1 %> chose <%= @game.choice1 %>!</p>
<p><%=@game.name2 %> chose <%= @game.choice2 %>!</p>

<% if @game.winner == :draw %>
  <p>This round was a draw!</p>
<% else %>
  <p><%= @game.winner.name %> won this round!</p>
<%end%>

<% if @game.game_over?%>
  <form action='/game_over' method='get'><input type="submit" value="Play again"/></form>
<% else %>
  <form action='/play' method='get'><input type="submit" value="Play again"/></form>
<%end%>
