
<h2><%= "#{@game.player.name}"%> chooses <%= "#{@game.player.choice}"%></h2> 
<h2><%= "#{@game.computer.name}"%> chooses <%= "#{@game.computer.choice}"%></h2> 
<%= "#{@game.result}"%></h2> 

<br><a href="/play">Back to move selection</a>