<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF=8">
  <title>Ruby, Paper, Scissors!</title>
  <link href="css/rps-stylesheet.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
  <script type="text/javascript" src="js/mousetrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</head>

<body id="outcome">

<div id="result_box">
  <p id="result"><%= @round_winner %> wins this round!</p><br>
  <a id="continue" href="/play">Continue...</a>
</div>

<div id="player_1_throw">
  <img src="images/right/<%= @player_1_weapon %>.png" id="player_1_weapon"><br>
  <%= @player_1_name %> throws <%= @player_1_weapon %>!
</div>

<br><br><br>

<div id="player_2_throw">
  <img src="images/left/<%= @player_2_weapon %>.png" id="player_2_weapon"><br>
  <%= @player_2_name %> throws <%= @player_2_weapon %>!
</div>

<div class="popup" id="scores_popup">
  <p class="popup_contents" id="scores_contents">The Scores</p>
</div>

<div class="popup" id="rules_popup">
  <p class="popup_contents" id="rules_contents">The Rules</p>
</div>

<div class="popup" id="preferences_popup">
  <p class="preferences_contents" id="preferences_contents">Preferences</p>
</div>

<div class="popup" id="easter_egg_popup">
  <img id="quack" src="images/quack.jpg">
</div>

</body>

</html>