<%= Game.instance.player1.name %>
<%= Game.instance.player1.move.to_s %>
<%= Game.instance.player2.name %>
<%= Game.instance.player2.move.to_s %>
<%= Game.instance.winner.name %>
<a href='/'>Play again</a>
