<center>
  <BR>
  <div>
    <h2>You have exited the game...</h2>
  </div>
  <div>
    <h3>Final result</h3>
  </div>
  <div>
    <h3>You: <%= RPS.game.p1.score %> / <%= RPS.game.p2.name %>: <%= RPS.game.p2.score %> </h3>
  </div>
  <BR>
  <div>
  <% if RPS.game.p1.score > RPS.game.p2.score %>
    <h2>Woohoo! You've won against <%= RPS.game.p2.name %> ;)</h2>
  <% elsif RPS.game.p1.score < RPS.game.p2.score %>
    <h2>Damn! You've lost against <%= RPS.game.p2.name %>... :(</h2>
  <% else %>
    <h2>Draw game :P</h2>
  <% end %>
  </div>
  <div>
    <h3>See you next time!</h3>
  </div>
  <BR>
  <div>
    <form action='/p1_end' method='post'>
      <input type='submit' value='New Game'>
    </form>
  </div>
</center>
