<center>
  <BR>
  <div>
    <h2>Player 1: <%= RPSLS.game.p1.name %></h2>
  </div>
  <div>
    <h3>VS.</h3>
  </div>
  <div>
    <h3>Player 2: <%= RPSLS.game.p2.name %></h3>
  </div>
  <BR>
  <div>
    <h3>↓Choose your move below↓</h3>
  </div>
  <div>
    <% if RPSLS.game.p2.in_round %>
      <form action='/p1_play' method='post'>
        <input type='submit' name='move' value='ROCK'>
        <input type='submit' name='move' value='PAPER'>
        <input type='submit' name='move' value='SCISSORS'>
        <input type='submit' name='move' value='LIZARD'>
        <input type='submit' name='move' value='SPOCK'>
      </form>
    <% else %>
      <h3>Waiting for player 2...</h3>
      <meta http-equiv="refresh" content="1;url=/p1_play" />
    <% end %>
  </div>
  <BR>
  <div>
    <h2>Score Board</h2>
  </div>
  <div>
    <h3>You: <%= RPSLS.game.p1.score %> / <%= RPSLS.game.p2.name %>: <%= RPSLS.game.p2.score %></h3>
  </div>
  <% if !RPSLS.game.in_game %>
    <meta http-equiv="refresh" content="N;url=/p1_end"/>
  <% end %>
</center>
