<h3>Sorry, <%= stored_player.name %>, you lost!</h3>

<div>
<%= stored_player.name %> chose <%= stored_player.weapon %>. <%= stored_computer.name %> chose <%= stored_computer.weapon %>.
</div>

<br>

<form action="/" method="get">
  <label>
    Play again?
  </label>
  <input type="submit" value="Play">
</form>
