<!DOCTYPE html>

<html class='paper'>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body class='paper_text'>
  <h1 class="paper_player"><%= @game.player.name %> has chosen <%= @player_choice %>!</h1>
  <h1 class="paper_game">Player 2 has chosen <%= @game.play %>!</h1>
  <% if @winner == "It's a draw!" %>
  <h1><%= @winner %></h1>
  <% else %>
  <h1><%= @winner %> is the winner!</h1>
  <% end %>
  <iframe src="//giphy.com/embed/w8HvjhuofvlYI" width="480" height="268" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/w8HvjhuofvlYI">via GIPHY</a></p>
</body>
</html>
