<h2> <%= @player_1_name %> threw paper! </h2>

<h2> <%= @computer_name %> threw <%= @computer_move %> </h2>!

<% if @computer_move == "paper" %>
<h1> You and <%= @computer_name %> tied </h1>
<% elsif @computer_move == "scissors" %>
<h1> You lost to <%= @computer_name %>! </h1>
<% else %>
<h1> You beat <%= @computer_name %>! </h1>
<% end %>

<form action="/play">
  <input type="submit" value="Play again?">
</form>
