<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Let&lsquo;s Play Rock Paper Scissors!</title>
    <meta charset='utf-8'/>
    <link rel='stylesheet' href='styles.css'/>
  </head>
  <body>
    <div class='page'>
      <div class='heading'>
        <h1><%= @game.human_player.name %> vs. <%= @game.computer_player.name %></h1>
      </div>
      <form method='post' action='/choice'>
        <input type='submit' name='choice' value='rock'/>
        <input type='submit' name='choice' value='paper'/>
        <input type='submit' name='choice' value='scissors'/>
      </form>

      <p> <%= @human_choice %></p>
      <p> <%= @computer_choice %></p>
      <p> <%= @last_play %> </p>

    </div>
  </body>
</html>
