<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href=/stylesheet/play.css />
</head>
<body>
<div class='container'>
  <div class='cell cell-left'></div>
  <div class='cell cell-1'>
    <h1 align='center'> Rock - Paper - Scissor</h1>
  </div> 
  <div class='cell cell-2'>
    <h2 class='player-name'> <%= @player %> </h1>
  </div>
  <div class='cell cell-3'> score </div>
  <div class='cell cell-4'>
    <h2 class='cpu-name'> CPU </h1>
  </div> 
  <div class='cell cell-5'>
    <h2 class='user-input'> <%= @user_input %> </h2>
  </div>
  <div class='cell cell-6'>
    <h2 class='result' align='center'> <%= @result %> </h2>
    <h2 class='result' align='center'> <%= "Draw!" if @user_input != nil and @user_input == @cpu %> </h2>
  </div>
  <div class='cell cell-7'>
    <h2 class='cpu-input'> <%= @cpu %> </h2>
  </div>
  <div class='cell space'></div>
  <div class='cell cell-8'>
    <form action='/game' method='post'>
      <input class='cell rock' type='submit' name='rock' value="Rock"></input>
    </form>
  </div>
  <div class='cell cell-9'>
    <form action='/game' method='post'>
      <input class='cell paper' type='submit' name='paper' value="Paper"></input>
    </form> 
  </div>
  <div class='cell cell-10'>
    <form action='/game' method='post'>
      <input class='cell scissor' type='submit' name='scissor' value="Scissors"></input>
    </form> 
  </div>
  <div class='cell cell-right'></div>
<div>
</body>
