<h1>Okay <%= @game.player.name %>, please choose your move!</h1>
 <form action="/result" method="post">
   <input type="radio" name="choice" id="<%= @game.view_choices[0] %>" value="<%= @game.view_choices[0] %>">
   <label for="r<%= @game.view_choices[0] %>"><%= @game.view_choices[0].capitalize %></label>
   <input type="radio" name="choice" id="<%= @game.view_choices[1] %>" value="<%= @game.view_choices[1] %>">
   <label for="r<%= @game.view_choices[1] %>"><%= @game.view_choices[1].capitalize %></label>
   <input type="radio" name="choice" id="<%= @game.view_choices[2] %>" value="<%= @game.view_choices[2] %>">
   <label for="r<%= @game.view_choices[2] %>"><%= @game.view_choices[2].capitalize %></label>
   <input type="submit" id="Let's do this!">
 </form>
