<% if @gametype == "1 Player"%>
The current score is <%= @player_1.name %> - <%= @scoreboard.player_1_score%> vs <%= @scoreboard.player_2_score%> - CPU
<% else %>
The current score is <%= @player_1.name %> - <%= @scoreboard.player_1_score%> vs <%= @scoreboard.player_2_score%> - <%= @player_2.name %>
<% end %>
Welcome <%= @player_1.name %>!
Choose your weapon:
<form action="/player1move" method="post">
  <input type="submit" value="Rock" name="move">
  <input type="submit" value="Paper" name="move">
  <input type="submit" value="Scissors" name="move">
</form>


