<html>
<head></head>
<body>
  <h1> Rock on Papers and Scissors! </h1>
  <div style="display: inline-block">
    <span>
      <h2> <%= @game.player_one.show_name %> </h2>
      <p> <%= @game.player_one.show_points %> </p>
    </span>
    <span>
      <h2> vs </h2>
    </span>
    <span>
      <h2> <%= @game.player_two.show_name %></h2>
      <p> <%= @game.player_two.show_points %></p>
    </span>
  </div>
  <% if @game.round_complete == true
    @game.reset_count %>
    <div>
      <% if @game.draw == true %>
        <h2> It's a draw! </h2>
      <%else %>
        <h2> <%= "#{@game.winner.show_name} wins!" %>
      <%end %>
    </div>
  <% end %>
  <div>
    <span>
      <h2> It's <%= @game.current_player.show_name %>'s turn </h2>
    </span>
    <span>
      <form action="/rock" method="post">
        <input type="submit" value="Rock"/>
      </form>
    </span>
    <span>
      <form action="/paper" method="post">
        <input type="submit" value="Paper"/>
      </form>
    </span>
    <span>
      <form action="/scissors" method="post">
        <input type="submit" value="Scissors"/>
      </form>
    </span>
  </div>

</body>
</html>
