<div style="text-align:center;">

	<div>

		<form style="display: inline;" action="/player_1_choice" method="POST">
		  	<button type="submit" class="top" name="choice" value="Lizard"><img src="images/lizard.png" alt="Lizard" width="100px" height="100px"></button>
			<button type="submit" class="top" name="choice" value="Paper"><img src="images/paper.png" alt="Paper" width="100px" height="100px"></button>
			<button type="submit" class="top" name="choice" value="Rock"><img src="images/rock.png" alt="Rock" width="100px" height="100px"></button>
			<button type="submit" class="top" name="choice" value="Scissors"><img src="images/scissors.png" alt="Scissors" width="100px" height="100px"></button>
			<button type="submit" class="top" name="choice" value="Spock"><img src="images/spock.png" alt="Spock" width="100px" height="100px"></button>
		</form>

	</div>

	<% if @game.player_1.choice %>
		<h2><%= @game.player_1.name %> chose <%= @game.player_1.choice %></h2>
	<% else %>
		<h2><%= @game.player_1.name %></h2>
	<% end %>

	<div style="border: 1px solid black;">
		<% if @game.player_1.choice && @game.player_2.choice %>
			<% if @game.check_winner %>
				<h3><%= @game.check_winner.name %> WINS!!</h3>
				<% @game.reset %>
				<h3>It's <%= @game.current_player.name %>'s turn. Pick a value, <%= @game.current_player.name %>!</h3>
			<% else %>
				<h3>IT'S A TIE.</h3>
				<% @game.reset %>
				<h3>It's <%= @game.current_player.name %>'s turn. Pick a value, <%= @game.current_player.name %>!</h3>
			<% end %>
		<% else %>
			<h3>It's <%= @game.current_player.name %>'s turn. Pick a value, <%= @game.current_player.name %>!</h3>
		<% end %>
	</div>

	<% if @game.player_2.choice %>
		<h2><%= @game.player_2.name %> chose <%= @game.player_2.choice %></h2>
	<% else %>
		<h2><%= @game.player_2.name %></h2>
	<% end %>

	<div>

		<form style="display: inline;" action="/player_2_choice" method="POST">
			<button type="submit" class="bottom" name="choice" value="Lizard"><img src="images/lizard.png" alt="Lizard" width="100px" height="100px"></button>
			<button type="submit" class="bottom" name="choice" value="Paper"><img src="images/paper.png" alt="Paper" width="100px" height="100px"></button>
			<button type="submit" class="bottom" name="choice" value="Rock"><img src="images/rock.png" alt="Rock" width="100px" height="100px"></button>
			<button type="submit" class="bottom" name="choice" value="Scissors"><img src="images/scissors.png" alt="Scissors" width="100px" height="100px"></button>
			<button type="submit" class="bottom" name="choice" value="Spock"><img src="images/spock.png" alt="Spock" width="100px" height="100px"></button>
		</form>

	</div>
</div>
