<h4> Game: </h4>
Rock, Paper, Scissors 
<h4> Format: </h4> Best of <%= @game_type %>
<br><br>
------------------------------------
<h2><%= @p1.name %> Vs. 
<% if @p2.name %>
<%= @p2.name %></h2>
<% else %> 
<%= 'Rocky McRock Face'%>
<% end  %></h2>
------------------------------------
<h4><p>The current scores is: </h4>
<p><%= @p1.name + ':' %> <%= @p1.points %><p> 
<p><%= @p2.name + ':' %> <%= @p2.points %><p>

<br>
<h2> Make your choice </h2>
<form action="/enter_dragon" method="post">
<input class="start_button" type="submit" value="ROCK">
<input class="start_button" type="submit" value="PAPER">
<input class="start_button" type="submit" value="SCISSORS">
</form>