<h1> Let the games begin!</h1></br>
<h2> Playing: <%= @player1.name %>(<%= @player1.points %>) vs. <%= @player2.name %>(<%= @player2.points %>) </h2></br>

<% if @player1.hand %>
    <h3> <%= @player1.name %> plays: <%= @player1.hand %> </h3>
<% end %>

<% if @player2.hand %>
  <h3> <%= @player2.name %> plays: <%= @player2.hand %> </h3>
<% end %>

  <h3> <%= @game.win.winner %> </h3>

<form action='/draw', method='post'>
  <input type='submit', name='hand', value='Rock'>
  <input type='submit', name='hand', value='Scissors'>
  <input type='submit', name='hand', value='Paper'>
  <input type='submit', name='hand', value='Lizard'>
  <input type='submit', name='hand', value='Spock'>
</form>

<form action='/save', method='post'>
    <input type='submit' value='Save & Quit'>
</form>

<div> <img src='rpsls.jpg'> </div>
