<!DOCTYPE HTML>
<html>
<head>
      <link href="/css/application.css" rel="stylesheet" type="text/css">
      <title>Classic game</title>
</head>
    <body>
      <p>
      <%= @player_1 %> vs Computer
      </p>
      <form action="/play" >
        <button name="selection" type="submit" value="rock">rock</button>
      </form>

      <form action="/play" >
        <button name="selection" type="submit" value="paper">paper</button>
      </form>

      <form action="/play" >
        <button name="selection" type="submit" value="scissors">scissors</button>
      </form>

      <p>
            <% if @player_selection %>
              <h1> <%=@player_1%> chose attack method <%=@player_selection%></h1>
            <% end %>
      </p>
      <p>
        <% if @player_selection %>
          <h1> Computer randomly choses attack method <%=@computer_selection%></h1>
        <% end %>
      </p>
      <p>
          <% if @player_selection == 'rock' && @computer_selection == 'rock' %>
            <h1> No body wins</h1>
          <% end %>
          <% if @player_selection == 'rock' && @computer_selection == 'scissors' %>
            <h1> rock blunts scissors <%=@player_1%> wins!!</h1>
          <% end %>
          <% if @player_selection == 'scissors' && @computer_selection == 'paper' %>
            <h1> scissors cuts paper <%=@player_1%> wins!!</h1>
          <% end %>
          <% if @player_selection == 'paper' && @computer_selection == 'rock' %>
              <h1> paper wraps rock <%=@player_1%> wins!!</h1>
          <% end %>
          <% if @player_selection == 'scissors' && @computer_selection == 'scissors' %>
            <h1> No body wins</h1>
          <% end %>
          <% if @player_selection == 'paper' && @computer_selection == 'paper' %>
            <h1> No body wins</h1>
          <% end %>

          <% if @computer_selection == 'rock' && @player_selection == 'scissors' %>
            <h1> rock blunts scissors computer wins!!</h1>
          <% end %>
          <% if @computer_selection == 'scissors' && @player_selection == 'paper' %>
            <h1> scissors cuts paper computer wins!!</h1>
          <% end %>
          <% if @computer_selection == 'paper' && @player_selection == 'rock' %>
              <h1> paper wraps rock computer wins!!</h1>
          <% end %>

      </p>
    </body>
</html>
