<h2> <%= @player_name %> vs. <%= @computer_name %></h2>
<h3> Welcome <%= @player_name %>. </h3>
<p> Please make a selection:- </p>

<form method="get" action='/battle'>
  <input type='submit' name='player_choice' value='rock'/>
  <input type='submit' name='player_choice' value='paper'/>
  <input type='submit' name='player_choice' value='scissors'/>
</form>

<% if @player_choice %>
<p> <%= @player_name %> selected <%= @player_choice %>. </p>
<p> <%= @computer_name %> selected <%= @computer_choice %>. </p>
<%= @game_result %>
<% end %>
