
<% if @end_match == "Draw" %>
  <p>Draw!</p>
  <p>You both had <%= @player1_choice %></p>

<% elsif @end_match == "Win!" %>
  <p>You won! <%= @player_choice1%> beats <%= @opponent_choice %></p>

<% elsif @end_match == "Lost!" %>
  <p>You lost! <%= @opponent_choice %> beats <%= @player1_choice %></p>
<% end %>

<h3 class="text-center"> Here are the results! </h3>
<br>
<br>
<br>
<form action="/game" method="post">
<button class="btn btn-primary center-block" role="button" type="submit">Play again!</button>
</form>