<h2> Good luck <%=@player_name%>! </h2>

<form action="/player_turn" method="post">
  Rock
  <input type="radio" id="Rock" name="player_turn" value="Rock"> <br>
  Paper
  <input type="radio" id="Paper" name="player_turn" value="Paper"> <br>
  Scissors
  <input type="radio" id="Scissors" name="player_turn" value="Scissors"> <br>
  <input type="submit" value="GO!" <br>
</form>

<% if @player_turn %>
  <h3> You chose <%= @player_turn %>! </h3>
  <h3> Computer chose <%= @computer_turn %>! </h3>
  <% if @winner == "Computer" %>
    <h1> Computer wins! Better luck next time, <%=@player_name%>! </h1>
  <% elsif @winner == "Player" %>
    <h1> <%=@player_name%> wins! </h1>
  <% else %>
    <h1> It's a draw! </h1>
  <% end %>
<% end %>
