<%= @game.player1.name %> vs Computer <br> <br>
<%= @game.player1.name %>. Rock, Paper, or Scissors? <br><br>
<form action="/chosen" method="post">
 <input type="submit" value="rock" name="choice">
 <input type="submit" value="paper" name="choice">
 <input type="submit" value="scissors" name="choice">
 <input type="submit" value="lizard" name="choice">
 <input type="submit" value="spock" name="choice">
</form>
<%= @game.choice_message(@game.choice) if @game.game_started? %> <%= @game.computer_choice_message(@game.c_choice) if @game.game_started? %><br>
<%= "#{@game.who_won(@game.choice, @game.c_choice)}" if @game.game_started? %> <br>
<%= "#{@game.player1.name} has won #{@game.win_count} out of #{@game.total_games} games (#{@game.percentage_wins}%)" %>
