<center><font size="12" color="pink"><%= $game.player_1.name %> vs. <%= $game.player_2.name %></font>
<font size="5" color="purple"><form action="/play" method="post">
  <label for="player_1_weapon">
    <%= $game.player_1.name %>'s move
    <select name="player_1_weapon">
      <% $game.rules.each do |weapon, x| %>
      <option value="<%= weapon %>"><%= weapon %></option>
      <% end %>
    </select>
  </label>
  <label for="player_2.weapon(weapon)">
    <%= $game.player_2.name %>'s move
    <select name="player_2_weapon">
      <% $game.rules.each do |weapon, x| %>
      <option value="<%= weapon %>"><%= weapon %></option>
      <% end %>
    </select>
  </label>
  <input type="submit" value="submit">
</form></font></center>