
<div class="player_one_weapon_options">
  <form action="/weapon_selection" method="post">
    <input type="submit" name="weapon" value="Paper">
    <input type="submit" name="weapon" value="Rock">
    <input type="submit" name="weapon" value="Scissors">
  </form>
</div>


<div class="players_name">
  <h2><%= @game.player_one.name %> vs <%= @game.player_two.name %></h2>
</div>

<div class="player_one_score">
  <h2>Score: <%= @game.player_one.score %></h2>
</div>

<div class="player_two_score">
  <h2>Score: <%= @game.player_two.score %></h2>
</div>

<% if @game.winner == nil %>
  <% if @game.player_one.weapon != nil %>
    <div class=player_one_weapon>
      <h3><%= @game.player_one.name %> chose <%= @game.player_one.weapon %> </h3>
    </div>
    <div class=player_two_weapon>
      <h3><%= @game.player_two.name %> chose <%= @game.player_two.weapon %> </h3>
    </div>
  <% end %>
<% end %>

<% if @game.winner != nil %>
  <div class="winner">
    <h2><%= @game.winner.name %> won!</h2>
  </div>
<% end %>
