<center>
<body>
<% if @gametype == "1 Player"%>
<h1> The current score is <%= @player_1.name %> - <%= @scoreboard.player_1_score%> vs <%= @scoreboard.player_2_score%> - CPU </h1> 
<% else %>
<h1> The current score is <%= @player_1.name %> - <%= @scoreboard.player_1_score%> vs <%= @scoreboard.player_2_score%> - <%= @player_2.name %> </h1> 
<% end %>
It's your turn <%= @player_1.name %>!
Choose your weapon:
<form action="/player1move" method="post">
  <input type="submit" value="Rock" name="move">
  <input type="submit" value="Paper" name="move">
  <input type="submit" value="Scissors" name="move">
</form>
</body>
</center>

