<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RPSLS</title>
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/game.css">
        <script type="text/javascript" src="/js/game.js"></script>
    </head>
    <body>
      <div class="game_info_container">
        <div class="player1_info">
          <h1><%= @game.player1.name %>:   <%= @game.player1_score %></h1>
        </div>
        <div class="player2_info">
          <h1><%= @game.player2.name %>:   <%= @game.player2_score %></h1>
        </div>
      </div>
          <% if !@game.result %>
              <div class="controls">
                  <form id="weapon" action="/weapon" method="post">
                      <button type="button" class="selector" name="rock">Rock</button>
                      <button type="button" class="selector" name="paper">Paper</button>
                      <button type="button" class="selector" name="scissors">Scissors</button>
                      <button type="button" class="selector" name="lizard">Lizard</button>
                      <button type="button" class="selector" name="spock">Spock</button>
                  </form>
              </div>
          <% else %>
            <% if @game.result.to_s == "draw" %>
                <h2>It's a draw</h2>
            <% else %>
                <h2><%= @game.winner.name %> wins!</h2>
            <% end %>
          <% end %>
          <form action='/play_again' method='post'>
            <input type='submit' value='Play again'>
          </form>
          <form action='/logout' method='post'>
            <input type='submit' value='Logout'>
          </form>
    </body>
