<div style = "background: yellow">
<h1>Rock Paper Scissors!</h1>
<h2><%=@game.players[0].get_name%> vs. <%=@game.players[1].get_name%>
<br>
<br>

<%@game.players[1].get_name == "Computer" && @game.rounds_played > 0 ? "Computer played: "<<@players[1].get_move : "Hmmm..."%><br>

<%=@err? @err : "Hmmm..." %><br>
<%=@winners? "Last round won by: "<<@resstr : "Hmmm..."%><br></h2>

Rounds played: <%=@game.rounds_played%><br><br>
<%=@game.players[0].get_name%>  : <%=@game.players[0].get_score%> points<br>
<%=@game.players[1].get_name%>  : <%=@game.players[1].get_score%> points<br>

<br>
<form action="/play" method="post" id = "form2">
<button name="submit" type="submit" value="finish">Finish</button>
<br><br>
<div>

<div style = "background: red">
<h2>Continue playing!</h2>

<h4><%=@game.players[0].get_name%>: Select the move you want to play:
  <select name = "move1" >
    <option value="rock" selected="selected" >rock</option>
    <option value="paper">paper</option>
    <option value="scissors">scissors</option>
  </select>
<br>
<br>
<%=@game.players[1].get_name%>: Select the move you want to play:
<select name = "move2" >
  <option value="rock" selected="selected" >rock</option>
  <option value="paper">paper</option>
  <option value="scissors">scissors</option>
</select>
<br>
</h4>

<button name="submit" type="submit" value="submit">Play</button>
  <br>  <br>
</form>
<div>
