<html>  
<head>
<link href="<%= url("/styles.css") %>" rel="stylesheet" type='text/css'/>
</head>

<body>

<% if @playermoves.move_list.count < 2 %>
<h1> Please select an option, <%= @playermoves.turn %> </h1>
<form action="/move" method="post"> 
<button id='rock' name="move" type="submit" value="Rock">Rock</button>
<button id='paper' name="move"  type="submit" value="Paper">Paper</button> 
<button id='scissors' name="move"  type="submit" value="Scissors"> Scissors</button>
</form>

<% else %>

<h2> <%= @name_1 %> chose <%= @playermoves.move_list[0] %> </h2>
<h2> <%= @name_2 %> chose <%= @playermoves.move_list[1] %> </h2>

<h2> <%= @gamelogic.winner(@playermoves.move_list[0],@playermoves.move_list[1]) %> </h2>

<form action="/play_again" method="get"> 
<button id='play_again' name="play_again" type="submit" >Play again?</button>

<% end %>

</body>
</html>