<!DOCTYPE html>
<html>
<head >
  <style media="screen">
    .message {
      font-size: 5em;
      color: #BADA55;
    }
  </style>
</head>

<body>
<span class="message"> <%= @game.player1.name %> VS <%= @game.player2.name %> </span>

<form action=/choice method=post >
  <input type=submit name=move value=Rock>
  <input type=submit name=move value=Paper>
  <input type=submit name=move value=Scissors>
</form>

<% unless @game.player1.choice.nil? %>
  <div name=moves>
  <span style="float:left; width: 50%;" class="message" name=p1_move ><%= @game.player1.name %> chose <%= @game.player1.choice%>! </span>
  <span style="float:right; width: 50%;" class="message" name=p2_move ><%= @game.player2.name %> chose <%= @game.player2.choice%>! </span>
  </div>

<div class=message name=result>
  <span type=text > <%= @game.result(@game.player1.choice, @game.player2.choice) %></span>
</div>

<% end %>

</body>
</html>
