<h1>Rock Paper Scissors!</h1>

<h2><%=@game.players[0].get_name%> vs. <%=@game.players[1].get_name%></h2>
<h2><%=@game.round ? "ROUND WON BY:"<<@winners.to_s : "Fresh Game" %></h2>
<h2><%=@game.players[0].get_name%>  : <%=@game.players[0].get_score%> points</h2>
<h2><%=@game.players[1].get_name%>  : <%=@game.players[1].get_score%> points</h2>


<form action="/play" method="post" id = "form2">
<button name="commit" type="submit" value="Finish">Finish</button>
<br><br>
<hr><br>
<h3><%=@game.players[0].get_name%>: Select the move you want to play:
  <select name = "move1" >
    <option value="rock" selected="selected" >rock</option>
    <option value="paper">paper</option>
    <option value="scissors">scissors</option>
  </select>
<br>
<%=@game.players[1].get_name%>: Select the move you want to play:
<select name = "move2" >
  <option value="rock" selected="selected" >rock</option>
  <option value="paper">paper</option>
  <option value="scissors">scissors</option>
</select>
<br>
</h3>

<button name="commit" type="submit" value="Submit">Play</button>
