<% if @winner == nil %>
  <p>Let's play, <%= @player_name %> goes first!</p>
  <p>
    <a href="/choice?player_choice=rock"><img src="rock.jpg" alt="rock.jpg"></a>
    <a href="/choice?player_choice=paper"><img src="paper.jpg" alt="paper.jpg"></a>
    <a href="/choice?player_choice=scissors"><img src="scissors.jpg" alt="scissors.jpg"></a>
  </p>
<% else %>
  <p><%= @player_name %>'s choice: <%= @player_choice %>.</p>
  <p>Computer's choice: <%= @computer_choice %>.</p>
  <%= @winner %> wins!
<% end %>
