<h1> <%=session[:game].return_player(1).name%> vs <%=session[:game].return_player(2).name%> </h1>

<h1>
  <%=session[:game].return_player(1).name%>: <%=session[:game].return_player(1).score%>
  <%=session[:game].return_player(2).name%>: <%=session[:game].return_player(2).score%>
</h1>
