<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<style>
  .button_div {
    display: inline-block;
    padding: 50px;
  }

  .bottomleft {
      position: absolute;
      bottom: 40;
      left: 50px;
  }

  .bottomright {
      position: absolute;
      bottom: 40;
      right: 50px;
  }
</style>

<center>
  <h1><%=@game.player_1.name%> vs. Computer!</h1>

  <div class ="button_div">
    <form action="/rock" method="post">
      <input type="image" id="image" width="80" height="80" display="inline" src="https://image.flaticon.com/icons/svg/925/925141.svg" alt="rock" value=Submit> </input>
    </form>
  </div>
  <div class ="button_div">
    <form action="/paper" method="post">
      <input type="image" id="image" width="80" height="80" display="inline" src="https://image.flaticon.com/icons/svg/941/941565.svg" alt="rock" value=Submit> </input>
    </form>
  </div>
  <div class ="button_div">
    <form action="/scissors" method="post">
      <input type="image" id="image" width="80" height="80" display="inline" src="https://image.flaticon.com/icons/svg/1151/1151147.svg" alt="rock" value=Submit> </input>
    </form>
  </div>

  <h2>
    <% if @game.round > 0 %>
      <%= @game.player_1.move %> vs. <%= @game.player_2.move %><br>
      <% if @game.round_winner == "Draw" %>
        It's a draw!<br>
      <% else %>
        <%= @game.round_winner %> wins!<br>
      <% end %>
      <div class ="bottomleft">
        <%= @game.player_1.name %>: <%= @game.player_1.score %>
      </div>
      <div class ="bottomright">
        <%= @game.player_2.name %>: <%= @game.player_2.score %>
      </div>
    <% end %>
  </h2>
</center>
