<h1>Begin game</h1>
<h2>Today <%=session[:player].name%> you are playing the mighty <%=session[:computer].name%> machine</h2>

<%=session[:player].name%> take your time and choose your weapon <br>

<form action="/result" method="post">
  <input type="submit" name="weapon" value="Rock" />
  <input type="submit" name="weapon" value="Paper" />
  <input type="submit" name="weapon" value="Scissors" />
</form>

<form action="/" >
  <input type="submit" value="New Player" />
</form>

<h1><%=@result%></h1>
<h2><%=@error_message%></h2>