<%= @gameplay.player_name %> vs. Computer
<br>
<%= @gameplay.player_name %>'s turn. Choose your move
<br>
<form method="POST" action='/play'>
<input type="submit" name='player_choice' value='Rock'></input>
<br>
<input type="submit" name='player_choice' value='Paper'></input>
<br>
<input type="submit" name='player_choice' value='Scissors'></input>
</form>
<%= @gameplay.player_name %> chose <%= @gameplay.player_choice %>

<div id='computer_choice'>
  Computer chose <%= ['Rock', 'Paper', 'Scissors'].sample %> 
</div 

<% if @gameplay.win? %>
 You win!
<% end %>