<link rel="stylesheet" type="text/css" href="/style.css">
<h1>Rock,  Paper,  Scissors,  Lizard,  Spock!<h1>
<div class="mini_space"></div>
<p style="color:#e88370"><%= @game.player1.name %> vs. <%= @game.player2.name %></p>
<div class="tiny_space"></div>
<p style="color:#e88370; font-size:40px"><%= @game.player1.points %>-<%= @game.player2.points %></p>
<div class="mini_space"></div>
<form action="/result">
  <div class="player1_choice">
    <p>Hover here, <%= @game.player1.name %>!<p/>
    <div class="tiny_space"></div>
    <fieldset>
      <input id="rock1" type="radio" name="mode1" value="rock" class="radio"/>
      <label for="rock1">Rock</label>
      <input id="paper1" type="radio" name="mode1" value="paper" class="radio"/>
      <label for="paper1">Paper</label>
      <input id="scissors1" type="radio" name="mode1" value="scissors" class="radio"/>
      <label for="scissors1">Scissors</label>
      <input id="lizard1" type="radio" name="mode1" value="lizard" class="radio"/>
      <label for="lizard1">Lizard</label>
      <input id="spock1" type="radio" name="mode1" value="spock" class="radio"/>
      <label for="spock1">Spock</label>
    </fieldset>
  </div>

  <div class="mini_space"></div>

  <% if @game.player2.name != 'Computer' %>
    <div class="player2_choice">
      <p>Hover here, <%= @game.player2.name %>!<p/>
      <div class="tiny_space"></div>
      <fieldset>
        <input id="rock2" type="radio" name="mode2" value="rock" class="radio"/>
        <label for="rock2">Rock</label>
        <input id="paper2" type="radio" name="mode2" value="paper" class="radio"/>
        <label for="paper2">Paper</label>
        <input id="scissors2" type="radio" name="mode2" value="scissors" class="radio"/>
        <label for="scissors2">Scissors</label>
        <input id="lizard2" type="radio" name="mode2" value="lizard" class="radio"/>
        <label for="lizard2">Lizard</label>
        <input id="spock2" type="radio" name="mode2" value="spock" class="radio"/>
        <label for="spock2">Spock</label>
      </fieldset>
    </div>
  <%end%>

  <div class="mini_space"></div>
	<input class="button" type="submit" value="Reveal winner">
</form>
