<head>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class='bg' background="https://i.imgur.com/go86K5Y.gif?noredirect" height='100%' width="100%" margin='0'>

<center>
  <h1 class='header'>
    <%= @game.player_one.name %> VS RPS
    <img src='https://ksr-ugc.imgix.net/assets/001/057/549/5ca7f2d6c2e946024b8fad44c85e654d_original.jpg?ixlib=rb-1.1.0&w=680&fit=max&v=1381479586&auto=format&gif-q=50&q=92&s=6abb0fb3956cbe88651ab861db9df8aa' height='70%' width='95%' >
  </h1>
</center>

<div class="container" style='float: left; border:5px solid black;'>
  <img src='https://uploads.disquscdn.com/images/d151788cd04ad2fe888570798af5c4ac644a5eb541c43c26f427a13007b0e28f.gif' width="400px">
  <div class="bottom-left"> Name: <%= @game.player_one.name %> </div>
  <div class="bottom-right"> HP: <%= @game.player_one.hp %> </div>
</div>
<div class="container" style='float: right; border:5px solid black;'>
  <img src='https://uploads.disquscdn.com/images/d151788cd04ad2fe888570798af5c4ac644a5eb541c43c26f427a13007b0e28f.gif' width="400px">
  <div class="bottom-left"> Name: <%= @game.player_two.name %> </div>
  <div class="bottom-right"> HP: <%= @game.player_two.hp %> </div>
</div>


<center>
  <form action = "/play" method = "post">
    <div>
      <button class="button" type='submit' name="choice" value='Rock'>Rock</button>
    </div>
    <div>
      <button class="button" type='submit' name="choice"  value='Paper'>Paper</button>
      &emsp;
      &emsp;
      &emsp;
      &emsp;
      <button class="button" type='submit' name="choice" value='Scissors'>Scissors</button>
    </div>
    &emsp;
    <div>
      <button class="button" type='submit' name="choice" value='Lizard'>Lizard</button>
      &emsp;
      <button class="button" type='submit' name="choice" value='Spock'>Spock</button>
    </div>
  </form>
</center>
