<html>
<head>
  <title>R-P-S-L-S</title>
  <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
</head>

<body>

  <h1> <%=@game.player_1.name%> </h1><h3>vs.</h3><h1> <%=@game.player_2.name%> </h1>
  <h3>Time to make your move...</h3>

  <form action="/play" method="POST">
      <input type='submit' value='Rock' name='action1'>
      <input type='submit' value='Paper' name='action1'>
      <input type='submit' value='Scissors' name='action1'>
      <input type='submit' value='Lizzard' name='action1'>
      <input type='submit' value='Spock' name='action1'>
  </form>

  <form action="/run" method="POST">
      <input type='submit' value='Rock' name='action2'>
      <input type='submit' value='Paper' name='action2'>
      <input type='submit' value='Scissors' name='action2'>
      <input type='submit' value='Lizzard' name='action2'>
      <input type='submit' value='Spock' name='action2'>
  </form>

  <section class='results'>
    <h3>
      <% if @game.completed? %>
        <%= @game.player_1.name %> played <%= @game.player_1.move %> and
        <%= @game.player_2.name %> played <%= @game.player_2.move %>
      <% end %>

    <p>
      <% if @game.draw? %>
        It's a draw...
      <% elsif @game.win? %>
        <%= @game.player_1.name %> wins!
      <% elsif @game.lose? %>
        <%= @game.player_2.name %> wins!
      <% end %>
    </h3>

  </section>


</body>
</html>
