<body class="play">
  <h2>Hi, <%=@player1.name%>.</h2>
  <h4>select your weapon:</h4>
  <form action="/play" method="post">
    <input type="submit" name="attack" value="Rock" />
    <input type="submit" name="attack" value="Paper" />
    <input type="submit" name="attack" value="Scissors" />
  </form>
  <br/>
  <p>
    <%=@player1.attack ? "#{@player1.name} selected <b>#{@player1.attack.capitalize}</b>" : ''%>
  </p>

  <% if !@winner.nil? %>
  <div class="winner">
    <div class="line_separator">-------------------------</div>
    <p>
      <img src="images/<%=@player1.attack%>.png" />
    </p>
    <p>
      <img id='bottom_attack' src="images/<%=@player2.attack%>.png" />
    </p>
    <div class="line_separator">-------------------------</div>
    <p>
      <%=@player2.attack ? "#{@player2.name} selected <b>#{@player2.attack.capitalize}</b>" : ''%>
    </p>

    <h3>
      <%=@winner ? "#{@winner.name} wins!" : 'no winner, try again'%>
    </h3>
  </div>
  <% end %>

</body>
