<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h1><%= @game.player_1.name %> vs <%= @game.player_2.name %></h1>
    <% if @game.multiplayer_turn_1? %>
      <h2><%= @game.player_1.name %>'s choice. No peeking <%= @game.player_2.name %>!</h2>
    <% elsif @game.multiplayer_turn_2? %>
      <h2><%= @game.player_2.name %>'s choice. No peeking <%= @game.player_1.name %>!</h2>
    <% end %>

    <form <% if @game.multiplayer_turn_2? %>action="/player-2"<% else %>action="/player-1"<% end %> method="post">
      <button type="submit" name="player_choice" value='Rock'>Rock</button>
      <button type="submit" name="player_choice" value='Paper'>Paper</button>
      <button type="submit" name="player_choice" value='Scissors'>Scissors</button>
      <button type="submit" name="player_choice" value='Lizard'>Lizard</button>
      <button type="submit" name="player_choice" value='Spock'>Spock</button>
    </form>
</body>
</html>