<h2>Welcome to Rock, Paper, Scissors</h2>
<br>
<h2><%= @game.player.name %> vs <%= @game.opponent.name %></h2>
<br>
Current Score
<br>
<%= @game.player.name %>:<%= @game.player.score %>
<br>
<%= @game.opponent.name %>:<%= @game.opponent.score %>
<br>
<h2>Please choose Rock, Paper or Scissors below</h2>

<form action="/process" method="post">
<input type="image" name ='choice' value="Rock" src = "http://i.imgur.com/jmKJw0h.png" alt='Submit'>
<input type="image" name ='choice' value="Paper" src = "http://i.imgur.com/7lNvdVL.png" alt='Submit'>
<input type="image" name ='choice' value="Scissors" src = "http://i.imgur.com/VSQljOo.png" alt='Submit'>
</form>
