<!DOCTYPE html>
<hmtl>
  <body>
    <h1><%=@game.whos_waiting.name%> picked <%=@game.whos_waiting.shape.name%></h1>
    <h2><%=@game.whos_turn.name%>'s turn!'</h2>
    <form action='/apply_and_redirect' method='post'>
      <input type="radio" name="shape_choice" value="0">Pick <%=@game.shapes[0].name%><br>
      <input type="radio" name="shape_choice" value="1">Pick <%=@game.shapes[1].name%><br>
      <input type="radio" name="shape_choice" value="2">Pick <%=@game.shapes[2].name%><br>
      <button type='submit'>Play!</button>
    </form>
  </body>
</html>
