<html>
<head>
  <title>R-P-S-L-S</title>
  <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
</head>

<body>

  <h1> <%=@game.player_1.name%> </h1><h3>vs.</h3><h1> <%=@game.player_2.name%> </h1>

  <section class="pick">
  <% unless @game.completed? %>
    <h3><%= @game.turn.name %> time to make your move...</h3>

    <% if @game.no_players==1 %>
      <form action="/play" method="POST">
          <input type='submit' value='Rock' name='action' id='rock'>
          <input type='submit' value='Paper' name='action'>
          <input type='submit' value='Scissors' name='action'>
          <input type='submit' value='Lizzard' name='action'>
          <input type='submit' value='Spock' name='action'>
      </form>
    <% end %>

    <% if @game.no_players==2 && @game.turn==@game.player_1 %>
      <form action="/play" method="POST">
          <input type='submit' value='Rock' name='action'>
          <input type='submit' value='Paper' name='action'>
          <input type='submit' value='Scissors' name='action'>
          <input type='submit' value='Lizzard' name='action'>
          <input type='submit' value='Spock' name='action'>
      </form>
    <% end %>

    <% if @game.no_players == 2 && @game.turn==@game.player_2 %>
      <form action="/play" method="POST">
          <input type='submit' value='Rock' name='action'>
          <input type='submit' value='Paper' name='action'>
          <input type='submit' value='Scissors' name='action'>
          <input type='submit' value='Lizzard' name='action'>
          <input type='submit' value='Spock' name='action'>
      </form>
    <% end %>
  <% end %>
  </section>


  <section class='results'>
    <% if @game.completed? %>
      <%= @game.player_1.name %> played <%= @game.player_1.move %> and
      <%= @game.player_2.name %> played <%= @game.player_2.move %>
      <p>
      <% if @game.draw? %>
        It's a draw...
      <% elsif @game.win? %>
        <%= @game.player_1.name %> wins!
      <% elsif @game.lose? %>
        <%= @game.player_2.name %> wins!
      <% end %>
      <p>
        <form action="/">
          <input type='submit' value='Play again'>
        </form>
      <% end %>
  </section>


</body>
</html>
