<div style="text-align: center;">
  <%= @game.player_1.name %> (<%=@game.player_1.points%>)  vs. <%= @game.player_2.name %> (<%=@game.player_2.points%>)
  <h1> Make your choice, <%= @game.player_2.name%></h1>
  <form action="/result">
    <button name="choice" value="rock"><img src="/images/rock.png" alt="rock" style="width:276px;height:163px;"></button>
    <button name="choice" value="paper"><img src="/images/paper.png" alt="paper" style="width:276px;height:163px;"></button>
    <button name="choice" value="scissors"><img src="/images/scissors.png" alt="scissors" style="width:276px;height:163px;"></button>
    <button <%= @current_game_mode %>name="choice" value="spock"><img src="/images/spock.png" alt="scissors" style="width:276px;height:163px;"></button>
    <button <%= @current_game_mode %>name="choice" value="lizard"><img src="/images/lizard.png" alt="scissors" style="width:276px;height:163px;"></button>
  </form>
</div>
