<embed src="http://www.ffmages.com/ffvii/ost/disc-1/10-let-the-battles-begin.mp3" loop="true" autostart="true" hidden="true" />
<body bgcolor="#464343">
<div>
  <center>
    <font face="impact" color="#090C7B">
    <p><h1>Welcome to RPS</h1></p>
    <p><h3><%=@name%> is ready for battle!</h3></p>
    <p></p>
    <h4>Choose your method of attack...</h4>
    <form action="/attacktype" method="post">
    <p><input type="radio" name="attacktype" value="rock" id="ROCK">ROCK</p>
    <p><input type="radio" name="attacktype" value="paper" id="PAPER">PAPER</p>
    <p><input type="radio" name="attacktype" value="scissors" id="SCISSORS">SCISSORS</p>
    <p><input type="radio" name="attacktype" value="spock" id="SPOCK">SPOCK</p>
    <p><input type="radio" name="attacktype" value="lizard" id="LIZARD">LIZARD</p>
    <p><input type="submit" value="My choice is made"></p>
    </form>
    <br>
    <%=@name%>: <%=@game.score.total%> vs Computer: <%=@game.score.comp_total%></font>
    <br>
    <font size="3" face="impact" color="#090C7B">Best of <%= Game::BEST_OF.to_i %>  games</font>
    <br>
    <font size="6" face="arial" color="red">RULES</font>
    <br>
    <img src=https://s3.amazonaws.com/bonanzleimages/afu/images/7341/1329/big_bang.jpg height="477" width="500">
  </center>
</div>