<p>Hi there, <%= @game.player_name %>!</p>
<p>Please select one option from the choices below:</p>

<form method="post" action="/play">
  <input name="player_weapon" type="submit" value="Rock" />
  <input name="player_weapon" type="submit" value="Paper" />
  <input name="player_weapon" type="submit" value="Scissors" />
</form>

<p>You selected <%= @game.player_weapon.to_s.capitalize %>!</p>
<div id="computer_selection" >
  <p>Computer selected <%= @game.computer_weapon.to_s.capitalize %>!</p>
</div>

<% if @game.player_wins? %>
  <p>Player wins!</p>
<% elsif @game.computer_wins? %>
  <p>Computer wins!</p>
<% else %>
  <p>It's a tie!</p>
<% end %>


<%
=begin %>
<% if @player_choice %>
<p>You selected <%= @player_choice %>!</p>
<p>Computer selected <%= @computer_choice %>!</p>
<p><%= @result.winner %></p>

<form method="post" action="/register">
  <input name="George" type="submit" value="Play again" />
</form>

<% end %>

<%
=end %>
