<h1>RockPaperScissors</h1>

<p>Choose your weapon, <%= @name %>.</p>

<form action="/play_rps" method="post">
  <% @game.weapons.each.with_index do |weapon, index| %>
    <p>
    <% if index == 0 %>
      <input type="radio" name="weapon" value="<%= weapon %>" id="<%= weapon %>" checked>
    <% else %>
      <input type="radio" name="weapon" value="<%= weapon %>" id="<%= weapon %>">
    <% end %>
    <label for="<%= weapon %>"><%= weapon %></label>
    </p>
  <% end %>
  <input type='submit' value='THROW SHAPE'>
</form>
