<h2> <%= @playername %> vs Computer</h2>
<div>
<form method="post" action="/rock">
  <input type="submit" value="Rock" >
</form>

<form method="post" action="/paper">
  <input type="submit" value="Paper" >
</form>

<form method="post" action="/scissors">
  <input type="submit" value="Scissors" >
</form>
</div>
<h3><%= @confirmation %></h3>
<h3><%=@print_comp_choice%></h3>
<h3><%=@result%></h3>
<!-- <h3><%= $confirmation %></h3> -->
