<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Taviraj" rel="stylesheet">

<body id="play">
  <h1><%=@game.player_1.name%> vs. <%=@game.player_2.name%><h1>
  <h2><%=@game.player_1.name%> score : <%=@game.player_1_score%><h2>
  <h2><%=@game.player_2.name%> score : <%=@game.player_2_score%><h2>
  <h2>Games played: <%=@game.played_games%>


  <form action="/rock">
    <label for="Rock">
      <input type="submit" value="ROCK">
    </label>
  </form>
  <form action="/paper">
    <label for="Paper">
      <input type="submit" value="PAPER">
    </label>
  </form>
  <form action="/scissors">
    <label for="Scissors">
      <input type="submit" value="SCISSORS">
    </label>
  </form>
</body>
