<body>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>

  <% if @score.decide_winner(@choice, @cp) == :tie %>
    <h1><b>Draw</b></h1>
  <% elsif @score.decide_winner(@choice, @cp) == :p1 %>
    <%= @game.p1_win; nil %>
    <h1><b>You win</b></h1>
  <% else %>
    <%= @game.p2_win; nil %>
    <h1><b>Computer Wins</b></h1>
  <% end %>
  <br>
  <br>
  <h2>Your choice:
  <br>
  <br>
    <b></em><%=@choice%></em></b>
  <br> 
  <br> 
    Computer's:  ==>  <b><em><%= @cp %></em></b>
  <br>
  <br>
  <%= @game.players.first.name %>: <b><%= @game.player1_score %></b>, Computer: <b><%= @game.player2_score %></b>
  </h2>

  <form action='/play_one_player' method="get">
    <button type="submit" value="Again..."> Again...</button>
  </form>
</body>
