<% unless @winner %>
  <%if @choice1.empty?%>
    <h2><%=@player1%> please make a choice!</h2>
    <form method="post" action="/game-on">
        <button type="submit" name="choice1" value="0">Rock</button>
    </form>
    <form method="post" action="/game-on">
        <button type="submit" name="choice1" value="1">Scissors</button>
    </form>
    <form method="post" action="/game-on">
        <button type="submit" name="choice1" value="2">Paper</button>
    </form>
  <%else @choice2.empty?%>
    <h2><%=@player2%> please make a choice!</h2>
    <form method="post" action="/player-2">
        <button type="submit" name="choice2" value="0">Rock</button>
    </form>
    <form method="post" action="/player-2">
        <button type="submit" name="choice2" value="1">Scissors</button>
    </form>
    <form method="post" action="/player-2">
        <button type="submit" name="choice2" value="2">Paper</button>
    </form>
   <%end%>
<%else%>
  <p><%= @player1%> selected <%= @pl1_choice %></p>
  <p><%= @player2%> selected <%= @pl2_choice %></p>
    <%if @winner==0%>
    <p> Draw </p>
    <%else%>
    <p> <%= @winner %> won!!!</p>
    <%end%>

  <h2>Do it again...</h2>
  <form method="get" action="/reset">
      <button type="submit">Play!</button>
  </form>
<%end%>
