<!DOCTYPE html>
<html>
  <body>
    <h2><%= @game.player1.name %>, please choose your move!</h2>
    <form action="/choice" method="post">
    <% @game.choices.each do |choice| %>
    <button type="submit" name="choice" value="<%= choice.name %>" class="btn-link">
      <img src="<%= choice.img %>" alt="<%= choice.name %>" >
    </button>
    <% end %>
    </form>
    <h4>Rules</h4>
    <ul>
    <% @game.rules.rules.values.each do |rule| %>
      <li><%= rule %></li>
    <% end %>
    </ul>
  </body>
</html>