<h1>Round <%= @game.get_round %></h1>

<h1>Score: <%=@game.player1.name%> - <%=@game.player1.get_score%> : <%=@game.player2.name%> - <%=@game.player2.get_score%></h1>
<p>Player 1: <%=@game.player1.name%></p> 
<p>Player 2: <%=@game.player2.name%></p> 


<p>Turn: <%=@game.get_turn.name%></p> 



<img src="rock.png" alt="">

<form action="/turn" method="post" >

<button type="submit" name="result" value="Rock"><img src="/images/rock.png"></button>
<button type="submit" name="result" value="Paper"><img src="/images/paper.png"></button>
<button type="submit" name="result" value="Scissors"><img src="/images/scissors.png"></button>

</form>