<%=@game.p1 %> v <%= @game.p2 %>

<form action='/selection' method='post'>
  <input type='hidden' name='selection' value='rock'>
  <input type='submit' value='Rock'>
</form>

<form action='/selection' method='post'>
  <input type='hidden' name='selection' value='paper'>
  <input type='submit' value='Paper'>
</form>

<form action='/selection' method='post'>
  <input type='hidden' name='selection' value='scissors'>
  <input type='submit' value='Scissors'>
</form>

<form action='/selection' method='post'>
  <input type='hidden' name='selection' value='lizard'>
  <input type='submit' value='Lizard'>
</form>

<form action='/selection' method='post'>
  <input type='hidden' name='selection' value='spock'>
  <input type='submit' value='Spock'>
</form>

<% if @game.p1_selection %>
  <%= @game.p1 %> chose <%= @game.p1_selection %>
  <%= @game.p2 %> chose <%= @game.comp_selection %>
  <%= @game.message %>
<% end %>



