
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="play_style.css">
  </head>

  <body>
    <h1><%=@game.player1.name%> vs. <%=@game.player2.name%></h1>
    <p></p>
    <p></p>
    <%if @game.both_players_chose? %>
      <h1><%=@game.player1.name%> selected <%=@game.player1.selection%></h1>
      <h1><%=@game.player2.name%> selected <%=@game.player2.selection%></h1>
      <h1><%=@game.winner%></h1>
      <form class="winner" name="options" action="/" method="GET">
        <input type="submit" value="Retry" id="retry">
      </form>
    <% else %>
      <p></p>
      <p></p>
      <h2><%=@game.current_player.name%>'s turn</h2>
      <form class="options" name="options" action="/selection" method="POST">
        <input type="radio" name="selection" value="rock" id="rock"> Rock<br>
        <input type="radio" name="selection" value="paper" id="paper"> Paper<br>
        <input type="radio" name="selection" value="scissors" id="scissors"> Scissors<br>
        <p></p>
        <p></p>
        <input type="submit" value="Submit" id="selected">
      </form>
    <% end %>
  </body>

</html>
