<h1>You chose <%=session['choice']%>, <%=session['player_name']%>!</h1>
<h1>Your opponent chose <%=session['game'].opponent_choice%>!</h1>
<h1><%=session['game'].winner?%>, <%=session['player_name']%></h1>
<form action='/' method='get'>
  <button class='return_button' type='submit'>Play again?</button>
</form>
