<form action="/play" method="post">
  <input type="submit" name="move" value="rock" />
  <input type="submit" name="move" value="paper" />
  <input type="submit" name="move" value="scissors" />
</form>

<p><%= @next_player.name %>'s turn</p>


<% if @game_model.turn == :player1 %>
<p><%= @game_model.player1.name %>: <%= @game_model.player1_move %> vs. <%= @game_model.player2.name %>: <%= @player_move %></p>

<p>You <%= @game_model.round_result %> at this round!</p>

<p>You <%= @game_model.final_result %> so far!</p>
<% end %>
