<%= @player_name %> vs. Computer
<br>
<%= @player_name %>'s turn. Choose your move
<br>
<form method="POST" action='/play'>
<input type="submit" name='player_choice' value='Rock'></input>
<br>
<input type="submit" name='player_choice' value='Paper'></input>
<br>
<input type="submit" name='player_choice' value='Scissors'></input>
</form>
<%= @player_name %> chose <%= @player_choice %>

Your opponent chose <%= @computer_choice %>

<% if @turn.win? %>
<%= @player_name %> wins!
<% end %>