<html>

<h1>Welcome</h1> <h1 class = "name"><%=@first_name%> <%=@last_name%>!</h1>

<form action ="/play" method ="post">
  <label>
    Rock
  <input type = "submit" name = "choice" value ="rock"/>
  </label>
</form>
<form action = "/play" method ="post">
<label>
  Paper
  <input type = "submit" name = "choice" value ="paper"/>
</label>
</form>
<form action = "/play" method = "post">
  <label>
  Scissors
  <input type = "submit" name = "choice" value = "scissors"/>
</label>
</form>
<h2>Your choice: <%=@choice%></h2>
<h2>Computer's choice: <%=@random%>
<h1 class = "result"><%=@result%></h1>

<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

body {
  font-family: "Roboto", sans-serif ;
  font-size: 16px;
  line-height:1.5;
  text-align: center;
  color: #585858;
  background-color:#dddddd;
}
h1.name {
  color: #24C024;
  font-size: 40px
}
h1.result {
  color: red;
  font-size: 40px
}

form {
	max-width: 200px;
	margin: 20px auto 0 auto;
}

input,
textarea {

	/* over*/

border:none;
width: 100%;
padding: 10px;
margin: 10px 0;
border-radius: 3px;
}

textarea {
	height: 100px;
    resize: vertical;
}
input[type="submit"] {

	background-color: #000;
	color: #fff;

	cursor: pointer;
}

input,
textarea {
	outline: none;
}

</style>

</html>
