<!DOCTYPE HTML>
<html>
<head>
      <link href="/css/application.css" rel="stylesheet" type="text/css">
      <title>Classic game</title>
</head>
    <body>
      <p>
      <%= @Player_1 %> vs Computer
      </p>
      <form action="/play" >
        <button name="selection" type="submit" value="Rock">Rock</button>
      </form>

      <form action="/play" >
        <button name="selection" type="submit" value="Paper">Paper</button>
      </form>

      <form action="/play" >
        <button name="selection" type="submit" value="Scissors">Scissors</button>
      </form>

      <p>
            <% if @Player_selection %>
              <h1> <%=@Player_1%> chose attack method <%=@Player_selection%></h1>
            <% end %>
      </p>
      <p>
        <% if @Player_selection %>
          <h1> Computer randomly choses attack method <%=@computer_selection%></h1>
        <% end %>
      </p>
      <p>
          <% if @Player_selection == 'Rock' && @computer_selection == 'Rock' %>
            <h1> No body wins</h1>
          <% end %>
          <% if @Player_selection == 'Rock' && @computer_selection == 'Scissors' %>
            <h1> Rock blunts Scissors <%=@Player_1%> wins!!</h1>
          <% end %>
          <% if @Player_selection == 'Scissors' && @computer_selection == 'Paper' %>
            <h1> Scissors cuts Paper <%=@Player_1%> wins!!</h1>
          <% end %>
          <% if @Player_selection == 'Paper' && @computer_selection == 'Rock' %>
              <h1> Paper wraps Rock <%=@Player_1%> wins!!</h1>
          <% end %>
          <% if @Player_selection == 'Scissors' && @computer_selection == 'Scissors' %>
            <h1> No body wins</h1>
          <% end %>
          <% if @Player_selection == 'Paper' && @computer_selection == 'Paper' %>
            <h1> No body wins</h1>
          <% end %>

          <% if @computer_selection == 'Rock' && @Player_selection == 'Scissors' %>
            <h1> Rock blunts Scissors computer wins!!</h1>
          <% end %>
          <% if @computer_selection == 'Scissors' && @Player_selection == 'Paper' %>
            <h1> Scissors cuts Paper computer wins!!</h1>
          <% end %>
          <% if @computer_selection == 'Paper' && @Player_selection == 'Rock' %>
              <h1> Paper wraps Rock computer wins!!</h1>
          <% end %>

      </p>
    </body>
</html>
