<h1>It's time to play, <%= @name %>!</h1>
<h2>Choose your move!</h2>
<form action= "/move?move=rock" method="post">
  <input type="submit" value="Rock">
</form>
<form action= "/move?move=paper" method="post">
  <input type="submit" value="Paper">
</form>
<form action= "/move?move=scissors" method="post">
  <input type="submit" value="Scissors">
</form>
<% if @game.game_log.games.length > 0 %>
  <%= @game.game_log.show_game %>
<% end %>
<% if @game.result == :win %>
<p>You won!</p>
<% end %>
<% if @game.result == :loss %>
<p>You lost :(</p>
<% end %>
<% if @game.result == :draw %>
<p>It's a draw!</p>
<% end %>
<% if @game.game_log.games.length > 0 %>
  <p>The current score is <%= @name %>: <%= @game.game_log.score[:player] %>, COMPUTER: <%= @game.game_log.score[:computer] %></p>
<% end %>
<a href = "/">End current game</a>
