<div class="container text-center">
  <div class="row">
    <div>
        <h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
        <h3><%= @game.player_1.name %>: <%= @game.scorer.score.first %></h3>
    </div>

    <div class="col-lg-6">
        <h3><%= @game.player_2.name %>: <%= @game.scorer.score.last %></h3>
    </div>
  </div>

<br>
<br>

  <div class="row">
    <div class="col-lg-4">
      <form action="/submit" method="post">
        <input type="image" src="/assets/rock.png" value="rock" name="pick" onmouseover="this.src='/assets/rock_highlight.png'"  onmouseout="this.src='/assets/rock.png'">
      </form>
    </div>

    <div class="col-lg-4">
      <form action="/submit" method="post">
        <input type="image" src="/assets/paper.png" value="paper" name="pick" onmouseover="this.src='/assets/paper_highlight.png'"  onmouseout="this.src='/assets/paper.png'">
      </form>
    </div>

    <div class="col-lg-4">
      <form action="/submit" method="post">
        <input type="image" src="/assets/scissors.png" value="scissors" name="pick" onmouseover="this.src='/assets/scissors_highlight.png'"  onmouseout="this.src='/assets/scissors.png'">
      </form>
    </div>
  </div>
</div>
