<h1> Let the games begin!</h1></br>
<h2> Playing: <%= @player.name %>(<%= @player.points %>) vs. the Computer(<%= @computer.points %>) </h2></br>

<% if @player.hand %>
    <h3> <%= @player.name %> plays: <%= @player.hand %> </h3>
<% end %>

<% if @computer.hand %>
  <h3> Computer plays: <%= @computer.hand %> </h3>
  <h3> <%= @game.winner %> </h3>
<% end %>

 <form action='/rock', method='post'>
    <input type='submit' value='Rock'>
 </form>

<form action='/scissors', method='post'>
    <input type='submit' value='Scissors'>
</form>

<form action='/paper', method='post'>
    <input type='submit' value='Paper'>
</form>

<form action='/lizard', method='post'>
    <input type='submit' value='Lizard'>
</form>

<form action='/spock', method='post'>
    <input type='submit' value='Spock'>
</form>

