<div align="center">
  <br>
<p><%= @game.current_player.name %>, make your choice:</p>

<div>
<form action="/result" method="get" style="display: inline-block;" >
  <input type="submit" value="rock" name="choice">
</form>

<form action="/result" method="get" style="display: inline-block;" >
  <input type="submit" value="paper" name="choice">
</form>

<form action="/result" method="get" style="display: inline-block;" >
  <input type="submit" value="scissors" name="choice">
</form>
</div>

<img src="https://rockpaperscissors.com/wp-content/uploads/2016/12/rps-logo-og.png">
</div>

<br>

<div align="center">
  <div>
      <p>Rounds: <%=@game.rounds%> </p>
      <p><%=@game.player_1.name%>: Won <%=@game.player_1.win_count%>, Drawn <%=@game.player_1.draw_count%>, Lost <%=@game.player_1.lose_count%></p>
  </div>
</div>

<br>

<div align="center">
  <form action="/" method="get">
    <input type="submit" value="Restart game">
  </form>
</div>
