<div style='background-color: black; color: white; border: 3px solid black; padding-left: 20px; height: 1000px'>
 <% if @name == "" %>
    <h1 style="padding-left: 450px">Player 1 name: <span style="color: yellow;" ><%= @name = "Nameless Person" %></span></h1>
  <% else %>
    <h1 style="padding-left: 450px">Player 1 name: <span style="color: yellow;" ><%= @name  %></span></h1>
  <% end %>
  <img src="https://image.ibb.co/kHMqV9/rps.png" alt="rps" border="0" 
  style="padding-left: 230px; padding-bottom: 23px; padding-top: 10px">  
 

  <a href="/attack" style="color:white; text-decoration: none;">
    <% if !@weapon %>
     <h1 style="padding-left: 450px; font-size: 60px; color: orange; ">Click to Play</h1>
    <% end %>
  </a>

   <% if @weapon %>
    <h1 style="padding-left: 450px">Your Weapon: <span style="color: yellow;" ><%= @weapon %></span></h1>
    <h1 style="padding-left: 450px">Computer Weapon: <span style="color: yellow;" ><%= @computer_weapon %></span></h1>
    <h1 style="padding-left: 450px"><span style="color: yellow;" ><%= @message %></span></h1>
   <% end %>

   <% if @message %>
    <a href="/reset" style="text-decoration: none;"><h1 style="padding-left: 450px; color: yellow;">Play again</h1></a>
   <% end %>
</div>




