<html>
  <head>
    <title>Battle!</title>

  </head>
  <body>
    <%= @game.player_1.name %> vs. <%= @game.player_2.name %>

    <%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

    <%= @game.current_turn.name %>'s turn
  </body>
</html>
