<!DOCTYPE html>
  <head>
    <title>Ultimate RPS</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="centered">

    <div class="header">
      <a href="https://github.com/rufusraghunath">
        <img src="/images/github.png"/>
      </a>

      <a href="https://www.linkedin.com/in/rufusraghunath?trk=hp-identity-name">
        <img src="/images/linkedin.png"/>
      </a>

      <a href="https://codeyourselfdizzy.wordpress.com/">
        <img src="/images/wordpress.png"/>
      </a>
      <p>Made by Rufus Raghunath</p>
    </div><!-- end header -->

    <% if $game.nil? %>

      <h1>Enter your name:<h2>
      <form action="/pvc_name" method="post">
        <input type="text" name="player_name" required>
        <input type="submit" value="Enter">
      <form>

    <% else %>

      <% if $game.player1.choice.nil? %>

        <p><span> <%= "Hiya #{$game.player1.name.capitalize}.
          Choose your weapon!" %>
        </span></p>

        <div class="weapons">
        <form action="/pvc_choice" method="post">
          <input src="/images/rock.jpg"  type="image" name="choice" value='rock'>
          <input src="/images/paper.jpg" type="image" name="choice" value='paper'>
          <input src="/images/scissors.jpg"  type="image" name="choice" value='scissors'>
          <input src="/images/lizard.jpg"  type="image" name="choice" value='lizard'>
          <input src="/images/spock.jpg" type="image" name="choice" value='Spock'>
        </form>
        </div>

      <% else %>

        <div class="outcome">

        <p>
          <%= "#{$game.player1.name.capitalize} choses
          #{$game.player1.choice}." %>
        </p>
        <% if $game.player2.choice.nil? %>
          <a id="generate_pc_choice" href="/pvc_pc_choice">
            <button type="button">Generate computer choice</button>
          </a>
        <% else %>
          <p>
            <%= "Computer chooses #{$game.player2.choice}." %>
          </p>
          <% if $game.draw %>
            <p>The game is a draw!</p>
          <% else %>
            <b><%= $game.outcome %></b>
            <% if $game.winner == $game.player1 %>
              <p><%= "#{$game.player1.name.capitalize} wins!" %></p>
            <% else %>
              <p>Computer wins!</p>
            <% end %>
          <% end %>
          <a id="play_again" href="/">
            <button type="button">Play again</button>
          </a>
        <% end %>
      <% end %>

    </div> <!-- end outcome -->

    <% end %>
  </div> <!-- end centered -->
  </body>
</html>
