<!DOCTYPE html>
  <head>
    <title>Ultimate RPS</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="centered">

    <div class="header">
      <a href="https://github.com/rufusraghunath">
        <img src="/images/github.png"/>
      </a>

      <a href="https://www.linkedin.com/in/rufusraghunath?trk=hp-identity-name">
        <img src="/images/linkedin.png"/>
      </a>

      <a href="https://codeyourselfdizzy.wordpress.com/">
        <img src="/images/wordpress.png"/>
      </a>
      <p>Made by Rufus Raghunath</p>
    </div><!-- end header -->

    <% if $game.nil? %>

      <h1>Enter player names:<h2>
      <form action="/pvp_names" method="post">
        <input type="text" name="player1" required>
        <input type="text" name="player2" required>
        <input type="submit" value="Enter">
      <form>

    <% else %>

      <% if $game.player1.choice.nil? %>

        <p><span> <%= "Choose your weapon, #{$game.player1.name.capitalize}!" %>
        </span></p>

        <div class="weapons">
        <form action="/pvp_choice" method="post">
          <input src="/images/rock.jpg"  type="image" name="choice" value='rock'>
          <input src="/images/paper.jpg" type="image" name="choice" value='paper'>
          <input src="/images/scissors.jpg"  type="image" name="choice" value='scissors'>
          <input src="/images/lizard.jpg"  type="image" name="choice" value='lizard'>
          <input src="/images/spock.jpg" type="image" name="choice" value='Spock'>
        </form>
        </div>

      <% elsif $game.player2.choice.nil? %>

        <p><span> <%= "Choose your weapon, #{$game.player2.name.capitalize}!" %>
        </span></p>

        <div class="weapons">
        <form action="/pvp_choice" method="post">
          <input src="/images/rock.jpg"  type="image" name="choice" value='rock'>
          <input src="/images/paper.jpg" type="image" name="choice" value='paper'>
          <input src="/images/scissors.jpg"  type="image" name="choice" value='scissors'>
          <input src="/images/lizard.jpg"  type="image" name="choice" value='lizard'>
          <input src="/images/spock.jpg" type="image" name="choice" value='Spock'>
        </form>
        </div>

      <% else %>

        <div class="outcome">

        <p>
          <%= "#{$game.player1.name.capitalize} choses
          #{$game.player1.choice}." %>
        </p>

        <p>
          <%= "#{$game.player2.name.capitalize} choses
          #{$game.player2.choice}." %>
        </p>

        <% if $game.draw %>
          <p>The game is a draw!</p>
        <% else %>
          <b><%= "#{$game.outcome}" %></b>
          <p><%= "#{$game.winner.name.capitalize} wins!" %></p>
        <% end %>
        <a id="play_again" href="/">
          <button type="button">Play again</button>
        </a>
      <% end %>

      </div> <!-- end outcome -->

    <% end %>
  </div> <!-- end centered -->
  </body>
</html>
