<style>
body {
  font-family: 'Lucida bright', cursive;
  color: #D3D3D3;
  font-size: 20px;
  background-image: url("http://www.androidguys.com/wp-content/uploads/2015/12/Poly-Lakeside.jpg");
  background-size: 1300px 700px;
  background-position: fixed;
}
</style>
<body>


<h2> <center> <%= $game.first_player_name %> picked <%= $game.players[0].player_choice %> </center> </h2>
<h2> <center> <%= $game.bot_name %> picked <%= $game.bot_choice %> </center> </h2>
<h2> <center> <%= $game.game_result %> </center> </h2>

<a href="/">Restart and play again!!</a>
