<p><%= @name1 %> picked: <%= @player1_choice %></p>
<p><%= @name2 %> picked: <%= @player2_choice %></p>
<p>The results are in: <%= @result %></p>

<% if @result == "Player 1 Wins!" %>
  <p>Congratulations <%= @name1 %>!</p>
<% elsif @result == "Player 2 Wins!" %>
  <p>Congratulations <%= @name2 %>!</p>
<% else %>
  <form action='/play1' method='get'>
    <input type='submit' value='Rematch?'>
  </form>
<% end %>