<h1>You <%= @game.result.to_s.upcase %> that round!</h1>

  <% if @game.player_choice == :rock %>
  <img src="https://goo.gl/qDgfhF" height="200">
  <% end %>
  <% if @game.player_choice == :paper %>
  <img src="https://goo.gl/qV9Uxs" height="200">
  <% end %>
  <% if @game.player_choice == :scissors %>
  <img src="https://goo.gl/MXYFw7" height="200">
  <% end %>

  <% if @game.result == :win %>beats<% end%>
  <% if @game.result == :lose %>is beaten by<% end%>
  <% if @game.result == :draw %>draws with<% end%>

  <% if @game.bot_choice == :rock %>
  <img src="https://goo.gl/qDgfhF" height="200">
  <% end %>
  <% if @game.bot_choice == :paper %>
  <img src="https://goo.gl/qV9Uxs" height="200">
  <% end %>
  <% if @game.bot_choice == :scissors %>
  <img src="https://goo.gl/MXYFw7" height="200">
  <% end %>

  <h1><%= @game.player.name.upcase %> Wins: <%= @game.player.wins %> Loses: <%= @game.player.loses %></h1>

<% if @game.won? %>
<h1>YOU WIN <%= @game.player.wins %>-<%= @game.player.loses %></h1>
<form action='/'>
<input type='submit' value='Play again' name='Next'>
</form>
<% elsif @game.lost? %>
<h1>YOU LOSE <%= @game.player.wins %>-<%= @game.player.loses %></h1>
<form action='/'>
<input type='submit' value='Play again' name='Next'>
</form>
<% else %>
<form action='/play'>
<input type='submit' value='Next turn' name='Next'>
</form>
<% end %>
