<h1><%= @game.player_1.name %> vs <%= @game.player_2.name %></h1>

<% unless @game.player_1.choice.nil? %>

<h2><%= @game.player_1.name %> chose <%= @game.player_1.choice %>!</h2>
<h2><%= @game.player_2.name %> chose <%= @game.player_2.choice %>!</h2>

<h2><%= @game.result(@game.player_1.choice, @game.player_2.choice) %></h2>

<% end %>

<p>
  <form action="/play" method="get">
    <input type="submit" value="Let's play again!" />
  </form>
</p>

<p>
  <form action="/logout" method="get">
    <input type="submit" value="Log out" />
  </form>
</p>
