<!DOCTYPE html>

<html>
  <head>
    <title>RPS | Result</title>
  </head>

  <body>
    <h1><%= @message %></h1>
    <p><%= @player_1_move %> <%= @player_2_move %></p>
    <p><%= @game.player_1.name %> vs. <%= @game.player_2.name %></p>
    <a href="/play">Play again</a>
  </body>
</html>
