<h2><%= @game.player1.name %> selected [<%= @game.player1_choice %>] : 
<%= @game.player2.name %> selected [<%= @game.player2_choice %>]</h2>
<h1><%= @game.result %></h1>
<br>
<a href='/game'><button>Play Again</button></href>