<h1>The results are in</h1>
<div>
  <%= @game.player1.name %> selected <%= @game.player1.choice_human %>
</div>
<div>
  <%= @game.player2.name %> selected <%= @game.player2.choice_human %>
</div>
<div id="result">
  <%= @game.result %>
</div>
<a href="/player-1">Play again?</a>

