<h2>Player 1 choice <%=Player1.instance.current_choice%></h2>
<h2>Player 2 choice <%=Player2.instance.current_choice%></h2>


<% if @result_rps.zero? %>
<h2>It's a tie</h2>
<% elsif @result_rps == 1%>
<h2>Player 1 wins</h2>
<% else %>
<h2>Player 2 wins</h2>
<%end%>

<form action="/play_subsequent" method="get">
  <% if @game.score.length == 5 %>
  <% if @game.winner.nil? %>
  It's a tie! Even though 5 is an odd number. Weird...
  <% elsif @game.winner == @game.player1  %>
  Player <%= Player1.instance.name %> has won <%= @game.score.count(1) %> games out of 5!
  <% else %>
  Player <%= Player2.instance.name %> has won <%= @game.score.count(2) %> games out of 5!
  <% end %>
  <% else %>
  <input type="submit" value="Next round"/>
  <% end %>
</form>
