<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="rps_style.css">
</head
<body>
<div class="result" align=center>
  <h3><%= @game.player1.name %> picked: <%= @game.player1.move %> <br>
  <%= @game.player2.name %> picked: <%= @game.player2.move %> <br>
</div>

<div align=center>
  <h2><% if @winner == "Draw!" %>
    <%= @winner %> <br>
    Nobody wins this round!
    <% else %>
    <%= @winner.move %> wins! <br>
    <%= @winner.name %> wins this round!
    <% end %></h2>

<form align=center action='/play'>
  <input class="ok" type='submit' value='Ok' >
</form>
</div>
</body>
</html>
