<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rock Paper Scissors Lizard Spock</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href="/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1>Result:</h1>
  <p><%= @game.player_1.name %> chose <%= @game.player_1.choice %>!</p>
  <p><%= @game.player_2.name %> chose <%= @game.player_2.choice %>!</p>
  <% if @game.winner.nil? %>
    <h2>Draw</h2>
  <% else %>
    <h2><%= @game.winner.name %> wins</h2>
  <% end %>
</body>
</html>