<!DOCTYPE html>
<html>
<head>
<style>

#choice-form button {
  margin: 30px;
}

h2 {
  color: #B33332;
}

input[type=submit] {
  display: block;
  padding: 15px 15px;
  margin: 20px 0;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  color: #18174F;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

em {
  color: #4E7719;
}
</style>
</head>
<body>
  
  <h3><%= Player1.instance.name %> chose <em><%=Player1.instance.current_choice%></em></h3>
  <h3><%=Player2.instance.name %> chose <em><%=Player2.instance.current_choice%></em></h3>
  
  
  <% if @result_rps.zero? %>
  <h2>This round it's a tie</h2>
  <% elsif @result_rps == 1%>
  <h2>This round <%= Player1.instance.name %> wins</h2>
  <% else %>
  <h2>This round <%= Player2.instance.name %> wins</h2>
  <%end%>
  
  <% if @game.type == :multiple %>
  <form action="/play_subsequent" method="get">
    <input type="submit" value="Next round"/>
  </form>
  <% end %>
</body>
</html>
