<h1> <%= @player_1_name %> chose <%= @player_1_choice %> </h1>
<h1> <%= @player_2_name %> chose <%= @player_2_choice %> </h1>
<br>
<br>
<h1> <%= @winner %> wins! </h1>
<br>
<br>
<a href="/again">Play again</a>
<br>
<a href="/">New game</a>
