<head>
<link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>

<body>
<h1>Rock! Paper!! Scissors!!! Lizard!!!! Spock!!!!!</h1>
<p><%= @game.p_1.name %> chose <%= @game.p_1.weapon %>.</p>
<p><%= @game.p_2.name %> chose <%= @game.p_2.weapon %>.</p>
<p><%= @game.fight %></p>
<form action='/'>
  <button type='submit' value='submit'>Play Again!</button>
</form>
</body>
