<%= Game.current.players[0].name %> chose <%= Game.current.players[0].weapon_choice.class %><br>
<%= Game.current.players[1].name %> chose <%= Game.current.players[1].weapon_choice.class %><br>
<%= Game.current.result_string %><br>
<a href="/play">Play again?</a>
