
<html> 
<h1>Rock, Paper, Scissors</h1>
<link rel="stylesheet" type="text/css" href="/style.css"/>
<body>
<div class="display-inline">
<%= @game.player_name(2)%> played <%= @move2%>
<br>
<%= @game.player_name(1) %> played <%= @move %>
</div>
<br>
<div>
<%= @game.check_winner(@move, @move2)%>
<br>
</div>
<div class="button-container">
<br>
<form action='/new-game' method='post'> 
<div><button type="submit">New game</button></div>
</form>
<form action='/turn' method='get'> 
<div><button type="submit">Rematch</button></div>
</form>
</div>
</body>
