<h1><%= @game.result %></h1>

<table style="width: 100%;">
  <tr>
    <td style="padding: 50px;">
      <img src="img/<%= @game.player.move.downcase %>_left.png">
      <br />
      <h2><%= @game.player.name %>'s move: <%= @game.player.move %></h2>
    </td>
    <td style="padding: 50px;">
      <img src="img/<%= @game.computer.move.downcase %>_right.png">
      <br />
      <h2>Computer's move: <%= @game.computer.move %></h2>
    </td>
  </tr>
</table>

<form action="/">
  <input type="submit" value="Play again">
</form>
