<p><%= @game.player_1.name %> chose <%= @game.player_1.choice %></p>
<p><%= @game.player_2.name %> chose <%= @game.player_2.choice %></p>

<p><%= @game.result %></p>


<form action = '/play'>
  <button type="submit">Play again</button>
</form>
