<%= @game.player_1.name %> chose <%= @game.player_1.weapon.downcase %>.
<%= @game.player_2.name %> chose <%= @game.player_2.weapon.downcase %>.
  <% if @game.winner == "None" && @game.loser == "None" %>
    <p>It's a tie!</p>
  <% else %>
    <p><%= @game.winner %> beats <%= @game.loser.downcase %>.</p>
  <% end %>
<p>
  <form action="/">
    <input type="submit" value="Play again">
  </form>
</p>
