<h2> <%= $game.first_player_name %> picked <%= $game.players[0].player_choice %> </h2>
<h2> <%= $game.bot_name %> picked <%= $game.bot_choice %> </h2>
<h2> <%= $game.game_result %> </h2>

<a href="/">Restart and play again!!</a>
