<style>
h1 {text-align:center;}
h2 {text-align:center;}
h3 {text-align:center;}
form {text-align:center;}
</style>

<br><br><br>
<h2><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h2>
<h3><%= @player_1_weapon %> vs. <%= @player_2_weapon %></h3><br><br>
<h2>The winner is...</h2>
<h1><%= @result %>!</h1>
