<h2><%=@name1%> picked <%=@outcome.user%>!</h2>

<h2><%=@name2%> picked <%=@outcome.computer%>!</h2>

<h1><%=@name1%> <%=@outcome.winner%></h1>

<form action='/' method='get'>
  <button type='submit'>Play again</button>
</form>
