<!DOCTYPE html>
<html>
  <head>
    <title>RPS</title>
  </head>
  <body>
      <div> <%= @game.player_1.player_name %> chose: <%= @game.player_1.users_choice.to_s.capitalize %> </div>
      <div>  <%= @game.player_2.player_name %> chose: <%= @game.player_2.users_choice.to_s.capitalize %> </div>
      <div> <%= @game.players_choices %> </div>
      <div>
        <form action="/game" method="get">
          <input type="submit" name="response" value="Play Again">
        </form>
        <form action="/" method="get">
          <input type="submit" name="response" value="New Player">
        </form>
      </div>
  </body>
  </html>
