<h1><%=@game.player_1.name%>: <%=@game.player_1.weapon%></h1>
<h1><%=@game.player_2.name%>: <%=@game.player_2.weapon%></h1>
<h1>Winner: <%=@game.winner_is%></h1>
<form action="/">
  <input type="submit" value="Play again!">
</form>
