<head>
</head>

<h1> <%=@game.player.name%> has chosen <%=@game.player_weapon%> </h1>
<h1> The computer has chosen <%=@game.random_weapon%> </h1>
<h2> <%=@game.player.name%>, you <%=@game.result(@game.player_weapon, @game.random_weapon)%> against the computer </h2>
<a id='replay' href="/">Play again </a>
