<%= @name %> played <%= @player_move %> <div>
<%= @name_2 %> played <%= @player_2_move %> <div>
<%= @result %> <div>
<form action= "/move", method="get">
  <input type="submit" value="play again">
</form>
