<%="#{@player_name}: #{@player_weapon}"%>
<br>
<%="Computer: #{@computer_weapon}"%>
<br>
<%="Result: #{@player_name} #{@result}"%>
<br>
<br>
Tally:
<br>
<%="Wins: #{@wins}"%>
<br>
<%="Losses: #{@losses}"%>
<br>
<br>
<form action="/choose_weapon" method="post">
  <input type="submit" value="Start another game">
</form>
