<div style="text-align: center">
  <h1>Rock, Scissor, Paper</h1>
  <h3><%= session[:game].player1.name %> chose <%= session[:game].first_move %></h3>
  <h3><%= session[:game].player2.name %> chose <%= session[:game].second_move %></h3>
  <% if session[:game].winner == 'draw' %>
    <h3 style="color: blue">Result: It's a draw!</h3>
  <% else %>
    <h3 style="color: red">Result: <%= session[:game].winner.name %> wins!</h3>
  <% end %>
</div>
