<html>
  <% if @winner == true %>
  <body style="background-color:powderblue;">
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> You chose <%= @player.choice %> </h1>
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> Computer chose <%= @game.computer.choice %> Winner! </h1>
  </body>
  <% elsif @winner == :Draw %>
  <body style="background-color:powderblue;">
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> You chose <%= @player.choice %> </h1>
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> Computer chose <%= @game.computer.choice %> Its a draw!! </h1>
  </body>
  <% else %>
  <body style="background-color:grey;">
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> You chose <%= @player.choice %> </h1>
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> Computer chose <%= @game.computer.choice %> Loser </h1>
  </body>
  <% end %>
</html>
