<head>
<title> The results are in </title>
<link type="text/css" rel="stylesheet" href="<%=url('/style.css')%>" />
</head>

<h1> <%=  @player1.capitalize %> </h1>
<h1> You picked <%= @move %> </h1>

<h1> Computer picks <%= @comp_move %> </h1>

<h1> <%= @result %> </h1>
