<style>
div {
  position: absolute;
  background-color: #B9DEED;
  font-family: Helvetica;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
form {
  text-align: center;
  margin: auto auto 35% auto;
}
p{
  text-align: center;
  font-size: 75px;
}
ul {
  list-style: none;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 50px
}
li {
  margin: 10px auto auto auto;
}
</style>

<div>
  <ul>
<% if session[:result] == "Player" %>
    <li>
      <p><%= session[:name] %>: <%= session[:player_move] %>  Computer: <%= session[:cpu_move] %></p>
    <li>
      <h1>You Won!</h1>
    </li>

<% end %>

<% if session[:result] == "cpu" %>

    <li>
      <p><%= session[:name] %>: <%= session[:player_move] %>  Computer: <%= session[:cpu_move] %></p>
    <li>
      <h1>You Lost!</h1>
    </li>

<% end %>

<% if session[:result] == "Draw" %>

    <li>
      <p><%= session[:name] %>: <%= session[:player_move] %>  Computer: <%= session[:cpu_move] %></p>
    <li>
      <h1>Draw</h1>
    </li>

<% end %>

    <li>
      <form action="/game">
        <input type="submit" value="Play again?" name=playagain>
      </form>
    </li>
  </ul>

</div>
