<h1> <%=@game.player_1.name%> chose <%=@game.player_1.choice %> </h1>
<h1> <%=@game.player_2.name%> chose <%=@game.player_2.choice%> </h1>
<h1><%=@game.result%> </h1>

<!-- <form action="/" >
  <input type="submit" value="New player?"/>
</form> -->

<form action="/" >
  <input type="submit" value="Play Again? (One Player)"/>
</form>

<form action="/multiplayer" >
  <input type="submit" value="Play Again? (Two Players)"/>
</form>
