<h2>Player one: <%= @player_1.name %></h2>
<h2>Player two: <%= @player_2.name %></h2>

<h2><%= @player_1.name  %> chose <%= @player_1.weapon.capitalize %></h2>

<h2><%= @player_2.name  %> chose <%= @player_2.weapon.capitalize %></h2>

<h2> Result </h2>

<%if @game.winner.nil? %>
  <h2>It's a draw!</h2>
<%  else %>
  <h2><%=@game.winner.name%> wins! </h2>
<%  end %>
