
<h2><%= @game.player1.name%>: <%= @game.player1.user_choice%></h2>

<h2><%= @game.player2.name%>: <%= @game.player2.user_choice%></h2>

<h2>Winner: <%= @result%></h2>

<form action="/reset_game" method = 'post'>
<input type="submit" name="submit" value="Start again" id="">
</form>


