<head>
<style>
body {background-color: #000000; color: white}
h1   {color: gold; font-size: 300%;}
p    {color: red;}
</style>
</head>
<body>
<div align="center">
  <h1>
  <%if @result == :win %>
    <%= @player_1_name %> WINS!
  <%elsif @result == :lose %>
    <%= @player_2_name %> WINS!
  <%elsif @result == :draw %>
    YOU DRAW!
  <% end %>
</h1>
<div align="center">
<u>Game details</u>
<br>
<%= @player_1_name %> picked <%= @player_1_weapon %>
<br>
<%= @player_2_name %> picked <%= @player_2_weapon %>
</div>
</body>
