<% if @result == 1 %>
  <h1> You win! <%= @p1choice %> beats <%= @comchoice %>! </h1>
<% end %>
<% if @result == -1 %>
  <h1> You lose! <%= @p1choice %> gets beaten by <%= @comchoice %>! </h1>
<% end %>
<% if @result == 0 %>
  <%= @result %>
  <%= @p1choice %> player
  <%= @comchoice %> com
  <h1> It's a draw, you both picked <%= @p1choice %>! </h1>
<% end %>
