<p><%=session[:game].players[0].name %> Vs <%=session[:game].players[1].name %></p>
<p><%=session[:game].players[0].weapon.capitalize %> Vs <%=session[:game].players[1].weapon.capitalize %></p>
<p> <%=session[:message] %></p>
