<!DOCTYPE html>

<html>
  <head>
    <title>RPS | Result</title>
  </head>

  <body>
    <h1><%= @message %></h1>
    <h2><%= @game.player_1.name %>: <%= @player_1_move %> vs. <%= @game.player_2.name %>: <%= @player_2_move %></h2>
    <a href="/play">Play again</a>
  </body>
</html>
