<link rel="stylesheet" type="text/css" href="/style.css">
<div align="center">

<h1>Aaaand the winner is <%=@game.winner%>!</h1>
<h2><%=@game.player1.name%> played <%=@game.player1.weapon%>, and <%=@game.player2.name%> played <%=@game.player2.weapon%></h2>