<div>
  <% if @win %>
<p>You chose <%= @player_selection %></p>
 <p>The opponent has chosen <%= @cpu_selection %></p>
  <h3><%= @win %></h3>
<% elsif @lose %>
<p>You chose <%= @player_selection %></p>
 <p>The opponent has chosen <%= @cpu_selection %></p>
  <h3><%= @lose %></h3>
<% else %>
<p>You chose <%= @player_selection %></p>
  <p>The opponent has chosen <%= @cpu_selection %></p>
   <h3><%= @tie %></h3>
<% end %>
</div>

<a href='/game'>play again</a> <br>
<a href='/'>go back to the homepage</a>
