<p>
  <%= @player1.name %> chose <%= @player1.choice %>
</p>

<p>
  <%= @player2.name %> chose <%= @player2.choice %>
</p>

<% if @game.draw? %>
  It's a draw!
<% else %>
  Winner is <%= @game.winner.name %>
<% end %>
