<p> <%= $player.name %> chose <%= $player.choice %> </p>
<p> Computer chose <%= @computer %> </p> <br>

<p>
<% if $result.win? %>
  <%= $player.name %> wins!
<% elsif $result.lose? %>
  <%= $player.name %> loses!
<% elsif $result.draw? %>
  It's a draw!
<% end %>
</p>

<a href='/play'>Play again</a>
