<head>
</head>

<body>
<h1> Rock Paper Scissors Lizard Spock! </h1>
<% if @game.players[1].is_a?(RandomPlayer) %>
  <p> The computer chose: <%= @game.players[1].move %>.</p>
<% else %>
  <% @game.players.each do |player| %>
    <p> <%= player.name %> chose <%= player.move %>. </p>
  <% end %>
<% end %>

<% if @game.winner == 0 %>
<p> Well done, <%= @game.players[0].name %>! <%= @game.players[0].move %> <%= @game.victory_type %> <%= @game.players[1].move %>! </p>
<% elsif @game.winner == 1 && @game.players[1].is_a?(RandomPlayer) %>
<p> Unlucky, <%= @game.players[0].name %>. <%= @game.players[1].move %> <%= @game.victory_type %> <%= @game.players[0].move %>. </p>
<% elsif @game.winner == 1 %>
<p> Well done, <%= @game.players[1].name %>! <%= @game.players[1].move %> <%= @game.victory_type %> <%= @game.players[0].move %>! </p>
<% else %>
<p> It's a draw! You both chose <%= @game.players[0].move %>. </p>
<% end %>

<p> Play again? </p>
<form method='get' action='/'>
  <input class="fsSubmitButton" type="submit" value="Go!"></input>
</select>
</body>
