
<%= $game.player_one.name %> chose <%= $game.player_one.weapon.name.capitalize %>.
<%= $game.player_two.name %> chose <%= $game.player_two.weapon.name.capitalize %>.

<% if $game.winner.nil? %>
  It's a draw!
<% end %>
<% if !$game.winner.nil? %>
  <%= $game.winner.name %> is the winner!
<% end %>
<a href="/reset">OK</a>