<html>
  <% if @game.winner == true %>
  <body style="background-color:powderblue;">
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> You chose <%= @game.players_choice %> </h1>
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> Computer chose <%= @game.computers_choice %> Winner! </h1>
  </body>
  <% elsif @game.winner == :Draw %>
  <body style="background-color:powderblue;">
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> You chose <%= @game.players_choice %> </h1>
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> Computer chose <%= @game.computers_choice %> Its a draw!! </h1>
  </body>
  <% else %>
  <body style="background-color:grey;">
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> You chose <%= @game.players_choice %> </h1>
    <h1 align="center" style="color:rgb(255,51,192); font-family:verdana;"> Computer chose <%= @game.computers_choice %> Loser </h1>
  </body>
  <% end %>
</html>
