
<center><% arry = ["Scissors", "Rock", "Paper"] %>
<h3><%= $player.name.capitalize %> Used: <%= $move.value %></h3>

<h3>Computer used : <%= x = arry.sample %></h3>

<% if x == $move.value %>
Its a draw
<% elsif $move.value == "Scissors" && x == "Paper" %>
<%= $player.name.capitalize %> Wins!
<% elsif $move.value == "Paper" && x == "Rock" %>
<%= $player.name.capitalize %> Wins!
<% elsif $move.value == "Rock" && x == "Scissors" %>
<%= $player.name.capitalize %> Wins!
<% else %>
Computer wins!
<% end %>
<% $move = nil %>
<form action='/play'>
    <input type="submit" value="Try Again">
</form></center>
    
