<html>
  <h1>Result:</h1>
  <p><%= @game.player.name %> chose <%= @game.player.weapon %></p>
  <p><%= @game.computer.name %> chose <%= @game.computer.weapon %></p>

  <% if @game.result == :win %>
    <h2><%= @game.player.name %> won!</h2>
  <% elsif @game.result == :lose %>
    <h2><%= @game.computer.name %> won!</h2>
  <% elsif @game.result == :tie %>
    <h2>Tie game. Play again?</h2>
  <% end %>

  <form method="GET" action="/play">
    <input type="submit" value="Play again">
  </form>
</html>
