<!DOCTYPE html>
<html>

<style>
body {background-color: #33bbff; font-family:verdana; text-align: center;}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div {
  padding: 50px;
}

</style>

<body class="center">
<div style="display: flex;">
<h1>You chose <%= @choice %></h1>
<img src="/images/<%= @choice %>.png" height=200>
<h1>Your opponent chose <%= @rand %></h1>
<img src="/images/<%= @rand %>.png" height=200>
</div>
<h1><%= @message %></h1>
<form action="/game">
<br>
<input type="submit" value="Play again">
</form>

</body>

</html>