<h1>RockPaperScissors</h1>

<p><b>Scores:</b> <%= @player %> <%= @scores[0] %>, Computer <%= @scores[1] %></p>

<p><%= @player %> threw  <%= @player_weapon %>.</p>

<p>The computer threw  <%= @computer_weapon %>.</p>

<p><%= @results[:report] %>.</p>

<% if @results[:winner] %>
<p><%= @results[:winner] %> wins!</p>
<% else %>
<p>It's a tie... meh.</p>
<% end %>

<form action='/play_rps'>
  <input type='submit' value='ANOTHER ROUND' autofocus>
</form>

<% lizard = (@extended ? '&lizard=true' : '') %>
<form action='/?player=<%= @player %><%= lizard %>' method='post'>
  <input type='submit' value='RESET THE SCORES' autofocus>
</form>

<form action='/'>
  <input type='submit' value='LOG OUT AND RESTART' autofocus>
</form>
