
<% if @game.player1.nil?||@game.player2.nil? %>
  <h2> The other player has not registered yet, please refresh this page to see update
  </h2>

<% else %>
  <% if @game.player1.choice && @game.player2.choice %>
    <h2><%= @game.player1.name %> has chosen <%= @game.player1.choice %></h2>
    <h2> VS. </h2>
    <h2><%= @game.player2.name %> has chosen <%= @game.player2.choice %></h2>
    <br>

    <h1>
      <% @game.complete %>
      <% if @game.winner.nil? %>
        Draw!
      <% else %>
      <%= @game.winner.name + ' Wins!' %>
      <% end %>
    </h1>

    <% else %>
    <h2> The other player has not submitted the choice yet, please refresh this page to see update
    </h2>
    <% end %>
<% end %>
