<div>
  <h1>R P S !</h1>
</div>
<div>
  <h3><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h3>
</div>
<div>
  <h4><%= @game.player_1.name %> chose <%= @game.player_1.weapon %>.<br>
  <%= @game.player_2.name %> chose <%= @game.player_2.weapon %>.<br>
  ...</h4><br>
</div>
<div>
  <h2><i><%= @winner %></i></h2>
</div>
