<h1><%= @names[0] %> chose <%= @choices[0] %>.'</h1>
<h1><%= @names[1] %> chose <%= @choices[1] %>.'</h1>
<h1><%= @result_message %></h1>
<form action='/reset' method='post'>
  <input type='submit' value='AGAIN AGAIN'>
</form>