<!DOCTYPE html>

<html>
  <head>
    <title>RPS | Result</title>
  </head>

  <body>
    <h1><%= @message %></h1>
    <h2><%= @player_1_name %>: <%= @player_1_move %> vs. <%= @player_2_name %>: <%= @player_2_move %></h2>
    <a href="/play">Play again</a>
  </body>
</html>
