<head>
  <link rel="stylesheet" type = "text/css" href="/stylesheet.css">
</head>

<body>
  <div>
    <h1>Rock. Paper. Scissors. Lizard. Spock.</h1>
    <p><%= @player1_name %>'s move was <%= @player1_move %></p>
    <p><%= @player2_name %>'s move was <%= @player2_move %></p>
    <h2><%= @winner %></h2>
    <form action="/" method="get">
      <input type="submit" value="Try Again">
    </form>
  </div>
</body>
