<div class="container">
  <h2> Chosen weapons </h2>
  <%= @player1.name %> : <%= @player1.weapon %><br>
  <%= @player2.name %> : <%= @player2.weapon %><br>
  <h2> Result </h2>
  <%= @player1.name %> has <%= @result %><br>
  <a href="/weapon">Play again</a>
</div>
