<div>
  <h1> <%= @player_name %> chose <%= @player_move %>!</h1>
  <h1> <%= @player2_name %> chose <%= @player2_move %>!</h1>
  <h2> <%= @result %>! </h2>

  <!-- <form action ="/move" method="post">
    <input type="text" name="player_move">
    <input type="submit" value="Submit Move">
  </form> -->

  </div>
