<p>Hello</p>

<p><%= @game.player1.name %> chosed <%= @game.player1.choice %> </p>
<p><%= @game.player2.name %> chosed <%= @game.player2.choice %> </p>

<% if @game.winner.is_a? String %>
<p>The winner is: <%= @game.winner %> </p>
<% else %>
<p>The winner is: <%= @game.winner.name %> </p>
<% end %>


<form action='/game_play' method=get>
  <input type="submit" value="New round!">
</form>
