<p><%=@game.player1.name%> played <%=@game.choice%></p>
<p><%=@game.player2.name%> played <%=@game.opponent_choice%></p>

<%if @game.win_logic == "draw"%>
Draw - <a href="/">play again?</a>
<%else%>
<p><%=@game.win_logic.name%> wins</p>
<%end%>
