<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
    <form id='game' action='/result'>
      <br>
      <br>
      <h2>o <%= @game.player_move.p_move %></h2>
      <h2>o <%= @game.robot_move.random_move %></h2>


      <% if @game.result == "Victory!" %>
        <h2>You win <%= @game.player_move.name %>!</h2>
      <% elsif @game.result == 'Defeat!' %>
        <h2>You loose <%= @game.player_move.name %>!</h2>
      <% elsif @game.result == nil %>
        <h2>Its Nil Bitch <%= @game.player_move.name %>!</h2>
      <% else %>
        <h1>It's a draw <%= @game.player_move.name %>!</h2>
      <% end %>
    </form>
    </section>
  </body>
</html>
