<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<h1> Rock Paper Scissors Lizard Spock! </h1>
<% if @game.players[1].is_a?(RandomPlayer) %>
  <h2> The computer chose: <%= @game.players[1].move %>.</h2>
<% else %>
  <% @game.players.each do |player| %>
    <h2> <%= player.name %> chose <%= player.move %>. </h2>
  <% end %>
<% end %>

<% if @game.winner == 0 %>
<h2> Well done, <%= @game.players[0].name %>! <%= @game.players[0].move %> <%= @game.victory_type %> <%= @game.players[1].move %>! </h2>
<% elsif @game.winner == 1 && @game.players[1].is_a?(RandomPlayer) %>
<h2> Unlucky, <%= @game.players[0].name %>. <%= @game.players[1].move %> <%= @game.victory_type %> <%= @game.players[0].move %>. </h2>
<% elsif @game.winner == 1 %>
<h2> Well done, <%= @game.players[1].name %>! <%= @game.players[1].move %> <%= @game.victory_type %> <%= @game.players[0].move %>! </h2>
<% else %>
<h2> It's a draw! You both chose <%= @game.players[0].move %>. </h2>
<% end %>

<h2> Play again? </h2>
<form method='get' action='/'>
  <input class="fsSubmitButton" type="submit" value="Yes!"></input>
</select>
</body>
