<h1> <%= @game.player_1.name%> you chose <%= @game.player_1.weapon_to_s%>!!  <%= @game.player_2.name%> chose <%= @game.player_2.weapon_to_s%>!!</h1>
<% if @game.result == :draw %>
<h1> IT'S A DRAW!! </h2>
  <% else %>
  <h1> <%= @game.result.name.upcase%> WON!!! </h1>
<% end %>

<a href="/"> Click here for a new game!</a>
<a href="/play"> Click for another round </a>
