<div align="center">

   <% if @winner == :draw %>
      DRAW!
    </br>
      <%= @winner %>
        <p>Computer = <%= @computer_score %></p>
        <p><%=@user %> = <%= @player1_score %> </p>
        <a href='/game'>Next move</a>

  <% elsif @winner == "Keep playing to win" %>
      <%= @winner %>
        <p>Computer = <%= @computer_score %></p>
        <p><%=@user %> = <%= @player1_score %> </p>
        <a href='/game'>Next move</a>

  <% elsif @winner == "Player1 wins" %>
        <p>Computer = <%= @computer_score %></p>
        <p><%=@user %> = <%= @player1_score %> </p>
    <p><span style="color:red"><%= @user %>, you have won!</span></p>
    </br>
    <a href='/game/new'>New Game?</a>
    <% else %>
        <p>Computer = <%= @computer_score %></p>
        <p><%=@user %> = <%= @player1_score %> </p>
      <p><span style="color:red"><%= @user %>, you have lost!</span></p>
      </br>
      <a href='/game/new'>New Game?</a>
    <% end %>
</div>





