<h1>You chose <%= @player_throw %>!</h1>
<p>The result is...</p>

  <% if @player_throw == @computer_throw %>
    <p>A tie!
    <a href="/new_game">Try again?</a></p>
  <% elsif @computer_throw == @outcome[@player_throw] %>
    <p>Congratulations! You've won!
    <%= @player_throw %> beats <%= @computer_throw %>.
    <a href="/new_game">Try again?</a></p>
  <% else %>
    <p>Bad luck.
    <%= @computer_throw %> beats <%= @player_throw %>.
    <a href="/new_game">Try again?</a></p>
  <% end %>
