<%= @game.player_1.name %> has chosen <%= @game.player_1.choice %><br>
<%= @game.player_2.name %> has chosen <%= @game.player_2.choice %><br>
<%= @game.result %>
<form action='/game' method="get">
  <input type='submit' value="Play again">
</form>
<form action='/' method="get">
  <input type='submit' value="Back to home page">
</form>
