<div class="container-fluid">
  <div class="row text-center" >
    <div class="col-12" id="results-wrapper">
      <div class="row">
        <div class="col-6">
          <h2><%= @game.players[:player_1].name %></h2>
        </div>
        <div class="col-6">
          <h2><%= @game.players[:player_2].name %></h2>
        </div>
        <div class="col-12">
          <h3 id="result_message"><%="#{@round.winning_move[1][0].to_s.capitalize} #{@round.winning_move[1][2]} #{@round.winning_move[1][1].to_s.capitalize}!"%></h3>
        </div>
        <div class="col-4">
          <img class="results-move-icon img-fluid px-5" src="/img/<%= @round.player_1_move.to_s %>.<%= @round.player_1_move == :spock ? 'jpg' : 'svg' %>" alt="player 1 move">
        </div>
        <div class="col-4">
          <img id="win-indicator-arrow" src="/img/right-arrow.svg" class="img-fluid px-5<%= ' flip-horizontal' if @round.winning_move[0] == :player_2 %>" alt="arrow">
        </div>
        <div class="col-4">
          <img class="results-move-icon img-fluid px-5" src="/img/<%= @round.player_2_move.to_s %>.<%= @round.player_2_move == :spock ? 'jpg' : 'svg' %>" alt="player 2 move">
        </div>
        <div class="col-12">
          <form action="/reset" method="post">
            <div class="form-group row">
              <div class="col-12 text-center">
                <button type="submit" id="new_round" name="new_round" class="btn btn-lg btn-primary">Next Round</button>
              </div>
            </div>
          </form>
          <form action="/" method="get">
            <div class="form-group row">
              <div class="col-12 text-center">
                <button type="submit" id="new_players" name="new_players" class="btn btn-primary">Start New Game</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 text-center" id="message_log_wrapper">
      <ul>
        <%= @message_log.messages.map { |message| "<li>#{message}</li>" }.join %>
      </ul>
    </div>
  </div>
</div>
