<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<img class="image" src="rockpaperscissors.png"/>
</br>

<h1><%= @player1.name %> played <%= @player_move %> </h1>
      <h1> The computer played <%= @computer_move %>
      </br>
      </h1>
    
      <% if @result == "win" %>
      <h2> Congratulations <%= @player1.name %> </h2>
    <% elsif @result == "lose"%>
      <h3> Unlucky <%= @player1.name %> </h3>
    <% else %>
      <h3> Oooh <%= @player1.name %> </h3>
    <% end %>
    <h3> You <%= @result %> the game</h3>
    <form class="container" action="/match" method="get">
      </br>
      <button class="submit-button" type="submit">Play Again?</button>
    </form>




