<% if @game.winner == 'player' %>
<p>You won!</p>
<% end %>

<% if @game.winner == 'computer' %>
<p>The computer won!</p>
<% end %>

<% if @game.winner == 'tie' %>
<p>It's a tie!</p>
<% end %>

<p>You chose <%= @game.player.attack %></p>
<p>The computer chose <%= @game.computer.attack %></p>

<h3>Scores</h3>
<p>Player: <%= @game.player_score %></p>
<p>Computer: <%= @game.computer_score %></p>
<p>Tied: <%= @game.tie_score %></p>

<form action="/play" method="get">
  <input type="submit" value="Play again?">
</form>
