<%= $game.player.name %> chooses <%= $game.player.choice %>

<p>
  Computer chooses <%= $game.computer.choice %>
</p>
<p>
  <%= $game.player.name %> <%= $game.outcome($game.player.choice, $game.computer.choice) %>
</p>
<p>
  <form action="/play">
    <input type="submit" value="Play Again"/>
  </form>
</p>
