
<html> 
<h1>Rock, Paper, Scissors</h1>
<link rel="stylesheet" type="text/css" href="/style.css"/>
<div>
<body><%= @game.player_name(2)%> played <%= @move2%></div>
<br>
<div>
<%= @game.player_name(1) %> played <%= @move %>
</div>
<br>
<div>
<%= @game.check_winner(@move, @move2)%>
</div>
<span><form action='/new-game' method='post'> 
<button type="submit">Play again</button>
</form>
<form action='/turn' method='get'> 
<button type="submit">Rematch</button>
</form>
</span>
</body>
