<div>
  <h2><%= RPS.game.p1.name %> has chosen... <%= RPS.game.p1.move %>!</h2>
</div>

<div>
  <h2><%= RPS.game.p2.name %> has chosen... <%= RPS.game.p2.move %>!</h2>
</div>

<div>
  <% if @winner == 'tie' %>
    <h2><%= RPS.game.p1.name %> and <%= RPS.game.p2.name %> tie!</h2>
  <% else %>
    <h2><%= @winner %> wins! </h2>
  <% end %>
</div>
