<p><%= @game.player.name %> chose <%= @game.player.move %>! </p>

<p><%= @game.player2.name %> chose <%= @game.player2.move %>! </p>

<p><%= @winner %> won!</p>

<p><form action="/" method="get">
  <input type="submit" value="New game">
</form></p>