<div class='heading'>
  <h1><%= @game.return_winner %></h1>
</div>
<div>
  <h3><%= @game.players[0].name%>: <%= @game.players[0].move %> | <%= @game.players[1].name%>: <%= @game.players[1].move %></h3>
</div>
<div class='hero-text'>
  <p><a href='/game'>PLAY ANOTHER ROUND</a></p>
  <p><a href='/'>RETURN TO HOMEPAGE</a></p>
</div>