<html>
  <h1>Result:</h1>
  <h2><%= @game.player.name %> chose <%= @game.player.weapon %></h2>
  <h2><%= @game.computer.name %> chose <%= @game.computer.weapon %></h2>
  <h1><%= @result %></h1>

</html>
