<html>
<head>
<title> RRPS - Result </title>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  maintext {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
    font-size: 30px;
  }

  textarea {
    font-size: 35px;
  }

  button {
    font-size: 35px;
    width:200px;
    height:50px;
    color:red
  }

</style>
</head>
<body>
  <header>
    <h1>
      You played <%= @player_move %>
      </br>
      The Computer played <%= @computer_move %>
      </br>
    </h1>
  </header>
  <maintext>
    <% if @result == "win" %>
      <h3> Yay <%= @player_name %> </h3>
    <% elsif @result == "lose"%>
      <h3> Boo <%= @player_name %> </h3>
    <% else %>
      <h3> ooOOOoo <%= @player_name %> </h3>
    <% end %>
    <h3> You <%= @result %> the game</h3>
    <form action="/match" method="get">
      </br>
      <button type="submit">Play Again?</button>
    </form>
  </maintext>
</body>
</html>
