<html>
<body>
<center>
<h1> The results... </h1>

<p> <%= @game.player1.name %> chose: <%= @player1_move %></p>

<p> <%= @game.player2.name %> chose: <%= @player2_move %></p>

<p> <%= @winner %> </p>

<img src="https://media.giphy.com/media/n9hFY6sdZ0HWo/giphy.gif">

</center>
</body>
</html>
