<p><%= @game.player_1.name %> chose <%= @game.player_1.moves %></p>

<p><%= @game.player_2.name %> chose <%= @game.player_2.moves %></p>

<% if @game.win?(@game.player_1.moves, @game.player_2.moves) %>
  <h2><%= @game.player_1.name %> won!
    Better luck next time <%= @game.player_2.name %></h2>
<% elsif @game.draw?(@game.player_1.moves, @game.player_2.moves) %>
  <h2>It's a draw</h2>
<% else %>
<h2><%= @game.player_2.name %> won!
  Better luck next time <%= @game.player_1.name %></h2>
<% end %>

<form action="/play" >
  <input type="submit" value="Play again?">
</form>
