<center>
<body>
<% if @result == "Player 1 Wins" %>
<h1><%= @player_1.name %>, you chose <%= @player_1_move.move %> and <%= @player_2.name %>, you chose <%= @player_2_move.move %>.</h1>
<h2>Therefore, <%= @player_1.name %> Wins! <%= @player_1_move.move %> beats <%= @player_2_move.move%></h2>
<% elsif @result == "Player 2 Wins"%>
<h1><%= @player_1.name %>, you chose <%= @player_1_move.move %> and <%= @player_2.name %>, you chose <%= @player_2_move.move %>.</h1> 
<h2> Therefore, <%= @player_2.name %> Wins! <%= @player_2_move.move %> beats <%= @player_1_move.move%></h2>
<% else %>
<h1><%= @player_1.name %>, you chose <%= @player_1_move.move %> and <%= @player_2.name %>, you chose <%= @player_2_move.move %>.</h1> 
<h2>Therefore, it's a Draw! <%= @player_1_move.move %> cancels out <%= @player_2_move.move%></h2>
<% end %>
Would you like to play again?
<form action="/playagain" method="post">
  <input type="submit" value="Yes" name="playagain">
</form>
<form action="/final_score" method="post">
  <input type="submit" value="No" name="playagain">
</form>
</body>
</center>