<link href="/css/style.css" rel="stylesheet" type="text/css" />

<div class="result">
  <%= @game.player1.name %> chose: <%= @game.player1.weapon.to_s %>
  <div>
    <img class="resultw" src="/img/<%= @game.player1.weapon.to_s %>.png">
  </div>
</div>
  <div class="result">
    <div>
      <%= @game.player2.name %> chose: <%= @game.player2.weapon.to_s %>
    </div>
  <img class="resultw" src="/img/<%= @game.player2.weapon.to_s %>.png">
  </div>
  <div class="outcome">
    <%= @game.winner == 'draw' ? "Draw!" : "#{@game.winner.name} wins!" %>
</div>