<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Game Over</h1>
        <%=@player1.name%> picked <%=@player1.selection%><br>
        <%=@player2.name%> picked <%=@player2.selection%><br>
      <h2><%=@game.win_message%></h2>
  
  <a href='/'><button font-size = 150% >Play again!</button></a>

</body>