<head>
  <link rel="stylesheet" type = "text/css" href="/stylesheet.css">
</head>

<body>
  <div>
    <p><%= @name1 %>'s move was <%= @move1 %></p>
    <p><%= @name2 %>'s move was <%= @move2 %></p>
    <h1><%= @determine_winner %></h1>
    <form action="/" method="get">
      <input type="submit" value="Try Again">
    </form>
  </div>
</body>
