<div id='player1_move'>  
  <h1><%=@player_one.name%> chose <%=@player_one.move%>!</h1>
</div>  
<div id='player2_move'>
  <h1><%=@player_two.name%> chose <%=@player_two.move%>!</h1>
<div>  
<div id='result'>
  <h1>You <%= @game.result%> the game!</h1>
</div>