<div class="center">
  <h1><%=@game.player1.name%> vs. <%=@game.player2.name%></h1>
  <br>
  <h1><%=@game.get_weapon(@game.player1.move)%> vs. <%=@game.get_weapon(@game.player2.move)%></h1>
  <br>
  <h1><%=@game.match%></h1>
  <br>
  <h2><%=@game.player1.name%>: <%=@game.player1.score%> <%=@game.player2.name%>: <%=@game.player2.score%></h2>
  <br>
  
  <% if @game.gameover? %>

  <h1><%=@game.winner.name%> wins the game!</h1>

  <form action='/'>
    <input type="submit" value="New Game">
  </form>

  <% else %>  

  <form action='/play'>
    <input type="submit" value="Next round">
  </form>

  <% end %>

</div>
