<head>
<title> The results are in </title>
<link type="text/css" rel="stylesheet" href="<%=url('/style.css')%>" />
</head>

<img src="https://img.icons8.com/carbon-copy/200/000000/diamond.png"/>
<img src="https://img.icons8.com/carbon-copy/200/000000/paper-plane.png" /> 
<img src="https://img.icons8.com/carbon-copy/200/000000/barber-scissors.png"/>

<h1 class="you_picked"> <%=  @player1.capitalize %>  you went for <%= @move %> </h1>

<h1 class="comp"> Computer picks <%= @comp_move %> </h1>

<h1 class="result"> <%= @result %> </h1>

<form action="/again">
  <input class="again" type="submit" name="again" value="Again?">
</form>
