<%= Game.see_player_1 %> chose <%= Game.see_result[:player_1_move] %>
<br>
<%= Game.see_player_2 %> chose <%= Game.see_result[:player_2_move] %>
<br>
<%= Game.see_result[:outcome] %>
<br>
<form action=play>
  <input type=submit value='Play again?'>
</form>
