<h1>RockPaperScissors</h1>

<p><%= @player_name %> threw  <%= @player_weapon %>.</p>

<p>The computer threw  <%= @computer_weapon %>.</p>

<p><%= @results[:report] %>.</p>

<% if @results[:winner] %>
  <p><%= @results[:winner] %> wins!</p>
<% else %>
  <p>It's a tie... meh.</p>
<% end %>

<form action='/play_rps'>
  <input type='submit' value='Again!' autofocus>
</form>

<form action='/'>
  <input type='submit' value='Restart' autofocus>
</form>
