<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<center><h2><%= @game.players.first.name %> chose <%= @player_choice %></h2>
	<h2><%= @game.players.last.name %> chose <%= @computer_choice %> </h2>
	<h1> <%= @game.result %>  </h1>

</body>
</html>
