<h1 style='font-family: futura'>Rock Paper Scissors</h1>
<h3 style='font-family: futura'>
  Game Over:</h3>
<h4 style='font-family: futura'>
  <%=@player.name%> picked <%=@player.selection%><br>
  <%=@player2.name%> picked <%=@player2.selection%><br>
  <%=@game.win_message%>
</h4>