<h1><%=@game.player_1.name%> choses <%=@game.player_1.choice%> </h1>
<h1><%=@game.player_2.name %> choses <%=@game.player_2.choice%> </h1>
<h1><%=@result%>!</h1>
<form action = "/play">
  <input type = "submit" value = "Play again">
</form>
