<div>
  <h4><%= @game.players[0].name%>: <%= @game.players[0].read_move %></h4>
  <h4><%= @game.players[1].name%>: <%= @game.players[1].read_move %></h4>
</div>
<div>
  <h1><%= @game.return_winner %></h1>
</div>
<div>
  <a href='/game'>PLAY ANOTHER ROUND</a>
  <a href='/'>RETURN TO HOMEPAGE</a>
</div>