<head>
  <title>RPS! Results</title>
  <link href="/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
</head>

<% @game.player_two.bot_shake %>

<h1>The results!</h1>

<p class="throwing_player"><%=@game.player_one.name %> threw: <%= @game.player_one.choice %></p>
<p class="throwing_bot"><%=@game.player_two.name %> threw: <%= @game.player_two.choice %></p>

<% outcome = @game.rules(@game.player_one, @game.player_two) %>
<h2 class="winner"><%= outcome %></h2>

