<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>RPS - Makers Week 3</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <header id="header">
      <h1>THE THUNDERDOME!</h1>
    </header>

    <h2>Round <%= @game.round_number %>! FIGHT!</h2>

    <div id="display">
      <h2>Player 1: <%= @game.player_1_name %> </h2>
      <h2>Player 2: <%= @game.player_2_name %> </h2>
    </div>

    <% if @game.two_players %>
      <h2><%= @game.player_2_name %> - LOOK AWAY!</h2>
    <% end %>

    <h2><%= @game.player_1_name %> - Choose your move!</h2>

    <form action="/player_1_move" method="post">
      <div id="rps_choice">
        <div>
          <input type="radio" id="rock" name="move" value="rock">
          <label for="rock">Rock</label><br>
        </div>
        <div>
          <input type="radio" id="paper" name="move" value="paper">
          <label for="paper">Paper</label><br>
        </div>
        <div>
          <input type="radio" id="scissors" name="move" value="scissors" required>
          <label for="scissors">Scissors</label>
        </div>
      </div>
      <br>
      <input type="submit" value="Play!" id="player_buttons">
    </form>

    <% if @game.round_number > 1 %>
      <table id="table">
        <tr>
          <th><%= @game.player_1_name %></th>
          <th>Draws</th>
          <th><%= @game.player_2_name %></th>
        </tr>
        <tr>
          <th><%= @game.display_score[@game.player_1_name] %></th>
          <th><%= @game.display_score['Draws'] %></th>
          <th><%= @game.display_score[@game.player_2_name] %></th>
        </tr>
      </table>
    <% end %>
  </body>
</html>
