<h1>THE THUNDERDOME</h1>

<h2>Round <%= @game.round_number %>! FIGHT!</h2>

<h2>Player 1: <%= @game.player_1_name %> </h2>
<h2>Player 2: <%= @game.player_2_name %> </h2>

<% if @game.two_players %>
  <h2><%= @game.player_2_name %> LOOK AWAY!</h2>
<% end %>

<h2><%= @game.player_1_name %> Choose your move!</h2>

<form action="/player_1_move" method="post">
  <input type="radio" id="rock" name="move" value="rock">
  <label for="male">Rock</label><br>
  <input type="radio" id="paper" name="move" value="paper">
  <label for="female">Paper</label><br>
  <input type="radio" id="scissors" name="move" value="scissors">
  <label for="other">Scissors</label>
  <input type="submit" value="Play!">
</form>
