<!DOCTYPE html>

<html class='scissors'>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body text='scissors_text'>
  <h1><%= @game.player.name %> has chosen <%= @player_choice %>!</h1>
  <h1>Player 2 has chosen <%= @game.play %>!</h1>
  <% if @winner == "It's a draw!" %>
  <h1><%= @winner %></h1>
  <% else %>
  <h1><%= @winner %> is the winner!</h1>
  <% end %>
  <iframe src="//giphy.com/embed/4IL57vrZnSb1S" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/step-4IL57vrZnSb1S">via GIPHY</a></p>
</body>
</html>
