<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors</title>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class='center'>
      <h1><%=@name%> you have chosen <%=@choice%></h1>
      <h1>Computer have chosen <%=@computer_choice%></h1>
    </div>
    <div class='center'>
      <% if @choice == @computer_choice %>
<h1>This round is a draw!</h1>
<% elsif
   @choice == "rock" && @computer_choice == "scissors" ||
   @choice == "paper" && @computer_choice == "rock"  ||
   @choice == "scissors" && @computer_choice == "paper"
%>
 <h1><%=@name%> has won!</h1>
<% else %>
<h1>Computer has won!</h1>
<% end %>
    </div>
  </body>
</html>