<div class="full">
  <h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
</div>

<br>

<div class="one-half">
  <h3><%= @game.player_1.name %>: <%= @game.scorer.score.first %></h3>
  <p><%= @game.player_1.name %> plays <%= @game.player_1.pick %>!</p>
</div>

<div class="one-half">
  <h3><%= @game.player_2.name %>: <%= @game.scorer.score.last %></h3>
  <p><%= @game.player_2.name %> plays <%= @game.player_2.pick %>!</p>
</div>

<br>

<div class='full'>
<% if @game.winner == nil %>
  <p>Round ended in a draw</p>
<% else %>
  <p><%= @game.winner.name %> wins the point</p>
<% end %>
<br>
<br>
<a href="/play" class="button">Play another round</a>
<br>
<a href="/" class="button">Restart</a>
</div>
