<h1>The winner is</h1>
<h2>Player 1: <%= @player_1.name %>  </h2>
<h3>Choice: <%= @game.choice%></h3>
<br>
<h2>Player 2: <%= @player_2.name %>  </h2>
<h3>Choice: <%= @game.record_automatic_player_choice %></h3>

<h2><%= @player_1.name %>, <%= @game.result %> </h2>
<button> <a href="/names">Play again</a></button>
