<table width=100%>
  <tr>
    <th>
      Score: <%= @player_1.name %>: <%= @scorer.score.first %>
      <%= @player_1.name %> plays <%= @player_1.pick %>!
    </th>
    <th>
      Score: <%= @player_2.name %>: <%= @scorer.score.last %>
      <%= @player_2.name %> plays <%= @player_2.pick %>!
    </th>
  </tr>
</table>
<br>

<% if @winner == nil %>
  Round ended in a draw
<% else %>
  <%= @winner.name %> wins the point
<% end %>

<br>
<br>
<a href="/play" class="button">Play another round</a>
