<html>
  <head>
    <title>Rock, Paper, Scissors</title>
    <link rel="stylesheet" href="play_style.css">

  </head>
  <body>
    <h1><%=@game.player_1.name%> VS. <%=@game.player_2.name%> (AI) </h1>
    <h1>Play</h1>


    <form action='/player_1_selection' method='post'>
      <input type="submit" name="selection" value="Rock"> <br>
    </form>

    <form action='/player_1_selection' method='post'>
      <input type="submit" name ="selection" value="Paper"> <br>
    </form>

    <form action='/player_1_selection' method='post'>
      <input type="submit" name="selection" value="Scissors"> <br>
    </form>

    <form action='/player_1_selection' method='post'>
      <input type="submit" name="selection" value="Lizard"> <br>
    </form>

    <form action='/player_1_selection' method='post'>
      <input type="submit" name="selection" value="Spock"> <br>
    </form>

    <form action='/player_1_selection' method='post'>
      <input type="submit" name="selection" value="Wizard"> <br>
    </form>

    <form action='/player_1_selection' method='post'>
      <input type="submit" name="selection" value="Spiderman"> <br>
    </form>

    <form action='/player_1_selection' method='post'>
      <input type="submit" name="selection" value="Batman"> <br>
    </form>

    <form action='/player_1_selection' method='post'>
      <input type="submit" name="selection" value="Glock"> <br>
    </form>

      <!-- <button type="submit" value="Rock" style="border: 0; background: transparent">
        <img src='http://www.onlygfx.com/wp-content/uploads/2016/05/hand-drawn-heart-1.png' width="150" height="150" alt="submit" />
      </button> -->
      <h1><%=@game.player_1.name%>: <%=@game.scorecard[@game.player_1.name]%> </h1>
      <h1><%=@game.player_2.name%>: <%=@game.scorecard[@game.player_2.name]%> </h1>



  </body>
</html>
