<%= @game.player1 %> Chose <%= @game.player1_selection %> <br>
<%= @game.player2 %> Chose <%= @game.player2_selection %> <br>
<%= @game.player1 %> <%= @game.player1_result %> <br>

<form action='/play'>
 <input type='submit' value='Play Again'>
</form>

<form action='/'>
 <input type='submit' value='New Player'>
</form>