<!DOCTYPE html>

<html class='spock'>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body class='spock_text'>
  <h1><%= @game.player.name %> has chosen <%= @player_choice %>!</h1>
  <h1>Player 2 has chosen <%= @game_choice %>!</h1>
  <% if @winner == "It's a draw!" %>
  <h1><%= @winner %></h1>
  <% else %>
  <h1><%= @winner %> is the winner!</h1>
  <% end %>
  <iframe src="//giphy.com/embed/Ctr1vr29rcdQ4" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/Ctr1vr29rcdQ4">via GIPHY</a></p>
</body>
</html>
