<div>
  <p> <%= @game.player1.name %> played <%= @game.player1.move %>.
</div>

<div>
  <p> <%= @game.player2.name %> played <%= @game.player2.move %>.
</div>

<div>
  <p> <%= @game.winner %> is the winner! </p>
</div>
