

	<% if @opponent.selection==nil %>
		<h2>Just waiting for your dastardly opponent to make a move! Tell <%=@opponent.name%> to get a move on!</h2>
	<% else %>	
		<% if @draw==true%> 
			<h2><%=@message%></h2>
		<% else %>
			<% if @winner == true %>
				<h2><%=@message%></h2>
			<% end %>
			<% if @player.selection!=nil && @opponent.selection!=nil  %>	
				<p>You chose <%=@player.selection.upcase %>, and <%@opponent.name%>chose <%=@opponent.selection.upcase %></p>
			<% end %>			
		<% end %>
	<% end %>

	<% if @player.selection==nil%>	
		<h2><%=@player.name%>, please choose your weapon!</h2>
		<form action='/<%=@form_direct_string%>' method="post">
		    Go Rock!<input id="rock" type="radio" name="selection" value="rock">
		    Go Paper!<input id="paper" type="radio" name="selection" value="paper">
		    Go Scissors!<input id="scissors" type="radio" name="selection" value="scissors">
			<input type="submit" name="go" value="Go!">
		</form>
	 
	 	<form action='/' method='get'>
	 		<input type="submit" name="quit" value="Quit current game">	
	 	</form>
	 <% end %>	