<head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div>

<center><font size=5><%=@player1_name%> chose <%=@player1_move%><br>
<%=@player2_name%> chose <%=@player2_move%><br>

<%=@result%><center></font>

</body>
