<!DOCTYPE html>
<html lang="en" dir="ltr">
<%= erb :header_partial %>
  <body>
    <div class="w3-center">
      <% if @win == 'draw' %>
        <h1>It was a Draw!</h1>
      <% elsif @win %>
        <h1>Congratulation! <%= @player1_name %>, you won!</h1>
      <% else %>
        <h1>Congratulation! <%= @player2_name %>, you won!</h1>
      <% end %>
      <p><%= @player1_name %> picked <%= @player1s_choice %>, <%= @player2_name %> <%= @player2s_choice %></p>
      <br>
      <h2>Play again?</h2>
      <form action="/two_player_play_again" method="get">
        <button class="w3-button w3-round-large w3-light-blue w3-medium" style="width:10%" value="play">Play!</button>
      </form>
    </div>
  </body>
</html>
