<body>
  <h1><%= @game.players[1].name %> has won the move!<h1>

    <% @game.players[1].add_points %>

    <h1><%= @game.players[0].name %> has got <%= @game.players[0].points %> points</h1>
    <h1><%= @game.players[1].name %> has got <%= @game.players[1].points %> points</h1>

    <div style="height:auto; margin: 0 auto; align:center;">
      <form method="link" action="/2check">
        <input type="submit" value="Play again">
      </form>
    </div>
  </body>

  <style>

  body {
    background-image: url("http://cdn.pcwallart.com/images/walle-wallpaper-3.jpg");
  }

  h1 {
    font-family: Comic Sans MS;
    font-size: 50px; color:red;
    text-align:center
  }

  form {
    width:10%; margin:30 auto
  }

  input[type=submit] {
    display: inline-block;
    border-radius: 20px;
    background-color: orange;
    border: none;
    color: #FFFFFF ;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  input[type=submit]:hover {
    border: 1px solid #999;
    color: red;
  }
  </style>
