<h1>Welcome <%= @game.player1.name %> and <%= @game.player2.name %> </h1>
<p><%= @game.player1.name %>: <%= @game.player1.score %> pts </p>
<p><%= @game.player2.name %>: <%= @game.player2.score %> pts </p>

<h1>Ready?</h1>
<a style="text-decoration:none;color:white" href="/first_player">
  <button style="width:400px; background-color:orange;color:black;font-size:40px;">Play</button>
</a>
