<%=@game.player_1.name.capitalize%> selected <%=@game.player_1.weapon.capitalize%></br>
<%=@game.player_2.name.capitalize%> selected <%=@game.player_2.weapon.capitalize%></br>
<%if @game.single_player%>
  You win!
<%else%>
  <%=@game.player_1.name.capitalize%> wins!
<%end%>
Play again?
 <form action="/play" >
      <input type="submit" value="Yes, please">
  </form>