<div class = "result">
  <h2><%= @game.player1.name %> chose <%= @game.player1.weapon %><br>
  <%= @game.player2.name %> chose <%= @game.player2.weapon %><br></h2>
  <h1><%= @game.player1.name %> wins!</h1><br>
  <form action='/play'>
    <input type='submit' value='Another Game!' class="button">
  </form>
</div>
