<head>
<style>
div.container {
  display: flex;
  align-items: center;
  justify-content: center
}
</style>
</head>

<div align="center">
  <br>
<h3>You win!</h3>
</div>
<br>
<div align="center">
  <form action="/play" method="get">
    <input type="submit" value="Next round">
  </form>
</div>
<br>
<div class = "container">
<div style="float:left;width:30%;" align="center">
  <p><%= @game.current_player.name %> chose <%= @game.current_player.weapon %></p>
  <%= get_image(@game.current_player.weapon) %>
</div>

<div class="container"><h2>VS</h2></div>

<div style="float:right;width:30%;" align="center">
  <p><%=@game.opponent.name%> chose <%= @game.opponent.weapon %></p>
  <%= get_image(@game.opponent.weapon) %>
</div>
</div>
