<div><%=@game.player1.name %> played <%=@game.player1.weapon %> </div>
<div><%=@game.player2.name %> played <%=@game.player2.weapon %> </div>
<div><%=@game.winner.name %> wins!</div>
<a href="/play">Play Again?</a>
