<%= @game.player1.name %> chose <%= "#{@game.player1.choice}" %>!<br>
<%= @game.player2.name %> chose <%= "#{@game.player2.choice}" %>!<br>
<%= @game.player1.name %> wins!<br>

<form action="/" value='/get'>
	<input type="submit" value="Play Again">
</form>