<!DOCTYPE html>
<html>
<head>
<title>Win RPSApp</title>
</head>
<body>

  <h1>This is a Heading</h1>
  <h2><%= @game.player_1.name %> won!</h2>
  <p><%= @game.player_1.name %> chose <%= @game.p1_weapon %></p>
  <p><%= @game.player_2.name %> chose <%= @game.p2_weapon %></p>
  <h2><%= @game.player_2.name %> lost!</h2>

  <a href="/play">Next Round</a>

</body>
</html>
