<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=@game.winner.name %> wins!</title>
  </head>
  <body>
    <div><%=@game.player1 %> played <%=@game.player1 %> </div>
    <div><%=@game.player2 %> played <%=@game.player2.weapon %> </div>
    <div><%=@game.winner %> wins!</div>
    <a href="/play">Play Again?</a>
  </body>
</html>
