<p><%= @game.player.name.capitalize %> plays <%= @game.player.move.capitalize %></p>
<p><%= @game.opponent.name.capitalize %> plays <%= @game.opponent.move.capitalize %></p>
<p> <%= @game.winner.name.capitalize %> wins!</p>