<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' type='text/css' href='/style.css' />
</head>
<body>
<div>
  <h1>Rock Paper Scissors Showdown</h1>
  <span style='padding:10px;'>
    <%= @game.player_one.name %> played <%= @game.player_one.weapon %>!
  </span>

  <span style='padding:10px;'>
    <%= @game.player_two.name %> played <%= @game.player_two.weapon %>!
  </span>

  <span style='padding:10px;'>
    <%= @game.winner_message %>
  </span>
</div>
</body>
