<style>
body {background-color: powderblue; text-align: center}</style>

<h2>Welcome to the game <%= @player_1_name %></h2>

<h2><%= @player_1_name %> chose <%= @choice %></h2></br></br>

<h2>Computer chose <%= @game.cchoice %></h2>

<h1>Winner is <%= @game.winner %></h1>

<h2><a href = "/one-player">Play Again?</a></h2>
