<% if $winner.winner1 == 'Player 1' %>
  <h1>You are the winner!</h1>
  <h2>Your Move: <%=$winner.player1.move%>
  <h2>Computer's Move: <%=$winner.computer_move%>
  <h3>PASSING TEST</h3>
<% elsif $winner.winner1 == 'Computer' %>
  <h1>You lost to the computer</h1>
  <h2>Your Move: <%=$winner.player1.move%>
  <h2>Computer's Move: <%=$winner.computer_move%>
  <h3>PASSING TEST</h3>
<% else %>
  <h1>It was a draw!</h1>
  <h2>Your Move: <%=$winner.player1.move%>
  <h2>Computer's Move: <%=$winner.computer_move%>
  <h3>PASSING TEST</h3>
<% end %>
