<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
  <title>
  </title>
</head>

<body>
  <center>
    <p class="item">
      <font color='<%=@name_colour%>'><%="#{@player_name}"%>
      </font> <br>
      <%= @weapon %> VS <%= @comp_hand %>
    </p>
    <h2><%= @result %></h2>

    <form action='/weapon_select' method='post' >
      <input type=submit value='play again?' >
      <input name='name_colour' value='<%=@name_colour%>' type='hidden'>
      <input name='player_name' value='<%=@player_name%>' type='hidden'>
    </form>

  </center>
</body>
</html>
