<head>

	<link type='text/css' rel='stylesheet' href='/stylesheet.css'/>

	<title>RPS - winner</title>

</head>

<body>

	<h2><%= @game.player1.name %>: <%= @game.player1_weapon.upcase %></h2>

<BR>

<h2><%= @game.player2.name %>: <%= @game.player2_weapon.upcase %></h2>

<BR>

<% if @game.winner %>

<h2>The winner is <%= @game.winner.name %></h2>

<% else %>

<h2>No winner this time - it was a draw!</h2>

<% end %>

<BR>

<h2><%= @game.player1.name %> has <%= @game.player1.points %> points</h2>

<BR>

<h2><%= @game.player2.name %> has <%= @game.player2.points %>	points</h2>

<BR>

<form action='/play' method='get'>
	<button>Play Again!</button>
</form>

<BR>

<form action='/' method='get'>
	<button>End Game</button>
</form>

</body>


