<%= @player_name %>: <%= @player_sign.capitalize %>
</br>
<%= @computer_name %>: <%= @computer_sign.capitalize %>
</br>
<%= @winner_name %> won!
</br>
</br>
<form action="/replay" method="get">
  <input type="submit" value="Play again">
</form>
