<font size="5" face="courier" color="blue">

<h1> <%= @game.winner %> won! </h1>

<h2> <%= @game.player.name %> attacked with <%= @game.player.move %> </h2>
<h2> <%= @game.computer.name %> attacked with <%= @game.computer.move %> </h2>
