<% if $game.outcome == 'Player 1' %>
  <h1>You are the winner!</h1>
  <h2>Your Move: <%=$game.player1.move%>
  <h2>Computer's Move: <%=$game.computer.move%>
<% elsif $game.outcome == 'Computer' %>
  <h1>You lost to the Computer</h1>
  <h2>Your Move: <%=$game.player1.move%>
  <h2>Computer's Move: <%=$game.computer.move%>
<% else %>
  <h1>It was a draw!</h1>
  <h2>Your Move: <%=$game.player1.move%>
  <h2>Computer's Move: <%=$game.computer.move%>
<% end %>
