<%= @player_name %> chose: <%= @player_choice %><br>
<%= @computer_name %> chose: <%= @computer_choice %>

<h1>And the winner is...</h1>
<%= @winner %>
<br>
<a href='/play'>Play another round</a>
<br>
<a href='/'>Start a new game</a>
