<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">

  <title>The Rock, The Paper and The Scissors</title>
  <meta name="description" content="The Rock, The Paper and The Scissors">

  <style>
    body {
      background-image: url('https://www.laserfiche.com/wp-content/uploads/2016/01/shutterstock_284660570-rs.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      margin-top: 1.5%;
      margin-left: 25%;
      width: 50%;
    }
    /* h1, h2, h3 { color: white;
    } */
  .main-text {
    color: white;
    text-align: center;
    background-color: brown;
  }
  .nav {
    text-align: center;
  }
  </style>

</head><

<body>

  <div class="nav">
  <form action="/play_1" method="get">
      <input type="submit" value="Play again">
  </form>
  <form action="/" method="get">
      <input type="submit" value="Home">
  </form>
  </div>

  <div class="main-text""><h1>The Rock, The Paper and The Scissors</h1>
  <h2> <%= @winner.player_1.name %> chooses <%= @winner.player_1.choice %> </h2>
  <h2> <%= @winner.player_2.name %> chooses <%= @winner.player_2.choice %> </h2>
  <h1> <%= @winner.winner %> </h1>
  </div>

</body>

</html>
