<div class="container">
  <p><%= @game.player.name.capitalize %> plays <%= @game.player.move.capitalize %> / <%= @game.opponent.name.capitalize %> plays <%= @game.opponent.move.capitalize %></p>

  <h3> <%= @game.winner.is_a?(String) ? @game.winner : @game.winner.name.capitalize %> wins!</h3>

  <a href="/">Play again?</a>
</div>