<style>
body {background-color: powderblue; text-align: center}</style>

<h2>Welcome to the game <%= @player_1_name %> and <%= @player_2_name %> </h2>

<h2><%= @player_1_name %> chose <%= @choice %></h2></br></br>

<h2> <%= @player_2_name %> chose <%= @choice2 %></h2>

<h1>Winner is <%= @gamemultiple.winner %></h1>
