<% if $winner.winner1 == 'Player 1' %>
  <h1>You are the winner!</h1>
  <h2>Your Move: <%=$winner.player1.move%>
  <h2>Player 2's Move: <%=$winner.player2.move%>
  <h3>PASSING TEST</h3>
<% elsif $winner.winner1 == 'Player 2' %>
  <h1>You lost to Player 2</h1>
  <h2>Your Move: <%=$winner.player1.move%>
  <h2>Player 2's Move: <%=$winner.player2.move%>
  <h3>PASSING TEST</h3>
<% else %>
  <h1>It was a draw!</h1>
  <h2>Your Move: <%=$winner.player1.move%>
  <h2>Player 2's Move: <%=$winner.player2.move%>
  <h3>PASSING TEST</h3>
<% end %>
