<head><script src="https://kit.fontawesome.com/bf47482c68.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<style>
body {background-color: powderblue; text-align: center; font-family: 'Montserrat', sans-serif;}
a {
  color: #609096;
}
</style>

<h2>Welcome to the game <%= @player_1_name %> and <%= @player_2_name %> </h2>

<h2><%= @player_1_name %> chose <%= @choice %></h2></br></br>

<h2> <%= @player_2_name %> chose <%= @choice2 %></h2>

<h1>Winner is <%= @gamemultiple.winner %></h1>

<h2><a href = "/two-player">Play Again?</a></h2>
