<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- defining our character set and title -->
    <meta charset="utf-8">
    <title>RPS Winner</title>
  </head>

  <body>
    <p><%= @game.return_name(1) %> chose <%= @game.return_move(1) %></p><br>
    <p><%= @game.return_name(2) %> chose <%= @game.return_move(2) %></p><br>
    <p><%= @game.result %></p><br>

    <form action="/play">
        <input type="submit" value="Play again?">
    </form>

    <form action="/">
        <input type="submit" value="Restart?">
    </form>
  </body>
</html>
