<h1>Rock, Paper, Scissors</h1>

<!-- <p><i>Staring <b><%= @players %></b> against <b><%= @players %></b> </i></p>  -->

<% if !@gameover %>
  
  <p><%= @countmessage %></p>
  <p style="color: red" ><%= @tie %></p>
  

  <p>Hello <%= session[:playername] %>, please choose one of the following weapons:</p>

  <form action="/game" method="POST" id="rps">
    <input type="radio" name="weapon" value="rock" id="rock" >Rock
    <br>
    <input type="radio" name="weapon" value="paper" id="paper">Paper
    <br>
    <input type="radio" name="weapon" value="scissor" id="scissor">Scissor
    <br>
    <input type="submit" name="choose_weapon" value="Choose">
  </form>

<% else %>
  <p><%= @countmessage %></p>
  <p>Game is over</p>
  <a href="/playagain">Play again</a>
<% end %>

