
<%= @game.player1.name.capitalize %> chose <%= @game.player1.choice %>! <br>
<%= @game.player2.name.capitalize %> chose <%= @game.player2.choice %>! <br>

<% if @game.winner == 'Tie' %>
It's a tie!
<% end %>
<% if @game.winner != 'Tie' %>
<%= @game.winner.name.capitalize %> won!
<% end %>

<br>

<a href='/multi_play1'> Play again! </a> <br>
<a href='/'> New game! </a>
