  <h2>One Player Game</h2>

  <% if get_player.name %>

    <% if get_player.selection %>
      <p>You chose <%= get_player.selection.upcase %>, and the computer chose <%= @computer_choice.upcase %></p>
      <% if @result == :draw %> 
        <h2>Wooah, that one was a draw</h2>
      <% elsif @result == get_player.selection %>
        <h2>Congratulations <%= get_player.name %>, you won!</h2>
      <% else %>
        <h2>Unlucky, <%= current_player.name %>, you lost</h2>  
      <% end %>   
    <% end %> 
    
    <h2><%= get_player.name %>, please select your move!</h2> 

    <form action='/one_player' method="post">
      <input id="rock" type="submit" name="rock" value="Rock">
      <input id="paper" type="submit" name="paper" value="Paper">
      <input id="scissors" type="submit" name="scissors" value="Scissors">
    </form>

    <form action='/' method='get'>
      <input type="submit" name="quit" value="Quit current game"> 
    </form>
  
  <% else %>
    
    <h2>Please enter your name below!</h2>

    <form action='/one_player' method="post">
        <input type="text" name="name">
        <input type="submit" name="submit" value="Submit">
    </form>

  <% end %>  




