<h2><%= @game.player1.name %> chose <%= @game.player1.move %>!</h2>
<h2><%= @game.player2.name %> chose <%= @game.player2.move %>!</h2>

<h1><%= @game.print_outcome %></h1>

<form action="/">
  <button type="submit" value="submit">Menu</button>
</form>

<form action="/choice">
  <button type="submit" value="submit">Replay</button>
</form>
