<style>
  h2 { font-family:helvetica,sans-serif;color:white }
  p { font-family:helvetica,sans-serif;color:white }
</style>
<body style="background-color:powderblue;">
  <center>
  <br>
  <h2><%= @name1 %> picked <%= @pick1 %>.</h2>
  <h2><%= @name2 %> picked <%= @pick2 %>.</h2>
  <h2><%= @name2 %> wins!</h2>
  <h1>&#x1F389 &#x1F389 &#x1F389</h1>
  <p><a href='/play'>Play again</a></p>
  </center>
</body>
