<h2> <%=@game.players[0].name%> vs. <%=@game.players[1].name%> </h2> <br>
<form action='/choice'>
  <button type='submit' value='Rock' name='choice'>Rock</button>
</form>
<form action='/choice'>
  <button type='submit' value='Paper' name='choice'>Paper</button>
</form>
<form action='/choice'>
  <button type='submit' value='Scissors' name='choice'>Scissors</button>
</form> <br>

<% if !!@choices %>
  <%=@game.players[0].name%> chose <%=@choices[0]%>! <br>
  <%=@game.players[0].name%> chose <%=@choices[1]%>! <br>
<% end %>
