<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RPSLS</title>
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/game.css">
    </head>
    <body>
      <div class="game_info_container">
        <div class="player1_info">
          <h1><%= @game.player1.name %>:   <%= @game.score[0] %></h1>
        </div>
        <div class="player2_info">
          <h1><%= @game.player2.name %>:   <%= @game.score[1] %></h1>
        </div>
      </div>
          <% if !@game.result %>
              <div class="controls">
                <button type="button" class="selector" name="button">Rock</button>
                <button type="button" class="selector" name="button">Paper</button>
                <button type="button" class="selector" name="button">Scissors</button>
                <button type="button" class="selector" name="button">Lizard</button>
                <button type="button" class="selector" name="button">Spock</button>
              </div>
          <% else %>
            <% if @game.result.to_s == "draw" %>
                <h2>It's a draw</h2>
            <% else %>
                <h2><%= @game.winner.name %> wins!</h2>
          <% end %>
          <form action='/play_again' method='post'>
            <input type='submit' value='Play again'>
          </form>
        </div>
    </body>
