<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RPSLS</title>
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/game.css">
    </head>
    <body>
        <div class="grid-container">
          <div id="left-well" class="<%= @game.current_player == @game.player1 ? "selected" : "unselected" %>">
              <div class="img-container">
                  <img src="/player1.png" alt="player1">
              </div>
              <div class="player_details">
                  <p>Avatar: Scorpion</p>
                  <p>Player: <%= @game.player1.name %></p>
                  <p id="p1_health"><%= @game.player1.health %>HP</p>
              </div>
          </div>
          <div id="right-well" class="<%= @game.current_player == @game.player2 ? "selected" : "unselected" %>">
              <div class="img-container">
                  <img src="/nigel.png" alt="player2">
              </div>
              <div class="player_details">
                  <p>Avatar: Nigel</p>
                  <p>Player: <%= @game.player2.name %></p>
                  <p id="p2_health"><%= @game.player2.health %>HP</p>
              </div>
          </div>
          <% if !@game.over? && !@game.current_player.is_a?(Ai) %>
              <div class="controls">
                <h2><%= @game.attack_message %></h2>
                <h2>Player Controls</h2>
                <form action='/attack' method='post'>
                  <input class="control_button" type='submit' id='attack' value='Attack'>
                </form>
              </div>
              <div class="gif-container">
                  <img src="https://media.giphy.com/media/CatCCFZa6U8nK/giphy.gif">
              </div>
          <% elsif !@game.over? %>
            <h2>The computer is playing now</h2>
          <% else %>
          <h2>GAME OVER!</h2>
          <div class="gif-container">
              <img src="https://media.giphy.com/media/6drjXn0BgRaaQ/giphy.gif">
          </div>
          <% end %>
        </div>
    </body>
</html>

<form action='/single' method='post'>
  <input type='submit' value='1 player'>
</form>
<form action='/double' method='post'>
  <input type='submit' value='2 player'>
</form>
