<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <%=@game.player1.name%> chose <%=@game.player1.weapon%>
      <br>
      <%=@game.player2.name%> chose <%=@game.player2.weapon%>
      <br>
      <% if @game.winner == @game.player1 %>
      <%=@game.player1.weapon%> beats <%=@game.player2.weapon%>
      <br>
      <%=@game.player1.name%> wins this round
      <% elsif @game.winner == @game.player2 %>
      <%=@game.player2.weapon%> beats <%=@game.player1.weapon%>
      <br>
      <%=@game.player2.name%> wins this round
      <% else %>
      <%=@game.player1.weapon%> cancels out <%=@game.player2.weapon%>
      <br>
      'It's a draw!'
      <%end%>
      <br>

      <% if @game.champion? == true %>
      <%= @game.winner.name%> is the Champion
      <form action="/">
        <button name="Play Again">Play Again</button>
      </form>
      <% else%>
      <form action="/play">
        <button name="Next Round">Next Round</button>
      </form>
      <%end%>
    </center>

  </body>
</html>
