<h1 style="text-align:center; font-size:100px"><%= @player_1_name %> picked <%= @choice_1 %> </h1>
<h1 style="text-align:center; font-size:100px"><%= @player_2_name %> picked <%= @choice_2 %> </h1>

<% if @result == "Player 1 Wins" %>
<h1 style="text-align:center; font-size:100px"> <%= @player_1_name %> Wins! </h1>
<% elsif @result == "Draw" %>
<h1 style="text-align:center; font-size:100px">It's a Draw!</h1>
<% else %>
<h1 style="text-align:center; font-size:100px"><%= @player_2_name %> Wins!</h1>
<% end %>

<h2 style="text-align:center">
<form action="/player-1-choice">
  <button name="play_again" type="submit" value="Play Again?" style="text-align:center; font-size:30px;">Play Again?</button>
</form>
</h2>
