<h1>Rock, Paper, Scissors</h1>

<% if @winner != 'Draw' %>

<h2>You have chosen <%= @choice %>.</h2>

<h2>The computer has chosen <%= @computer %>. <%= @winner %>wins!</h2>

<% else %>

<h2>You have chosen <%= @choice %> The computer has chosen <%= @computer %>. It's a <%= @winner %>!</h2>

<% end %>
