<h1>The Rock, Paper, Scissors Arena!</h1>

<h2><%= @game.player.name %> chose <%= @game.player.weapon %>!</h2>

<h3><%= @game.player.name %>won! Computer: <%= @game.computer.weapon %> vs. <%= @game.player.name %>: <%= @game.player.weapon %>!</h3>

Rosie won! Computer: scissors vs. Rosie: rock
