This game is a tie!
<br>
<br>
<%= @game.player_name %> and <%= @game.two_player? ? @game.opponent_name : "the robot" %> both picked
<%= @game.moves[1] %>
<br>
<br>
<table>
  <tr>
    <th><%= @game.player_name %>'s Wins</th>
    <th><%=  @game.two_player? ? @game.opponent_name : "Zip Zapper" %>'s Wins</th>
    <th>Draws</th>
  </tr>
  <tr>
    <td><%= @game.scorecard[:player].to_s %></td>
    <td><%= @game.scorecard[:opponent].to_s %></td>
    <td><%= @game.scorecard[:draws].to_s %></td>
  </tr>
</table>
<form>
  <button style="height:25px" formaction="/play_again" formmethod="POST" type="submit">Play again</a>
</form>
<form>
  <button style="height:25px" formaction="/" formmethod="GET" type="submit">New Game</a>
</form>