<h2><%=@p1_name%> selected <%=@p1_weapon%> </h1>
<h2><%=@p2_name%> selected <%=@p2_weapon%> </h1>
<h1><%=@p1_name%> wins! </h1>
<h1>Well done <%=@p1_name%>! </h1>

<h10>You suck <%=@p2_name%>... </h10>
<br>

<a href='/'>
    <button class="GFG">
        New game?
    </button>
</a>